<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR CONTRATISTA PARA  {{razon_social}}</h5>
                        </div>
                        <div class="card-body">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="nombre">Nombre</label>
                                                <input class="form-control" v-model="formulario.nombre" id="nombre"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="apellido">Apellido</label>
                                                <input class="form-control" v-model="formulario.apellido" id="apellido"
                                                       type="text"/>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label>Fecha Inicio</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha_inicio"
                                                    type="date"
                                                    placeholder="Pick a day">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label>Fecha Fin</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha_fin"
                                                    type="date"
                                                    placeholder="Pick a day">
                                                </el-date-picker>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="usuario">Usuario</label>
                                                <input class="form-control" v-model="formulario.usuario" id="usuario"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="password">Contraseña</label>
                                                <input class="form-control" v-model="formulario.password" id="password"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                                    <br>
                            <div style="text-align: center;">
                                <button class="btn btn-success" type="button" @click="guardar" >Registrar</button>
                            </div>

                                </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>LISTA DE CONTRATISTAS</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <el-select v-model="selectActivo" placeholder="Buscar por"   clearable>
                                                    <el-option
                                                        v-for="select in arraySelectActivo"
                                                        :key="select.id"
                                                        :label="select.nombre"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <template v-if="selectActivo == '1' ">
                                                <div class="col">
                                                    <el-select v-model="busquedaActivo" placeholder="Seleccione"   clearable>
                                                        <el-option
                                                            v-for="select in arrayPersona"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </template>
                                            <template v-else>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <el-date-picker
                                                            v-model="busquedaActivo"
                                                            type="daterange"
                                                            range-separator="A"
                                                            start-placeholder="Inicio"
                                                            end-placeholder="Fin"
                                                            format="dd/MM/yyyy"
                                                            value-format="yyyy-MM-dd">
                                                        </el-date-picker>
                                                    </div>
                                                </div>
                                            </template>
                                            <div class="col">
                                                <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                    Buscar</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" >
                                                <thead>
                                                <tr class="border-bottom-primary">
                                                    <th>Nombres</th>
                                                    <th>Fecha Fin</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrayListActivo.length">
                                                <tr v-for="row in arrayListActivo" :key="row.id" class="border-bottom-success">
                                                    <td v-text="row.full_name"></td>
                                                    <td v-text="row.fecha_fin"></td>
                                                    <td>
                                                        <router-link :to="{name:'homologacion.revisor.encuesta',params:{id:row.id}}" v-tooltip="'Revisar Encuesta'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-folder-o fa-lg fa-2x" style="color: green"></i></router-link>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tbody v-else>
                                                <tr>
                                                    <td colspan="5">
                                                        No hay Contratistas
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Nombres</th>
                                                    <th>Fecha Fin</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <div class="card">
                                                <div class="card-body">
                                                    <nav class="m-b-30" aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center pagination-success">
                                                            <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                            </li>
                                                            <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                            </li>
                                                            <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div style="text-align: center;">
                                        <router-link :to="{name:'homologacion.revisor.dashboard.index'}" class="btn btn-danger"
                                                     type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras
                                        </router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data() {
            return {
                formulario: {
                    nombre:'',
                    apellido:'',
                    fecha_inicio:'',
                    fecha_fin:'',
                    usuario:'',
                    password:''
                },
                fullscreenLoading: false,
                errorEquipo: '',
                id:this.$attrs.id,
                razon_social:'',
                selectActivo:'0',
                busquedaActivo:'',
                arraySelectActivo:[
                    {id:'0',nombre:'Fecha'},
                    {id:'1',nombre:'Persona'}
                ],
                arrayListActivo:[],
                paginationActivo : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offsetActivo : 3,
            }
        },
        methods: {
            guardar() {
                let me = this;
                axios.post('/monitoreo/homologacion/addClienteHijo',{
                    'formulario':this.formulario
                }).then(function (response) {
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Agrego Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        me.$router.push('/homologacion/revisor');
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }
                }).catch(error => {
                    me.errorEquipo = error.response.data.errors;
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            getData(){
                this.fullscreenLoading = true;
                axios.post('/monitoreo/homologacion/getdataCliente',{'id':this.id}).then(resp =>{
                    this.razon_social =resp.data[0].razon_social;
                    this.fullscreenLoading = false;
                })
            },
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/homologacion/listarContratista?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'id':this.id}}).then((response) => {
                    console.log(response);
                    this.arrayListActivo =response.data.lista.data;
                    this.paginationActivo=response.data.pagination;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error 504'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            cambiarPaginaActivo(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.paginationActivo.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        mounted() {
            this.getData();
            this.list(1,this.selectActivo,this.busquedaActivo);
        },
        computed:{
            isActivedActivo: function(){
                return this.paginationActivo.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumberActivo: function() {
                if(!this.paginationActivo.to) {
                    return [];
                }

                var from = this.paginationActivo.current_page - this.offsetActivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetActivo * 2);
                if(to >= this.paginationActivo.last_page){
                    to = this.paginationActivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
    }

</script>

<style scoped>
    legend {
        font-size: medium;
        color: #00f;
    }

</style>
