<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR CLIENTE</h5>
                        </div>
                        <div class="card-body">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="razon_social">Razon Social</label>
                                                <input class="form-control" v-model="formulario.razon_social" id="razon_social"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="ruc">Ruc</label>
                                                <input class="form-control" v-model="formulario.ruc" id="ruc"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="descripcion">Descripción</label>
                                                <input class="form-control" v-model="formulario.descripcion"
                                                       id="descripcion" type="text"/>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="usuario">Usuario</label>
                                                <input class="form-control" v-model="formulario.usuario" id="usuario"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="password">Contraseña</label>
                                                <input class="form-control" v-model="formulario.password" id="password"
                                                       type="text"/>
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                                    <br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar">
                                        Guardar
                                    </button>
                                    <router-link :to="{name:'homologacion.revisor.dashboard.index'}" class="btn btn-danger nextBtn pull-left"
                                                 type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras
                                    </router-link>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data() {
            return {
                formulario: {
                    razon_social:'',
                    ruc:'',
                    descripcion:'',
                    usuario:'',
                    password:''
                },
                fullscreenLoading: false,
                errorEquipo: '',
            }
        },
        methods: {
            guardar() {
                let me = this;
                axios.post('/monitoreo/homologacion/addCliente',{
                    'formulario':this.formulario
                }).then(function (response) {
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Agrego Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        me.$router.push('/homologacion/revisor');
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }
                }).catch(error => {
                    me.errorEquipo = error.response.data.errors;
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },

        },
        mounted() {
        }
    }

</script>

<style scoped>
    legend {
        font-size: medium;
        color: #00f;
    }

</style>
