<template>
    <div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h5>ASIGNAR PROYECTO</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col">
                                            <label>Código Proyecto <small class="form-control-feedback" >( * )</small></label><br>
                                            <el-select v-model="formulario.codigo" placeholder="Seleccione" @change="proyectoCodigo" style="width: 100%;" filterable >
                                                <el-option
                                                    v-for="item in arrayCodigo"
                                                    :key="item.id"
                                                    :label="item.codigo"
                                                    :value="item.id">
                                                    <span style="float: left">{{ item.codigo }}</span>
                                                    <span style="float: right; color: #8492a6; font-size: 13px">{{ item.razon_social }}</span>
                                                </el-option>
                                            </el-select>
                                            <small class="form-control-feedback" v-if="errorEquipo['formulario.codigo']" v-text="errorEquipo['formulario.codigo'][0]"></small>
                                        </div>
                                        <div class="col">
                                            <label>Empresa</label><br>
                                            <el-input readonly v-model="formulario.empresa" v-loading="loading"></el-input>
                                            <small class="form-control-feedback" v-if="errorEquipo['formulario.empresa']" v-text="errorEquipo['formulario.empresa'][0]"></small>
                                        </div>
                                    </div><br>
                                    <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                    <br><br>
                                    <fieldset>
                                        <legend>Asignar Responsable con Equipos de Medición</legend>
                                        <div class="row">
                                            <div class="col" style=" text-align: center;">
                                                <el-button type="success" @click="agregar()" round>AGREGAR RESPONSABLE CON EQUIPOS</el-button>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <small class="form-control-feedback" v-if="errorEquipo['arrayListResponsableEquipo']" v-text="errorEquipo['arrayListResponsableEquipo'][0]"></small>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Cod.Interno</th>
                                                        <th>Responsable</th>
                                                        <th>Equipo</th>
                                                        <th>Serie Equipo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListResponsableEquipo.length">
                                                    <tr v-for="(dispositivo,index) in arrayListResponsableEquipo" :key="dispositivo.id" class="border-bottom-success">
                                                        <th v-text="dispositivo.codigo"></th>
                                                        <th v-text="dispositivo.nombreResponsable"></th>
                                                        <td v-text="dispositivo.nombreEquipo"></td>
                                                        <td v-text="dispositivo.serieEquipo"></td>
                                                        <td>
                                                            <a @click="agregar(dispositivo,index)" type="button">
                                                                <i class="fa fa-edit fa-2x" style="color: green"></i>
                                                            </a>/
                                                            <a @click="eliminar(index,dispositivo)" type="button" >
                                                                <i class="fa fa-trash fa-2x" style="color: red"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="6">
                                                            No hay Responsables
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Cod.Interno</th>
                                                        <th>Responsable</th>
                                                        <th>Equipo</th>
                                                        <th>Serie Equipo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </fieldset><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link to="/asignacion" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <servicio :showDialog.sync="dialogVisible" :idasig="idasig" :codigo="formulario.codigo" :array="arrayListResponsableEquipo"
        :objeto="objeto"></servicio>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
import servicio from "./servicio";
export default {
    components:{servicio},
    data(){
        return{
            arrayCodigo:{},
            formulario:{
                codigo:'',
                empresa:'',
                id:null
            },
            fullscreenLoading:false,
            errorEquipo:'',
            loading:false,
            loadingtb:false,
            arrayListResponsableEquipo:[],
            arrEquipo:[],
            arrResponsable:[],
            dialogVisible: false,
            idasig:'',
            objeto:''
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading=true;
            let me = this;
            this.filter();
            axios.post('/monitoreo/asignacion/addOrUpdate',{
                'formulario':this.formulario,
                'arrayListResponsableEquipo':this.arrayListResponsableEquipo,
                'arrEquipo':this.arrEquipo,
                'arrResponsable':this.arrResponsable
            }).then(function (response) {
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: response.data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    me.$router.push('/asignacion');
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.data.message
                    });
                }
            }).catch(error => {
                if (error.response.status === 422) {
                    me.errorEquipo = error.response.data.errors;
                    window.scroll({
                        top:100,
                        left:100,
                        behavior:'smooth'
                    });
                }
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    localStorage.clear();
                }
            }).then( () =>{
                this.fullscreenLoading=false;
            })
        },
        eliminar(val,objeto) {
            Swal.fire({
                title: 'Estas seguro de Eliminar el Codigo '+objeto.codigo+'?',
                text: 'con Equipo:'+objeto.nombreEquipo+' y el Responsable: '+objeto.nombreResponsable+'!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar!'
            }).then((result) => {
                if (result.value) {
                    this.arrayListResponsableEquipo.splice(val, 1);
                    Swal.fire(
                        'Elimidado!',
                        'Eliminado de la lista.',
                        'success'
                    )
                }
            }).catch(error =>{
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    localStorage.clear();
                }
            });
        },
        getData(){
            this.fullscreenLoading=true;
            axios.get('/monitoreo/asignacion/getCodigo').then(response =>{
                this.arrayCodigo=response.data.proyectos;
                this.fullscreenLoading=false;
            }).catch(error =>{
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    localStorage.clear();
                }
            });
        },
        proyectoCodigo(e){
            this.loading=true;
            axios.post('/monitoreo/asignacion/getProyectos',{'idproyecto':e}).then(response =>{
                this.formulario.empresa=response.data[0].razon_social;
                this.loading=false;
            }).catch(error =>{
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    localStorage.clear();
                }
            });
        },
        agregar(objeto=null,id = null){
            if (this.formulario.codigo){
                this.idasig=id;
                this.objeto=objeto;
                this.dialogVisible = true;
            }else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Seleccione Codigo de Proyecto'
                });
            }
        },
        filter(){
            this.arrResponsable=[];
            this.arrEquipo=[];
            var hash = {};
            let arrayResponsable = this.arrayListResponsableEquipo.filter(function(current) {
                var exists = !hash[current.responsable];
                hash[current.responsable] = true;
                return exists;
            });
            arrayResponsable.map(item =>{
                this.arrResponsable.push(item.nombreResponsable);
            });
            var hash1 = {};
            let arrayEquipo = this.arrayListResponsableEquipo.filter(function(current) {
                var exists = !hash1[current.equipos];
                hash1[current.equipos] = true;
                return exists;
            });
            arrayEquipo.map(item =>{
                this.arrEquipo.push(item.nombreEquipo.concat(',',item.serieEquipo));
            });
        }
    },
    mounted() {
        this.getData();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
small{
    color: red;
}
</style>
