<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close"
               @open="create" :before-close="handleClose">
        <form class="form" autocomplete="off" @submit.prevent="submit">
            <div class="alert alert-primary" role="alert">
                <h3 class="alert-heading">Fechas del Proyecto</h3>
                <span style="text-align: center">Fecha Inicio {{fecha_inicio | formatDate}}</span>
                <span style="text-align: center">Fecha Fin {{fecha_fin | formatDate}}</span>
            </div>
            <div class="row">
                <div class="col">
                    <label>Codigo Interno <small class="form-control-feedback" >( * )</small></label>
                    <el-select v-model="form.codigo_interno" v-loading="loading_data" placeholder="Seleccione" filterable style="width: 100%;" >
                        <el-option
                            v-for="item in arrayCodInt"
                            :key="item.id"
                            :label="item.full_name_servicio"
                            :value="item.id"
                        >
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.codigo_interno']" v-text="errors['form.codigo_interno'][0]"></small>
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label>Responsable <small class="form-control-feedback" >( * )</small></label>
                    <el-select v-model="form.responsable"  placeholder="Seleccione" filterable style="width: 100%;" v-loading="loading_data">
                        <el-option
                            v-for="item in arrayResponsable"
                            :key="item.id"
                            :label="item.full_name"
                            :value="item.id">
                            <span style="float: left">{{ item.nombre }}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.apellido }}</span>
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.responsable']" v-text="errors['form.responsable'][0]"></small>
                </div>
                <div class="col">
                    <label>Equipo de Medición <small class="form-control-feedback" >( * )</small></label>
                    <el-select v-model="form.equipos" @change="otrosEquipo($event)"  placeholder="Seleccione" filterable style="width: 100%;" v-loading="loading_data">
                        <el-option
                            v-for="item in arrayEquipos"
                            :key="item.id"
                            :label="item.full_equipo"
                            :value="item.id">
                            <span style="float: left">{{ item.nombre }}</span>
                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.serie }}</span>
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.equipos']" v-text="errors['form.equipos'][0]"></small>
                </div>
            </div><br>
            <template v-if="otros == 1" >
                <label>Descripción</label>
                <el-input
                    v-loading="loading_otros"
                    type="textarea"
                    :rows="2"
                    v-model="form.descripcion">
                </el-input>
            </template><br>
            <div class="row">
                <div class="col">
                    <label>Fecha de Inicio <small class="form-control-feedback" >( * )</small></label><br>
                    <el-date-picker
                        v-model="form.finicio"
                        type="date"
                        format="dd/MM/yyyy"
                        value-format="yyyy/MM/dd"
                        style="width: 100%;">
                    </el-date-picker>
                    <small class="form-control-feedback" v-if="errors['form.finicio']" v-text="errors['form.finicio'][0]"></small>
                </div>
                <div class="col">
                    <label>Fecha de Termino <small class="form-control-feedback" >( * )</small></label><br>
                    <el-date-picker
                        v-model="form.ffin"
                        type="date"
                        format="dd/MM/yyyy"
                        value-format="yyyy/MM/dd"
                        style="width: 100%;">
                    </el-date-picker>
                    <small class="form-control-feedback" v-if="errors['form.ffin']" v-text="errors['form.ffin'][0]"></small>
                </div>
            </div><br>
            <br>
            <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
            <br>
            <div class="col-12" align="center">
                <el-button type="success" round native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "servicio",
        props: ['showDialog','idasig','codigo','array','objeto'],
        data(){
            return{
                titleDialog : null,
                loading_submit: false,
                errors:{},
                innerVisible:false,
                form:{
                },
                arrayCodInt:[],
                arrayResponsable:[],
                arrayEquipos:[],
                loading_data:false,
                loading_otros:false,
                estado:'',
                fecha_inicio: '',
                fecha_fin: '',
                old_from:[],
                otros:0
            }
        },
        methods:{
            initFrom(){
                this.errors={};
                this.id='';
                this.form={
                };
                this.otros = 0;
            },
            submit(){
                this.loading_submit = true;
              if (this.encuentraCodigo(this.form.idcodInterno)){
                  this.$message.error("El Codigo Interno Seleccionado ya esta Agregado");
                  this.loading_submit = false;
              }else {
                  axios.post('/monitoreo/asignacion/valServicio',{
                      'form':this.form,
                      'fecha_inicio':this.fecha_inicio,
                      'fecha_fin':this.fecha_fin,
                      'old_from':(this.old_from) ? this.old_from : null
                  }).then(response =>{
                      if (response.data.success == true){
                          Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: this.estado,
                              showConfirmButton: false,
                              timer: 1500
                          });
                          if (this.estado == 'MODIFICADO'){
                              this.updateData(response.data.equipos.nombre,response.data.equipos.serie,response.data.responsable.nombre,response.data.codigo.codigo);
                          }else {
                              this.createData(response.data.equipos.nombre,response.data.equipos.serie,response.data.responsable.nombre,response.data.codigo.codigo);
                          }
                          this.$eventHub.$emit('reloadData');
                          this.close()
                      }else {
                          Swal.fire({
                              icon: 'error',
                              title: 'Oops...',
                              text: response.data.message
                          });
                      }
                  }).catch(error =>{
                      if (error.response.status == 422) {
                          this.errors = error.response.data.errors
                      }
                      if (error.response.status == 419) {
                          this.$router.push({name: 'login'});
                          location.reload();
                          localStorage.clear();
                      }
                  }).then( ()=>{
                      this.loading_submit = false;
                  })
              }
            },
            create(){
                this.titleDialog = (this.objeto) ?'Editar Responsable e Equipo de Medición':'Elegir Responsable e Equipo de Medición';
                this.estado='AGREGADO';
                if (this.objeto){
                    this.form = this.objeto;
                    this.old_from.push(this.objeto.responsable,this.objeto.equipos);
                    this.estado='MODIFICADO';
                    if (this.objeto.descripcion){
                        this.otros = 1;
                    }else {
                        this.otros = 0;
                    }
                }
                this.getData();
            },
            updateData(equipoNombre,equipoSerie,responsable,codigo){
                this.array[this.idasig].id = this.form.id;
                this.array[this.idasig].codigo_interno = this.form.codigo_interno;
                this.array[this.idasig].codigo = codigo;
                this.array[this.idasig].responsable = this.form.responsable;
                this.array[this.idasig].nombreResponsable = responsable;
                this.array[this.idasig].equipos = this.form.equipos;
                this.array[this.idasig].nombreEquipo = equipoNombre;
                this.array[this.idasig].serieEquipo = equipoSerie;
                this.array[this.idasig].finicio = this.form.finicio;
                this.array[this.idasig].ffin =this.form.ffin;
                this.array[this.idasig].descripcion =this.form.descripcion;
            },
            createData(equipoNombre,equipoSerie,responsable,codigo){
                this.array.push({
                    id:null,
                    codigo_interno:this.form.codigo_interno,
                    codigo:codigo,
                    responsable:this.form.responsable,
                    nombreResponsable:responsable,
                    equipos:this.form.equipos,
                    nombreEquipo:equipoNombre,
                    serieEquipo:equipoSerie,
                    finicio:this.form.finicio,
                    ffin:this.form.ffin,
                    descripcion:(this.form.descripcion) ? this.form.descripcion : null
                });
            },
            getData(){
                this.loading_data=true;
                axios.get('/monitoreo/asignacion/getCodigo',{params:{'idproyecto':this.codigo,'estado':this.estado}}).then(response =>{
                    this.arrayResponsable=response.data.responsables;
                    this.arrayEquipos=response.data.equipos;
                    this.arrayCodInt=response.data.codigos;
                    this.fecha_inicio=response.data.fechas[0].fecha_inicio;
                    this.fecha_fin=response.data.fechas[0].fecha_fin;
                    this.loading_data=false;
                }).catch(error =>{
                    if (error.response.status == 419) {
                        this.$router.push({name: 'login'});
                        location.reload();
                        localStorage.clear();
                    }
                })
            },
            encuentraCodigo(id){
                var sw=0;
                if (this.form.codigo_interno == id){
                    sw=false;
                }else {
                    for(var i=0;i<this.array.length;i++){
                        if(this.array[i].codigo_interno==id){
                            sw=true;
                        }
                    }
                }
                return sw;
            },
            otrosEquipo(id){
                this.loading_otros=true;
              axios.post('/monitoreo/asignacion/searchid',{'idequipo':id}).then(response=>{
                  if (response.data[0].nombre == 'OTROS'){
                      this.otros = 1;
                  }else {
                      this.otros = 0;
                  }
              }).catch(error =>{
                  if (error.response.status == 419) {
                      this.$router.push({name: 'login'});
                      location.reload();
                      localStorage.clear();
                  }
              }).then( ()=>{
                  this.loading_otros=false;
              })
            },
            handleClose(done) {
                this.$confirm('Estas Seguro de Cerrar?')
                    .then(_ => {
                        this.initFrom();
                        done();
                    })
                    .catch(_ => {});
            },
            close(){
                this.$emit('update:showDialog',false);
                this.initFrom();
            },
        },
    }
</script>

<style scoped>
    small{
        color: red;
    }
    .has-danger {
        color: #dc3545;
    }
</style>
