<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <template v-if="estado == 0">
                        <div class="card">
                            <div class="card-header">
                                <h5>VISUALIZAR EMPRESA <a @click="editar(1)" href="javascript:void(0)" v-tooltip="'Editar'" ><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></a></h5>
                            </div>
                            <div class="card-body">
                                <form action="#">
                                    <div class="col-xs-12">
                                        <div v-if="errorCliente" class="alert alert-danger" role="alert">
                                            <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                            <div v-for="(v,k) in errorCliente" :key="k">
                                                <p v-for="error in v" :key="error" class="mb-0">
                                                    {{error}}
                                                </p>
                                            </div>
                                        </div>
                                        <fieldset>
                                            <legend>DATOS DE LA EMPRESA</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Ruc <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="formulario.ruc" type="text" readonly />
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <button class="btn btn-success" @click.prevent="apiRuc"  type="button">Buscar Ruc</button>
                                                </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col">
                                                    <label >Razón Social <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="formulario.razon_social" readonly  type="text" />
                                                </div>
                                                <div class="col">
                                                    <label>Domicilio Fiscal <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control"  v-model="formulario.domicilio_fiscal" readonly type="text" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label >Actividad Económica <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control"  v-model="formulario.actividad_economica" readonly autocomplete="off" type="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 col-md-4">
                                                    <label>Departamento <small class="form-control-feedback" >( * )</small></label><br>
                                                    <el-select v-model="formulario.departamento"  filterable @change="provincia" readonly placeholder="Seleccionar" style="width: 100%"   clearable>
                                                        <el-option
                                                            v-for="select in arrayDepartamento"
                                                            :key="select.id"
                                                            :label="select.departamento"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <label>Provincia <small class="form-control-feedback" >( * )</small></label><br>
                                                    <el-select v-model="formulario.provincia" filterable @change="distrito" readonly placeholder="Seleccionar" style="width: 100%"  clearable>
                                                        <el-option
                                                            v-for="select in arrayProvincia"
                                                            :key="select.id"
                                                            :label="select.provincia"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <label>Distrito <small class="form-control-feedback" >( * )</small></label><br>
                                                    <el-select v-model="formulario.distrito" filterable placeholder="Seleccionar" readonly style="width: 100%" clearable>
                                                        <el-option
                                                            v-for="select in arrayDistrito"
                                                            :key="select.id"
                                                            :label="select.distrito"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Comentarios</label>
                                                    <textarea class="form-control" v-model="formulario.comentarios" type="text" readonly></textarea>
                                                </div>
                                            </div>
                                        </fieldset><br>
                                        <fieldset>
                                            <legend>DATOS DEL CONTACTO</legend>
                                            <div v-if="errorContacto" class="alert alert-danger" role="alert">
                                                <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                                <div v-for="(v,k) in errorContacto" :key="k">
                                                    <p v-for="error in v" :key="error" class="mb-0">
                                                        {{error}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Nombre <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control" v-model="contacto.nombre" readonly type="text" autocomplete="off"></textarea>
                                                </div>
                                                <div class="col">
                                                    <label>Correo <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="contacto.correo" readonly type="text" autocomplete="off" />
                                                </div>
                                                <div class="col">
                                                    <label>Celular <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="contacto.celular" readonly type="text" autocomplete="off" />
                                                </div>
                                                <div class="col">
                                                    <label>Telefono</label>
                                                    <input class="form-control" v-model="contacto.telefono" readonly type="text" autocomplete="off" />
                                                </div>
                                                <div class="col">
                                                    <label>Cargo <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control" v-model="contacto.cargo" readonly type="text" autocomplete="off" ></textarea>
                                                </div>
                                            </div><br>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Nombre</th>
                                                        <th>Correo</th>
                                                        <th>Celular</th>
                                                        <th>Telefono</th>
                                                        <th>Cargo</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListContacto.length">
                                                    <tr v-for="(contacto,index) in arrayListContacto" :key="contacto.id" class="border-bottom-success">
                                                        <td v-text="contacto.nombre"></td>
                                                        <td v-text="contacto.correo"></td>
                                                        <td v-text="contacto.celular"></td>
                                                        <td v-text="contacto.telefono"></td>
                                                        <td v-text="contacto.cargo"></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Contacto
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Correo</th>
                                                        <th>Celular</th>
                                                        <th>Telefono</th>
                                                        <th>Cargo</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </fieldset>
                                        <br>
                                        <fieldset>
                                            <legend>NUMERO DE TRABAJADORES</legend>
                                            <div v-if="errorTrabajador" class="alert alert-danger" role="alert">
                                                <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                                <div v-for="(v,k) in errorTrabajador" :key="k">
                                                    <p v-for="error in v" :key="error" class="mb-0">
                                                        {{error}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="year">Año <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="trabajadores.year" readonly type="text" autocomplete="off"/>
                                                </div>
                                                <div class="col">
                                                    <label>Mes <small class="form-control-feedback" >( * )</small></label>
                                                    <el-select v-model="trabajadores.mes" filterable placeholder="Seleccionar" readonly style="width: 100%" clearable>
                                                        <el-option
                                                            v-for="select in arrayMes"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <label>Numero de Trabajadores <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="trabajadores.numero" readonly type="text" autocomplete="off" />
                                                </div>
                                            </div><br>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Año</th>
                                                        <th>Mes</th>
                                                        <th>Numero Trabajadores</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListTrabajadores.length">
                                                    <tr v-for="(trab,index) in arrayListTrabajadores" :key="trab.id" class="border-bottom-success">
                                                        <td v-text="trab.year"></td>
                                                        <td v-text="trab.mes"></td>
                                                        <td v-text="trab.numero"></td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Datos
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Año</th>
                                                        <th>Mes</th>
                                                        <th>Numero Trabajadores</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                        </fieldset>
                                        <br><br>
                                        <div style=" text-align: center;">
                                            <router-link to="/empresa" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </template>
                    <template v-if="estado == 1">
                        <div class="card">
                            <div class="card-header">
                                <h5>EDITAR EMPRESA <a @click="editar(0)" href="javascript:void(0)" v-tooltip="'Visualizar'" ><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a></h5>
                            </div>
                            <div class="card-body">
                                <form action="#">
                                    <div class="col-xs-12">
                                        <div v-if="errorCliente" class="alert alert-danger" role="alert">
                                            <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                            <div v-for="(v,k) in errorCliente" :key="k">
                                                <p v-for="error in v" :key="error" class="mb-0">
                                                    {{error}}
                                                </p>
                                            </div>
                                        </div>
                                        <fieldset>
                                            <legend>DATOS DE LA EMPRESA</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Ruc <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="formulario.ruc" type="text" />
                                                </div>
                                                <div class="col">
                                                    <br>
                                                    <button class="btn btn-success" @click.prevent="apiRuc"  type="button">Buscar Ruc</button>
                                                </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col">
                                                    <label >Razón Social <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="formulario.razon_social"  type="text" />
                                                </div>
                                                <div class="col">
                                                    <label>Domicilio Fiscal <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control"  v-model="formulario.domicilio_fiscal" type="text" autocomplete="off"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label >Actividad Económica <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control"  v-model="formulario.actividad_economica" autocomplete="off" type="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 col-md-4">
                                                    <label>Departamento <small class="form-control-feedback" >( * )</small></label><br>
                                                    <el-select v-model="formulario.departamento" v-loading="loading_Departamento"   filterable @change="provincia" placeholder="Seleccionar" style="width: 100%"   clearable>
                                                        <el-option
                                                            v-for="select in arrayDepartamento"
                                                            :key="select.id"
                                                            :label="select.departamento"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <label>Provincia <small class="form-control-feedback" >( * )</small></label><br>
                                                    <el-select v-model="formulario.provincia" filterable @change="distrito" v-loading="loading_Provincia" placeholder="Seleccionar" style="width: 100%"  clearable>
                                                        <el-option
                                                            v-for="select in arrayProvincia"
                                                            :key="select.id"
                                                            :label="select.provincia"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <label>Distrito <small class="form-control-feedback" >( * )</small></label><br>
                                                    <el-select v-model="formulario.distrito" filterable placeholder="Seleccionar" v-loading="loading_Distrito" style="width: 100%" clearable>
                                                        <el-option
                                                            v-for="select in arrayDistrito"
                                                            :key="select.id"
                                                            :label="select.distrito"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Comentarios</label>
                                                    <textarea class="form-control" v-model="formulario.comentarios" type="text"></textarea>
                                                </div>
                                            </div>
                                        </fieldset><br>
                                        <fieldset>
                                            <legend>DATOS DEL CONTACTO</legend>
                                            <div v-if="errorContacto" class="alert alert-danger" role="alert">
                                                <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                                <div v-for="(v,k) in errorContacto" :key="k">
                                                    <p v-for="error in v" :key="error" class="mb-0">
                                                        {{error}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Nombre <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control" v-model="contacto.nombre" type="text" autocomplete="off"></textarea>
                                                </div>
                                                <div class="col">
                                                    <label>Correo <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="contacto.correo" type="text" autocomplete="off" />
                                                </div>
                                                <div class="col">
                                                    <label>Celular <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="contacto.celular" type="text" autocomplete="off" />
                                                </div>
                                                <div class="col">
                                                    <label>Telefono</label>
                                                    <input class="form-control" v-model="contacto.telefono" type="text" autocomplete="off" />
                                                </div>
                                                <div class="col">
                                                    <label>Cargo <small class="form-control-feedback" >( * )</small></label>
                                                    <textarea class="form-control" v-model="contacto.cargo"type="text" autocomplete="off" ></textarea>
                                                </div>
                                            </div><br>
                                            <div style=" text-align: center;">
                                                <button class="btn btn-success" type="button" @click="guardarContacto">AÑADIR CONTACTO</button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Nombre</th>
                                                        <th>Correo</th>
                                                        <th>Celular</th>
                                                        <th>Telefono</th>
                                                        <th>Cargo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListContacto.length">
                                                    <tr v-for="(contacto,index) in arrayListContacto" :key="contacto.id" class="border-bottom-success">
                                                        <td v-text="contacto.nombre"></td>
                                                        <td v-text="contacto.correo"></td>
                                                        <td v-text="contacto.celular"></td>
                                                        <td v-text="contacto.telefono"></td>
                                                        <td v-text="contacto.cargo"></td>
                                                        <td>
                                                            <button @click="eliminarContactoLista(index,contacto)" type="button" class="btn btn-icon btn-icon rounded-circle btn-danger mr-1 mb-1 waves-effect waves-light" >
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Contacto
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Correo</th>
                                                        <th>Celular</th>
                                                        <th>Telefono</th>
                                                        <th>Cargo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                        </fieldset>
                                        <br>
                                        <fieldset>
                                            <legend>NUMERO DE TRABAJADORES</legend>
                                            <div v-if="errorTrabajador" class="alert alert-danger" role="alert">
                                                <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                                <div v-for="(v,k) in errorTrabajador" :key="k">
                                                    <p v-for="error in v" :key="error" class="mb-0">
                                                        {{error}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="year">Año <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="trabajadores.year" id="year" type="text" autocomplete="off"/>
                                                </div>
                                                <div class="col">
                                                    <label>Mes <small class="form-control-feedback" >( * )</small></label>
                                                    <el-select v-model="trabajadores.idmes" filterable placeholder="Seleccionar"  style="width: 100%" clearable>
                                                        <el-option
                                                            v-for="select in arrayMes"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <label for="trab">Numero de Trabajadores <small class="form-control-feedback" >( * )</small></label>
                                                    <input class="form-control" v-model="trabajadores.numero" id="trab" type="text" autocomplete="off" />
                                                </div>
                                            </div><br>
                                            <div style=" text-align: center;">
                                                <button class="btn btn-success" type="button" @click="guardarTrabajador">AÑADIR NUMERO DE TRABAJADOR</button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Año</th>
                                                        <th>Mes</th>
                                                        <th>Numero Trabajadores</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListTrabajadores.length">
                                                    <tr v-for="(trab,index) in arrayListTrabajadores" :key="trab.id" class="border-bottom-success">
                                                        <td v-text="trab.year"></td>
                                                        <td v-text="trab.Nombremes"></td>
                                                        <td v-text="trab.numero"></td>
                                                        <td>
                                                            <button @click="editTrabajador(index)" type="button" class="btn btn-success" >
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Datos
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Año</th>
                                                        <th>Mes</th>
                                                        <th>Numero Trabajadores</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                        </fieldset>
                                        <br><br>
                                        <div style=" text-align: center;">
                                            <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                            <router-link to="/empresa" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <EditTrabajador :showDialog.sync="dialogVisible" :index="index" :array="arrayListTrabajadores"></EditTrabajador>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
import EditTrabajador from "../empresa/editTrabajador";
export default {
    components: {EditTrabajador},
    data(){
        return{
            formulario:{
                idempresa:'',
                ruc:'',
                razon_social:'',
                actividad_economica:'',
                domicilio_fiscal:'',
                provincia:'',
                departamento:'',
                distrito:'',
                comentarios:''
            },
            contacto:{},
            trabajadores: {
                year: moment().format('YYYY'),
            },
            arrayProvincia:[],
            arrayDepartamento:[],
            arrayDistrito:[],
            arrayListContacto:[],
            arrayListTrabajadores:[],
            fullscreenLoading:false,
            errorCliente:'',
            errorContacto:'',
            errorTrabajador:'',
            arrayMes:[
                {id:'01',nombre: 'Enero'},
                {id:'02',nombre: 'Febrero'},
                {id:'03',nombre: 'Marzo'},
                {id:'04',nombre: 'Abril'},
                {id:'05',nombre: 'Mayo'},
                {id:'06',nombre: 'Junio'},
                {id:'07',nombre: 'Julio'},
                {id:'08',nombre: 'Agosto'},
                {id:'09',nombre: 'Setiembre'},
                {id:'10',nombre: 'Octubre'},
                {id:'11',nombre: 'Noviembre'},
                {id:'12',nombre: 'Diciembre'},
            ],
            estado:0,
            id:'',
            dialogVisible: false,
            index:'',
            loading_Departamento:false,
            loading_Provincia:false,
            loading_Distrito:false,
        }
    },
    methods:{
        getdata(){
            this.fullscreenLoading = true;
          axios.post('/monitoreo/empresa/getdata',{'id':this.id}).then(response =>{
              this.formulario.ruc=response.data.empresa[0].ruc;
              this.formulario.razon_social=response.data.empresa[0].razon_social;
              this.formulario.actividad_economica=response.data.empresa[0].act_economica;
              this.formulario.domicilio_fiscal=response.data.empresa[0].domicilio_fiscal;
              this.formulario.comentarios=response.data.empresa[0].comentario;
              this.formulario.idempresa=response.data.empresa[0].idempresa;
              this.formulario.idubigeo=response.data.empresa[0].idubigeo;
              this.formulario.departamento=response.data.empresa[0].iddepartamento;
              this.formulario.provincia=response.data.empresa[0].idprovincia;
              this.formulario.distrito=response.data.empresa[0].iddistrito;
              this.arrayListContacto = response.data.contacto;
              this.arrayListTrabajadores = response.data.hempresa;
              this.getdepartamento();
              this.getprovincia();
              this.getdistrito();
              this.fullscreenLoading = false;
          }).catch(error =>{
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Codigo de error 500'
              });
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
                  this.fullscreenLoading = false;
              }
              this.fullscreenLoading = false;
          })
        },
        guardar(){
            let me = this;
            axios.post('/monitoreo/empresa/agregar',{
                'formulario':this.formulario,
                'contacto':this.arrayListContacto,
                'idubigeo':this.formulario.idubigeo,
                'idempresa':this.formulario.idempresa,
                'trabajadores':this.arrayListTrabajadores
            }).then(function (response) {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Empresa Editado Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   me.limpiarCampos();
                   me.$router.push('/empresa');
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'Codigo de error 500'
                   });
               }
            }).catch(error => {
                me.errorCliente = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        apiRuc(){
            this.fullscreenLoading = true;
            if (this.formulario.ruc.length == 11){
                axios.post('/monitoreo/apiRuc',{'ruc':this.formulario.ruc}).then(response =>{
                    if (response.data.error == false){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'El Ruc ya Esta Registrado'
                        });
                        this.fullscreenLoading = false;
                    }else {
                        this.formulario.razon_social=response.data[1];
                        this.formulario.domicilio_fiscal=response.data[7];
                        this.fullscreenLoading = false;
                    }
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            }else {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'El Campo Ruc debe Tener 11 Digitos'
                });
                this.fullscreenLoading = false;
            }
        },
        getdepartamento(){
            this.loading_Departamento=true;
            axios.get('/monitoreo/comun/getdepartamento').then(response =>{
                this.arrayDepartamento =response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            }).then( ()=>{
                this.loading_Departamento=false;
            })
        },
        getprovincia(){
            this.loading_Provincia=true;
            axios.post('/monitoreo/comun/getprovincia',{'id':this.formulario.departamento}).then(response =>{
                this.arrayProvincia =response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            }).then( ()=>{
                this.loading_Provincia=false;
            })
        },
        getdistrito(){
            this.loading_Distrito=true;
            axios.post('/monitoreo/comun/getdistrito',{'id':this.formulario.provincia}).then(response =>{
                this.arrayDistrito =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            }).then(() =>{
                this.loading_Distrito=false;
            })
        },
        limpiarCampos(){
            this.contacto={};
            this.errorContacto='';
        },
        guardarContacto(){
            this.fullscreenLoading = true;
            axios.post("/monitoreo/empresa/valContacto",{'contacto':this.contacto}).then(response =>{
                if (response.data.success == true){
                    this.arrayListContacto.push({
                        idcontacto:this.contadorArray(),
                        id:null,
                        nombre:this.contacto.nombre,
                        correo:this.contacto.correo,
                        celular:this.contacto.celular,
                        telefono:this.contacto.telefono,
                        cargo:this.contacto.cargo
                    });
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Contacto Añadido Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.limpiarCampos();
                }
            }).catch(error =>{
                this.errorContacto = error.response.data.errors;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                }
            }).then( ()=>{
                this.fullscreenLoading = false;
            } )
        },
        contadorArray(){
            var contador =this.arrayListContacto.length;
            return contador+1;
        },
        eliminarContactoLista(index,contacto){
            Swal.fire({
                title: 'Estas seguro de Eliminar al Contacto '+contacto.nombre+'?',
                text: "esta opcion es reversible.!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar!'
            }).then((result) => {
                if (result.value) {
                    this.fullscreenLoading=true;
                   axios.post('/monitoreo/empresa/delete',{'objeto':contacto}).then(response =>{
                       if (response.data.success == true){
                           this.arrayListContacto.splice(index, 1);
                           Swal.fire(
                               'Elimidado!',
                               'El Contacto '+contacto.nombre+' se ha eliminado de la lista.',
                               'success'
                           )
                       }else {
                           Swal.fire({
                               icon: 'error',
                               title: 'Oops...',
                               text: response.data.message
                           });
                       }
                   }).catch(error =>{
                       if (error.response.status == 401) {
                           this.$router.push({name: 'login'})
                           location.reload();
                           sessionStorage.clear();
                       }
                   }).then( ()=>{
                       this.fullscreenLoading=false;
                   })
                }
            }).catch(error =>{
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        guardarTrabajador(){
            if (this.encuentraTrabjador(this.trabajadores.idmes)){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'El Mes Seleccionado ya esta Agregado'
                })
            }else {
                this.fullscreenLoading = true;
                axios.post("/monitoreo/empresa/valTrabajador",{'trabajadores':this.trabajadores,'idempresa':this.formulario.idempresa}).then(response =>{
                    if (response.data.success == true){
                        this.arrayListTrabajadores.push({
                            idtrabajador:this.contadorArrayTrabajador(),
                            id:null,
                            year:response.data.year,
                            idmes:this.trabajadores.idmes, // idmes
                            Nombremes:response.data.mes,
                            numero:this.trabajadores.numero
                        });
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Numero de Trabajadores Añadido Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.limpiarCamposTra();
                    }
                }).catch(error =>{
                    this.errorTrabajador = error.response.data.errors;
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.fullscreenLoading = false;
                } )
            }
        },
        encuentraTrabjador(id){
            var sw=0;
            for(var i=0;i<this.arrayListTrabajadores.length;i++){
                if(this.arrayListTrabajadores[i].idmes==id){
                    sw=true;
                }
            }
            return sw;
        },
        contadorArrayTrabajador(){
            var contador =this.arrayListTrabajadores.length;
            return contador+1;
        },
        editTrabajador(index){
            this.index =index;
            this.dialogVisible = true;
        },
        editar(tipo){
            if (tipo == 1){
                this.estado = 1;
            }else{
                this.estado = 0;
                this.getdata();
            }
        },
        departamento(){
            this.loading_Departamento=true;
            axios.get('/monitoreo/comun/getdepartamento').then(response =>{
                this.arrayDepartamento =response.data;
                this.arrayProvincia=[];
                this.formulario.provincia='';
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            }).then( ()=>{
                this.loading_Departamento=false;
            })
        },
        provincia(){
            this.loading_Provincia=true;
            this.arrayProvincia=[];
            this.formulario.provincia='';
            this.arrayDistrito=[];
            this.formulario.distrito='';
            axios.post('/monitoreo/comun/getprovincia',{'id':this.formulario.departamento}).then(response =>{
                this.arrayProvincia =response.data;
                this.arrayDistrito=[];
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            }).then( ()=>{
                this.loading_Provincia=false;
            })
        },
        distrito(){
            this.loading_Distrito=true;
            this.arrayDistrito=[];
            this.formulario.distrito='';
            axios.post('/monitoreo/comun/getdistrito',{'id':this.formulario.provincia}).then(response =>{
                this.arrayDistrito =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            }).then(() =>{
                this.loading_Distrito=false;
            })
        },
        limpiarCamposTra(){
            this.trabajadores={};
            this.errorTrabajador='';
        }
    },
    mounted() {
        this.id=JSON.parse(localStorage.getItem('empresa'));
        this.getdata();
    }
}

</script>

<style scoped>
    legend {
        font-size: medium;
        color:#00f;
    }
    small{
        color: red;
    }
</style>
