<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close"
               @open="create" :before-close="handleClose">
        <form class="form" autocomplete="off" @submit.prevent="submit">
            <div class="form-body" v-if="EditTrabajadores.length">
                <div class="row" v-for="(trab,index) in EditTrabajadores">
                    <div class="col">
                        <label for="year">Año <small class="form-control-feedback" >( * )</small></label>
                        <input class="form-control" v-model="trab.year" id="year" type="text" autocomplete="off"/>
                    </div>
                    <div class="col">
                        <label>Mes <small class="form-control-feedback" >( * )</small></label>
                        <el-select v-model="trab.idmes" filterable placeholder="Seleccionar"  style="width: 100%" clearable>
                            <el-option
                                v-for="select in arrayMes"
                                :key="select.id"
                                :label="select.nombre"
                                :value="select.id"
                            >
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col">
                        <label for="trab">Numero de Trabajadores <small class="form-control-feedback" >( * )</small></label>
                        <input class="form-control" v-model="trab.numero" id="trab" type="text" autocomplete="off" />
                    </div><br>
                    <div class="col-12" align="center">
                        <el-button type="success" round native-type="submit" :loading="loading_submit">Guardar</el-button>
                    </div>
                </div>
            </div>
        </form>
    </el-dialog>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "editTrabajador",
        props: ['showDialog','index','array'],
        data(){
            return{
                titleDialog : null,
                loading_submit: false,
                errors:{},
                id:'',
                EditTrabajadores:[],
                innerVisible:false,
                year:moment().format('YYYY'),
                arrayMes:[
                    {id:'01',nombre: 'Enero'},
                    {id:'02',nombre: 'Febrero'},
                    {id:'03',nombre: 'Marzo'},
                    {id:'04',nombre: 'Abril'},
                    {id:'05',nombre: 'Mayo'},
                    {id:'06',nombre: 'Junio'},
                    {id:'07',nombre: 'Julio'},
                    {id:'08',nombre: 'Agosto'},
                    {id:'09',nombre: 'Setiembre'},
                    {id:'10',nombre: 'Octubre'},
                    {id:'11',nombre: 'Noviembre'},
                    {id:'12',nombre: 'Diciembre'},
                ]
            }
        },
        methods:{
            initFrom(){
                this.errors={};
                this.id='';
                this.EditTrabajadores=[];
            },
            submit(){
              if (this.encuentraTrabjador(this.array[this.index].idmes)){
                  this.$message.error("El Mes Seleccionado ya esta Agregado");
              }else {
                  this.loading_submit = true;
                  axios.post('/monitoreo/empresa/valTrabajador',{
                      'trabajadores':this.EditTrabajadores[0]
                  }).then(response =>{
                      if (response.data.success == true){
                          Swal.fire({
                              position: 'top-end',
                              icon: 'success',
                              title: 'Modificado',
                              showConfirmButton: false,
                              timer: 1500
                          });
                          this.array[this.index].Nombremes = response.data.mes;
                          this.array[this.index].year = response.data.year;
                          this.array[this.index].idmes = this.EditTrabajadores[0].idmes;
                          this.array[this.index].numero = this.EditTrabajadores[0].numero;
                          this.$eventHub.$emit('reloadData');
                          this.close()
                      }else {
                          Swal.fire({
                              icon: 'error',
                              title: 'Oops...',
                              text: 'Error'
                          });
                      }
                  }).catch(error =>{
                      if (error.response.status == 422) {
                          this.errors = error.response.data.errors
                      }
                      if (error.response.status == 401) {
                          this.$router.push({name: 'login'})
                          location.reload();
                          sessionStorage.clear();
                      }
                  }).then( ()=>{
                      this.loading_submit = false;
                  })
              }
            },
            encuentraTrabjador(id){
                var sw=0;
                if (this.EditTrabajadores[0].idmes == id){
                    sw=false;
                    console.log(id,sw);
                }else {
                    for(var i=0;i<this.array.length;i++){
                        if(this.array[i].idmes==id){
                            sw=true;
                            console.log(id,sw);
                        }
                    }
                }
                return sw;
            },
            create(){
                this.titleDialog = 'Editar Numero de Trabajadores';
                this.EditTrabajadores.push({
                    idtrabajador:this.array[this.index].idtrabajador,
                    nombreMes:this.array[this.index].Nombremes,
                    id:this.array[this.index].id,
                    idmes:this.array[this.index].idmes,
                    numero:this.array[this.index].numero,
                    year:this.array[this.index].year
                });
            },
            handleClose(done) {
                this.$confirm('Estas Seguro de Cerrar?')
                    .then(_ => {
                        this.initFrom();
                        done();
                    })
                    .catch(_ => {});
            },
            close(){
                this.$emit('update:showDialog',false);
                this.initFrom();
            },
        },
    }
</script>

<style scoped>
    small{
        color: red;
    }
    .has-danger {
        color: #dc3545;
    }
</style>
