<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Empresa</h5>
                        </div>
                        <div style=" text-align: center;">
                            <router-link to="/empresa/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">REGISTRAR EMPRESA</router-link>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-9">
                                </div>
                                <!--<div class="col">
                                    <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                </div>-->
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col-md-10">
                                    <el-select v-model="seleccion" placeholder="Buscar por" style="width: 100%;" filterable clearable>
                                        <el-option
                                            v-for="select in arraySelect"
                                            :key="select.id"
                                            :label="select.razon_social"
                                            :value="select.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary"  type="button" @click.prevent="search(seleccion)" v-loading.fullscreen.lock="fullscreenLoading">
                                        Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data(){
            return{
                seleccion:'',
                busqueda:'',
                arraySelect:[],
                fullscreenLoading:false,
            }
        },
        methods :{
            search(seleccion){
               if (seleccion){
                   localStorage.setItem('empresa',JSON.stringify(seleccion));
                   this.$router.push({name:'empresa.editar'});
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'Elige una Empresa'
                   });
               }
            },
            getData(){
              axios.get('/monitoreo/empresa/getEmpresa').then(res =>{
                  this.arraySelect = res.data;
              }).catch(error =>{
                  if (error.response.status == 401) {
                      this.$router.push({name: 'login'})
                      location.reload();
                      sessionStorage.clear();
                  }
              })
            },
            excel(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                axios.get('/monitoreo/empresa/export',config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                    var url = document.createElement('a')
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Empresa.xlsx'
                    url.click()
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
