<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR EQUIPO DE MEDICIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="nombre">Nombre de Equipo</label>
                                                <input class="form-control" v-model="formulario.nombre" id="nombre" type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="marca">Marca</label>
                                                <input class="form-control" v-model="formulario.marca" id="marca" type="text" />
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="modelo">Modelo</label>
                                                <input class="form-control" v-model="formulario.modelo" id="modelo" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="serie">Serie</label>
                                                <input class="form-control" v-model="formulario.serie" id="serie" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Fecha de Calibración</label>
                                                <el-date-picker
                                                    v-model="formulario.fecha"
                                                    type="date"
                                                    :picker-options="pickerOptions"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy/MM/dd">
                                                </el-date-picker>
                                            </div>
                                        </div>
                                    </div><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link to="/medicion" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            pickerOptions:{
                disabledDate(time) {
                    return time.getTime() > Date.now();
                }
            },
            value1:'',
            formulario:{
                nombre:'',
                marca:'',
                modelo:'',
                serie:'',
                fecha:'',
                motivo:''
            },
            fullscreenLoading:false,
            errorEquipo:''
        }
    },
    methods:{
        guardar(){
            let me = this;
            axios.post('/monitoreo/equipo/agregar',{
                'formulario':this.formulario
            }).then(function (response) {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Se Agrego Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   me.limpiarCampos();
                   me.$router.push('/medicion');
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'error del sistema'
                   });
               }
            }).catch(error => {
                me.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        limpiarCampos(){
            this.nombre='';
            this.descripcion='';
        }
    }
}

</script>

<style scoped>

</style>
