<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EQUIPO DE MEDICIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="nombre">Nombre de Equipo</label>
                                                <input class="form-control" v-model="formulario.nombre" readonly id="nombre" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="marca">Marca</label>
                                                <input class="form-control" v-model="formulario.marca" readonly id="marca" type="text" />
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="modelo">Modelo</label>
                                                <input class="form-control" v-model="formulario.modelo" readonly id="modelo" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="serie">Serie</label>
                                                <input class="form-control" v-model="formulario.serie" readonly id="serie" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Fecha de Calibración</label>
                                                <input class="form-control" v-model="formulario.fecha" readonly type="date" />
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>DETALLE EQUIPO DE MEDICIÓN</h5>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn btn-success" type="button" @click="guardar" >Registrar</button>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <el-select v-model="selectActivo" placeholder="Buscar por"   clearable>
                                                    <el-option
                                                        v-for="select in arraySelectActivo"
                                                        :key="select.id"
                                                        :label="select.nombre"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <template v-if="selectActivo == '1' ">
                                                <div class="col">
                                                    <el-select v-model="busquedaActivo" placeholder="Seleccione"   clearable>
                                                        <el-option
                                                            v-for="select in arrayPersona"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </template>
                                            <template v-else>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <el-date-picker
                                                            v-model="busquedaActivo"
                                                            type="daterange"
                                                            range-separator="A"
                                                            start-placeholder="Inicio"
                                                            end-placeholder="Fin"
                                                            format="dd/MM/yyyy"
                                                            value-format="yyyy-MM-dd">
                                                        </el-date-picker>
                                                    </div>
                                                </div>
                                            </template>
                                            <div class="col">
                                                <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                    Buscar</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" >
                                                <thead>
                                                <tr class="border-bottom-primary">
                                                    <th>Motivo</th>
                                                    <th>Fecha</th>
                                                    <th>Persona</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrayListActivo.length">
                                                <tr v-for="row in arrayListActivo" :key="row.id" class="border-bottom-success">
                                                    <td v-text="row.motivo"></td>
                                                    <td v-text="row.created_at"></td>
                                                    <td v-text="row.full_name"></td>
                                                </tr>
                                                </tbody>
                                                <tbody v-else>
                                                <tr>
                                                    <td colspan="5">
                                                        No hay Detalle de Equipos
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Motivo</th>
                                                    <th>Fecha</th>
                                                    <th>Persona</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <div class="card">
                                                <div class="card-body">
                                                    <nav class="m-b-30" aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center pagination-success">
                                                            <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                            </li>
                                                            <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                            </li>
                                                            <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div style="text-align: center;">
                                        <router-link to="/medicion" class="btn btn-danger" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            formulario:{
                nombre:'',
                marca:'',
                modelo:'',
                serie:'',
                fecha:'',
                fechamod:''
            },
            selectActivo:'0',
            busquedaActivo:'',
            arraySelectActivo:[
                {id:'0',nombre:'Fecha'},
                {id:'1',nombre:'Persona'}
            ],
            arrayPersona:[],
            arrayListActivo:[],
            paginationActivo : {
                'total' : 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            },
            offsetActivo : 3,
            fullscreenLoading:false,
            errorEquipo:'',
            id:'',
        }
    },
    methods:{
        getdata(){
            this.fullscreenLoading = true;
          axios.post('/monitoreo/equipo/getdata',{'id':this.id}).then(response =>{
              this.formulario.nombre =response.data.nombre;
              this.formulario.marca =response.data.marca;
              this.formulario.modelo =response.data.modelo;
              this.formulario.serie =response.data.serie;
              this.formulario.fecha =response.data.fecha_calibracion;
              this.fullscreenLoading = false;
          }).catch(error =>{
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'error del sistema'
              });
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
                  this.fullscreenLoading = false;
              }
              this.fullscreenLoading = false;
          })
        },
        list(page,select,buscar) {
            this.fullscreenLoading = true;
            var url = '/monitoreo/equipo/getListarDetalleEquipo?page='+page +'&select='+select+'&buscar='+buscar;
            axios.get(url,{params:{'id':this.id}}).then((response) => {
                this.arrayListActivo =response.data.detalle.data;
                this.paginationActivo=response.data.pagination;
                this.fullscreenLoading = false;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error 504'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        guardar(){
            Swal.fire({
                title: 'Por Favor Escribe el Motivo del Equipo '+ this.formulario.nombre+'',
                input: 'textarea',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                showLoaderOnConfirm: true,
                preConfirm: (motivo) => {
                    if(motivo == ''){
                        Swal.showValidationMessage(
                            `Por Favor Completa el Campo`
                        )
                    }else{
                        this.fullscreenLoading = true;
                        axios.post('/monitoreo/equipo/addDetalle',{'id':this.id,'motivo':motivo})
                            .then(response =>{
                                if (response.data.success == true){
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Se Añadio Correctamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    this.list(1,'','');
                                    this.fullscreenLoading = false;
                                }
                            }).catch(error =>{
                            var valores=error.response.data.errors;
                            var values='';
                            $.each(valores, function (key, value) {
                                values += value
                            });
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: values
                            });
                            if (error.response.status == 401) {
                                this.$router.push({name: 'login'})
                                location.reload();
                                sessionStorage.clear();
                                this.fullscreenLoading = false;
                            }
                            this.fullscreenLoading = false;
                        })
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            })
        },
        listPersona(){
          axios.get('/monitoreo/equipo/persona').then(response =>{
              this.arrayPersona = response.data;
          }).catch(error =>{
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'error 504'
              });
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
                  this.fullscreenLoading = false;
              }
          })
        },
        cambiarPaginaActivo(page,select,buscar){
            let me = this;
            //Actualiza la página actual
            me.paginationActivo.current_page = page;
            //Envia la petición para visualizar la data de esa página
            me.list(page,select,buscar);
        },
    },
    computed:{
        isActivedActivo: function(){
            return this.paginationActivo.current_page;
        },
        //Calcula los elementos de la paginación
        pagesNumberActivo: function() {
            if(!this.paginationActivo.to) {
                return [];
            }

            var from = this.paginationActivo.current_page - this.offsetActivo;
            if(from < 1) {
                from = 1;
            }

            var to = from + (this.offsetActivo * 2);
            if(to >= this.paginationActivo.last_page){
                to = this.paginationActivo.last_page;
            }

            var pagesArray = [];
            while(from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        }
    },
    mounted() {
        this.id=JSON.parse(localStorage.getItem('detalleMedicion'));
        this.getdata();
        this.list(1,this.selectActivo,this.busquedaActivo);
        this.listPersona();
    }
}

</script>

<style scoped>

</style>
