<template>
    <div>
        <span>Aqui va la calificacion del cliente {{id}}</span>
    </div>
</template>

<script>
    export default {
        name: "calificacion",
        data(){
            return{
                id:this.$attrs.id
            }
        }
    }
</script>

<style scoped>

</style>
