<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Ver Clientes</h5>
                    </div>
                    <br>
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <el-select v-model="select" placeholder="Buscar por"   clearable>
                                    <el-option
                                        v-for="select in arraySelect"
                                        :key="select.id"
                                        :label="select.nombre"
                                        :value="select.id"
                                    >
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="col">
                                <div class="col-md-12 mb-12">
                                    <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                </div>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                    Buscar</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table" >
                                <thead>
                                <tr class="border-bottom-primary">
                                    <th>Nombres</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody v-if="arrayList.length">
                                <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                    <td v-text="row.full_name"></td>
                                    <td v-text="row.fecha_inicio"></td>
                                    <td v-text="row.fecha_fin"></td>
                                    <td>
                                        <template v-if="row.estado == 1">
                                            <router-link :to="{name:'homologacion.cliente.calificacion',params:{id:row.id}}" v-tooltip="'Ver Calificación'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-folder fa-lg fa-2x" style="color: green"></i></router-link>
                                        </template>
                                        <template v-else>
                                            <a href="javascript:void(0)" @click="estado" v-tooltip="'Ver Calificación'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-folder fa-lg fa-2x" style="color: red"></i></a>
                                        </template>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody v-else>
                                <tr>
                                    <td colspan="5">
                                        No hay Contratistas
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Acciones</th>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="card">
                                <div class="card-body">
                                    <nav class="m-b-30" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center pagination-success">
                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                            </li>
                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                            </li>
                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ver",
        data(){
            return{
                select:'t.dni',
                busqueda:'',
                arraySelect:[
                    {id:'t.dni',nombre:'dni'}
                ],
                fullscreenLoading:false,
                arrayList:[],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
            }
        },
        methods:{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/homologacion/cliente/listarContratista?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url).then((response) => {
                    this.arrayList=response.data.lista.data;
                    this.pagination=response.data.pagination;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No se Encontro la Lista de Trabajadores'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            estado(){
                Swal.fire({
                    icon: 'Estado Calificacion',
                    title: 'Oops...',
                    text: 'Tadavia no se ha Calificado'
                });
            },
            cambiarPagina(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        mounted(){
          this.list(1,this.select,this.busqueda);
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        },
    }
</script>

<style scoped>

</style>
