<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Lista de Encuestas</h5>
                        <div class="alert alert-success dark" role="alert">
                            <p style="text-align:center;">
                                <font size="4">Por favor Elige una Encuesta</font>
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                               <template v-if="estado == 0">
                                   <button @click="encuestaSST(0)" class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">Encuesta SST</button>
                               </template>
                                <template v-else>
                                    <button @click="encuestaSST(1)" class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">Editar Encuesta SST</button>
                                </template>
                            </div>
                            <div class="col-sm">
                                <button  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">Encuesta xxx</button>
                            </div>
                            <div class="col-sm">
                                <button  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">Encuesta xxx</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        data(){
            return{
                fullscreenLoading:false,
                estado:0
            }
        },
        methods:{
            encuestaSST(tipo){
                this.fullscreenLoading = true;
                if (tipo == 0){
                    this.$router.push({name: 'homologacion.contratista.encuestasst'});
                }else {
                    this.$router.push({name: 'homologacion.contratista.editarEncuestasst'});
                }
                this.fullscreenLoading = false;
            },
            getinfo(){
                this.fullscreenLoading = true;
                axios.get('/monitoreo/homologacion/getinfo').then(res =>{
                    if (res.data.success == true){
                        this.estado = 1;
                    }else {
                        this.estado = 0;
                    }
                    this.fullscreenLoading = false;
                })
            }
        },
        mounted() {
            this.getinfo();
        }
    }
</script>

<style scoped>

</style>
