<template>
	<div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="alert alert-success dark" role="alert">
                                <p style="text-align:center;">
                                    <font size="6">Indicadores de Proyectos</font>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-primary b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-tachometer fa-3x"></i></div>
                                            <div class="media-body"><span class="m-0">Total Proyectos</span>
                                                <h4 class="mb-0 counter">{{total}}</h4><i class="empresa fa fa-tachometer" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-secondary b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Proyectos Agregados en {{nombreMes}}</span>
                                                <h4 class="mb-0 counter">{{mesActual}}</h4><i class="empresa fa fa-user-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-success b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Proyectos Abiertos</span>
                                                <h4 class="mb-0 counter">{{abierto}}</h4><i class="empresa fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-danger b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa fa-unlock-alt fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Proyectos Cerrados</span>
                                                <h4 class="mb-0 counter">{{cerrado}}</h4><i class="empresa fa fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="col">
                                        <div class="alert alert-success dark" role="alert">
                                            <p style="text-align:center;">
                                                <font size="3">Seleccione una Empresa</font>
                                            </p>
                                        </div>
                                        <el-select v-model="idempresa" placeholder="Seleccione" filterable @change="getidEmpresa" style="width: 100%">
                                            <el-option
                                                v-for="item in arrayEmpresa"
                                                :key="item.id"
                                                :label="item.full_code"
                                                :value="item.id">
                                                <span style="float: left">{{ item.codigo }}</span>
                                                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.razon_social }}</span>
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <div class="col">
                                        <canvas id="myChart" height="60vw" width="100vw" v-loading.fullscreen.look="fullscreenLoading"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="col">
                                        <div class="alert alert-success dark" role="alert">
                                            <p style="text-align:center;">
                                                <font size="3">Proyecto mas Solicitados</font>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <canvas id="myChart1" height="400" width="400"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';
    export default {
        name: "index",
        data(){
            return{
                meses:[],
                total:'',
                mesActual:'',
                nombreMes:'',

                idempresa:'',
                arrayEmpresa:[],
                nombreProyecto:[],
                filternombreProyecto:[],
                countAgentes:[],
                empresa:'',
                proyectos:[],
                filterProyectos:[],
                countProyectos:[],
                coloresAgente:[],
                charjs:'',
                abierto:'',
                cerrado:'',
                fullscreenLoading:false,
        }
        },
        methods:{
            getGrafico(){
                var ctx = document.getElementById('myChart').getContext('2d');
                this.charjs = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [],
                        datasets: [{
                            label: 'Proyectos por Empresa',
                            data: [],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                display:true,
                                ticks: {
                                    min: 0,
                                    stepSize: 1
                                },
                                scaleLabel:{
                                    display:true,
                                    labelString:'Cantidad'
                                }
                            }],
                            xAxes:[{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Proyectos'
                                }
                            }]
                        }
                    }
                });
            },
            getGrafico1(){
                var ctx = document.getElementById('myChart1').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: this.filterProyectos,
                        datasets: [{
                            data: this.countProyectos,
                            backgroundColor: this.coloresAgente,
                            borderColor: this.coloresAgente,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true, // Instruct chart js to respond nicely.
                        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                    }
                });
            },
            getidEmpresa(){
                this.nombreProyecto=[];
                this.filternombreProyecto=[];
                this.countAgentes=[];
              axios.post('/monitoreo/proyecto/getDashidProyecto',{'idproyecto':this.idempresa}).then(response =>{ 
                  this.nombreProyecto=response.data;
                  this.nombreProyecto.map(item =>{
                      this.filternombreProyecto.push(item.nombre);
                      this.countAgentes.push(item.numero);
                  });
                  this.charjs.destroy();
                  this.updateChartjs();
              }).catch(error =>{
                  if (error.response.status == 401) {
                      this.$router.push({name: 'login'})
                      location.reload();
                      sessionStorage.clear();
                  }
              })
            },
            updateChartjs(){
                this.getGrafico();
              this.charjs.data.datasets[0].data= this.countAgentes;
                this.charjs.data.labels=this.filternombreProyecto;
                /*this.charjs.data.datasets[0].label= this.empresa;*/
                this.charjs.update();
            },
            getData(){
                this.fullscreenLoading = true;
                axios.get('/monitoreo/proyecto/getDashboard').then(response =>{
                    this.total = response.data.total;
                    this.mesActual = response.data.mesActual;
                    this.nombreMes=response.data.mes;
                    this.abierto=response.data.abierto;
                    this.cerrado=response.data.cerrado;
                    this.arrayEmpresa=response.data.empresa;
                    this.proyectos=response.data.proyectos;
                    this.proyectos.map(item =>{
                        this.filterProyectos.push(item.nombre);
                        this.countProyectos.push(item.numero);
                        let parametro1 = Math.floor(Math.random() * 256) // 0 - 255
                        let parametro2 = Math.floor(Math.random() * 256) // 0 - 255
                        let parametro3 = Math.floor(Math.random() * 256) // 0 - 255
                        let color = 'rgba('+parametro1+', '+parametro2+', '+parametro3+', 0.2)'
                        this.coloresAgente.push(color);
                    });
                    this.getGrafico();
                    this.getGrafico1();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>
    .empresa{
        position: absolute;
        right: -0px;
        top: 0px;
        width: 100px;
        height: 100px;
        opacity: 0.3;
        font-size: 7em;
    }
</style>
