<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EDITAR DETALLE ILUMINACIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="4">DNI: {{dni}} - NOMBRES: {{nombres}} - CÓDIGO PROYECTO: {{codigo}}</font></p>
                                </div>
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="punto">Punto Monitoreo</label>
                                                <input class="form-control" v-model="formulario.punto" id="punto" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Fecha</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label for="hora">Hora</label>
                                                <input class="form-control" v-model="formulario.hora" id="hora" type="text" />
                                            </div>
                                        </div>
                                        <fieldset>
                                            <legend>Nivel de Iluminacion (Lux)</legend>
                                        <div class="row">
                                            <div class="col">
                                                <label for="max">MAX</label>
                                                <input class="form-control" v-model="formulario.max" id="max" type="text" />
                                            </div>
                                                <div class="col">
                                                    <label for="min">MIN</label>
                                                    <input class="form-control" v-model="formulario.min" id="min" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="avg">AVG</label>
                                                    <input class="form-control" v-model="formulario.avg" id="avg" type="text" />
                                                </div>
                                        </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control" v-model="formulario.max1"  type="text" />
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" v-model="formulario.min1"  type="text" />
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" v-model="formulario.avg1"  type="text" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control" v-model="formulario.max2" type="text" />
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" v-model="formulario.min2" type="text" />
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" v-model="formulario.avg2" type="text" />
                                                </div>
                                            </div>
                                        </fieldset><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="tipo_iluminaria">Tipo Iluminaria</label>
                                                <input class="form-control" v-model="formulario.tipo_iluminaria" id="tipo_iluminaria" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="altura_iluminaria">Altura Iluminaria APROX  (m)</label>
                                                <input class="form-control" v-model="formulario.altura_iluminaria" id="altura_iluminaria" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="trabajadores_expuestos">Número de Trabajadores Expuestos</label>
                                                <input class="form-control" v-model="formulario.trabajadores_expuestos" id="trabajadores_expuestos" type="text" />
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col">
                                            <label for="trabajo_realizado">Trabajo Realizado Durante la Medición</label>
                                            <textarea class="form-control" v-model="formulario.trabajo_realizado" id="trabajo_realizado" type="text" ></textarea>
                                        </div>
                                        <div class="col">
                                            <label for="caracteristica">Características del Entorno</label>
                                            <textarea class="form-control" v-model="formulario.caracteristica" id="caracteristica" type="text"></textarea>
                                        </div>
                                    </div><br>
                                    <fieldset>
                                        <legend>Subir Fotos Iluminaria</legend>
                                        <div class="row">
                                            <div class="col">
                                                <input type="file" id="file" ref="file"  accept=".png, .jpeg, .jpg" @change="getFile" class="form-control">
                                                <br>
                                                <template v-if="formulario.file == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <input type="file" id="file1" ref="file"  accept=".png, .jpeg, .jpg" @change="getFile1" class="form-control">
                                                <br>
                                                <template v-if="formulario.file1 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file1)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <input type="file" id="file2" ref="file"  accept=".png, .jpeg, .jpg" @change="getFile2" class="form-control">
                                                <br>
                                                <template v-if="formulario.file2 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file2)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <input type="file" id="file3" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile3">
                                                <br>
                                                <template v-if="formulario.file3 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file3)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <input type="file" id="file4" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile4">
                                                <br>
                                                <template v-if="formulario.file4 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file4)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                        </div>
                                    </fieldset><br>
                                    <fieldset>
                                        <legend>Subir Fotos Característica del Entorno</legend>
                                        <div class="row">
                                            <div class="col">
                                                <input type="file" id="file5" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile5">
                                                <br>
                                                <template v-if="formulario.file5 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file5)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <input type="file" id="file6" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile6">
                                                <br>
                                                <template v-if="formulario.file6 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file6)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <input type="file" id="file7" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile7">
                                                <br>
                                                <template v-if="formulario.file7 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file7)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <input type="file" id="file8" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile8">
                                                <br>
                                                <template v-if="formulario.file8 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file8)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <input type="file" id="file9" ref="file"  accept=".png, .jpeg, .jpg" class="form-control" @change="getFile9">
                                                <br>
                                                <template v-if="formulario.file9 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file9)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                        </div>
                                    </fieldset><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link :to="{name:'iluminacion.index'}" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Foto-->
        <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Foto</h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <img :src="img" alt="foto" width="100%" height="100%">
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="cerrarModal()" >Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
           idempresa:'',
            arrayEmpresa:{},
            formulario:{
                punto:'',
               fecha:'',
                hora:'',
                max:'',
                max1:'',
                max2:'',
                min:'',
                min1:'',
                min2:'',
                avg:'',
                avg1:'',
                avg2:'',
                tipo_iluminaria:'',
                trabajo_realizado:'',
                caracteristica:'',
                altura_iluminaria:'',
                trabajadores_expuestos:'',
                file:'0',
                file1:'0',
                file2:'0',
                file3:'0',
                file4:'0',
                file5:'0',
                file6:'0',
                file7:'0',
                file8:'0',
                file9:'0',
            },
            nombres:'',
            dni:'',
            codigo:'',
            errorEquipo:'',
            fullscreenLoading:false,
            idtrabajador:this.$attrs.idtrabajador,
            idproyecto:this.$attrs.idproyecto,
            idiluminacion:'',
            modal:0,
            img:''
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            let data= new FormData();
            data.append('idtrabajador', this.idtrabajador);
            data.append('idproyecto', this.idproyecto);
            data.append('punto', this.formulario.punto);
            data.append('fecha', this.formulario.fecha);
            data.append('hora',this.formulario.hora);
            data.append('max',this.formulario.max);
            data.append('max1',this.formulario.max1);
            data.append('max2',this.formulario.max2);
            data.append('min',this.formulario.min);
            data.append('min1',this.formulario.min1);
            data.append('min2',this.formulario.min2);
            data.append('avg',this.formulario.avg);
            data.append('avg1',this.formulario.avg1);
            data.append('avg2',this.formulario.avg2);
            data.append('tipo_iluminaria',this.formulario.tipo_iluminaria);
            data.append('trabajo_realizado',this.formulario.trabajo_realizado);
            data.append('caracteristica',this.formulario.caracteristica);
            data.append('altura_iluminaria',this.formulario.altura_iluminaria);
            data.append('trabajadores_expuestos',this.formulario.trabajadores_expuestos);
            data.append('file',this.formulario.file);
            data.append('file1',this.formulario.file1);
            data.append('file2',this.formulario.file2);
            data.append('file3',this.formulario.file3);
            data.append('file4',this.formulario.file4);
            data.append('file5',this.formulario.file5);
            data.append('file6',this.formulario.file6);
            data.append('file7',this.formulario.file7);
            data.append('file8',this.formulario.file8);
            data.append('file9',this.formulario.file9);
            data.append('idiluminacion',this.idiluminacion);
            data.append('tipo',1);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/iluminacion/addDetalleIluminacion';
            axios.post(url, data, config).then(response => {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Se Edito Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   this.$router.push('/iluminacion');
                   this.fullscreenLoading = false;
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'Codigo de error 500'
                   });
                   this.fullscreenLoading = false;
               }
            }).catch(error => {
                this.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                this.fullscreenLoading = false;
            })
        },
        getFile(e){
            this.formulario.file =e.target.files[0];
        },
        getFile1(e){
            this.formulario.file1 =e.target.files[0];
        },
        getFile2(e){
            this.formulario.file2 =e.target.files[0];
        },
        getFile3(e){
            this.formulario.file3 =e.target.files[0];
        },
        getFile4(e){
            this.formulario.file4 =e.target.files[0];
        },
        getFile5(e){
            this.formulario.file5 =e.target.files[0];
        },
        getFile6(e){
            this.formulario.file6 =e.target.files[0];
        },
        getFile7(e){
            this.formulario.file7 =e.target.files[0];
        },
        getFile8(e){
            this.formulario.file8 =e.target.files[0];
        },
        getFile9(e){
            this.formulario.file9 =e.target.files[0];
        },
        imagen(tipo){
            this.modal=1;
            this.img=tipo;
        },
        getData(){
            this.fullscreenLoading = true;
          axios.post('/monitoreo/comun/obtenerDataDetalle',{'idtrabajador':this.idtrabajador}).then(response =>{
              this.nombres=response.data[0].nombres;
              this.dni=response.data[0].dni;
              this.codigo=response.data[0].codigo;
              this.getDetalle();
              this.fullscreenLoading = false;
          }).catch(error =>{
              this.fullscreenLoading = false;
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'error 500'
              });
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
                  this.fullscreenLoading = false;
              }
          })
        },
        getDetalle(){
            axios.post('/monitoreo/iluminacion/getIluminacion',{'idtrabajador':this.idtrabajador}).then(response =>{
                this.formulario.punto = response.data[0].punto_monitoreo;
                this.formulario.fecha = response.data[0].fecha_monitoreo;
                this.formulario.hora = response.data[0].hora_monitoreo;
                this.formulario.max = response.data[0].max1;
                this.formulario.max1 = response.data[0].max2;
                this.formulario.max2 = response.data[0].max3;
                this.formulario.min = response.data[0].min1;
                this.formulario.min1 = response.data[0].min2;
                this.formulario.min2 = response.data[0].min3;
                this.formulario.avg = response.data[0].avg1;
                this.formulario.avg1 = response.data[0].avg2;
                this.formulario.avg2 = response.data[0].avg3;
                this.formulario.tipo_iluminaria = response.data[0].tipo_iluminaria;
                this.formulario.trabajo_realizado = response.data[0].trabajo_realizado;
                this.formulario.caracteristica = response.data[0].caracteristicas_entorno;
                this.formulario.altura_iluminaria = response.data[0].altura_iluminaria;
                this.formulario.trabajadores_expuestos = response.data[0].numero_trabajadores;
                this.idiluminacion = response.data[0].id;
                this.formulario.file = response.data[0].foto1;
                this.formulario.file1 = response.data[0].foto2;
                this.formulario.file2 = response.data[0].foto3;
                this.formulario.file3 = response.data[0].foto4;
                this.formulario.file4 = response.data[0].foto5;
                this.formulario.file5 = response.data[0].foto6;
                this.formulario.file6 = response.data[0].foto7;
                this.formulario.file7 = response.data[0].foto8;
                this.formulario.file8 = response.data[0].foto9;
                this.formulario.file9 = response.data[0].foto10;
            }).catch(error =>{
                this.fullscreenLoading = false;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        cerrarModal(){
            this.modal=0;
        },
    },
    mounted() {
        this.getData();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
.mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: fixed !important;
    padding-top: 100px !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    margin: auto;
    background-color: #3c29297a !important;
}
</style>
