<template>
   <div>
       <div class="container-fluid">
           <div class="row">
               <template v-if="estado == 1">
                   <div class="col-sm-12">
                       <div class="card">
                           <div class="card-header">
                               <h5>Pase Laboral</h5>
                           </div>
                           <div class="card">
                               <div class="card-body">
                                   <div v-if="errorEncuesta" class="alert alert-danger" role="alert" >
                                       <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                       <div v-for="(v,k) in errorEncuesta" :key="k">
                                           <p v-for="error in v" :key="error" class="mb-0">
                                               {{error}}
                                           </p>
                                       </div>
                                   </div>
                                   <div class="alert alert-primary" role="alert" style="text-align:center;">
                                       <strong> <font size="5">Triaje - Pase Laboral</font></strong>
                                   </div>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>1 Durante la última semana,¿has tenido contacto directo (compartiendo el espacio fisico,
                                                           menos de 2 metros por 15 minutos o más) con alguna persona con diagnóstico confirmado de COVID-19?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline1" type="radio"  value="si" v-model="respuestas[0]">
                                                               <label class="mb-0" for="radioinline1">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline2" type="radio" value="no" v-model="respuestas[0]">
                                                               <label class="mb-0" for="radioinline2">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><br>
                                   <div class="row">
                                       <div class="col">
                                           <fieldset>
                                               <legend>¿Cómo te sentiste en las últimas 24 horas?</legend>
                                           </fieldset>
                                           <div class="alert alert-success" role="alert">
                                               <h4 class="alert-heading">Marca SI o NO </h4>
                                               <p>en cada uno de los siguentes sintomas, en caso los hayas
                                                   experimentado en las ultimas 24 horas.</p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>2 ¿Presentas fiebre,escalofrios o sensación de alta térmica?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline3" type="radio"  value="si" v-model="respuestas[1]">
                                                               <label class="mb-0" for="radioinline3">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline4" type="radio" value="no" v-model="respuestas[1]">
                                                               <label class="mb-0" for="radioinline4">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>3 ¿Tos y/o dolor de garganta (no picazon en la garganta)?(no alérgica,frecuente durante el dia)</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline5" type="radio"  value="si" v-model="respuestas[2]">
                                                               <label class="mb-0" for="radioinline5">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline6" type="radio"  value="no" v-model="respuestas[2]">
                                                               <label class="mb-0" for="radioinline6">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>4 ¿Secreción o congestión nasal?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline7" type="radio" value="si" v-model="respuestas[3]">
                                                               <label class="mb-0" for="radioinline7">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline8" type="radio" value="no" v-model="respuestas[3]">
                                                               <label class="mb-0" for="radioinline8">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>5 ¿Presentas dificultad para respirar?(no por nariz tupida,se da tambien al respirar por la boca
                                                           y estando sentado)</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline9" type="radio"  value="si" v-model="respuestas[4]">
                                                               <label class="mb-0" for="radioinline9">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline10" type="radio"  value="no" v-model="respuestas[4]">
                                                               <label class="mb-0" for="radioinline10">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>6 ¿Pérdida del olfato o del gusto?(comprobar oliendo vinagre)</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline11" type="radio"  value="si" v-model="respuestas[5]">
                                                               <label class="mb-0" for="radioinline11">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline12" type="radio" value="no" v-model="respuestas[5]">
                                                               <label class="mb-0" for="radioinline12">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>7 ¿Malestar general y/o dolor de cabeza?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline13" type="radio" value="si" v-model="respuestas[6]">
                                                               <label class="mb-0" for="radioinline13">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline14" type="radio" value="no" v-model="respuestas[6]">
                                                               <label class="mb-0" for="radioinline14">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>8 ¿Expectoración o flema amarilla o verdosa?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline15" type="radio" value="si" v-model="respuestas[7]">
                                                               <label class="mb-0" for="radioinline15">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline16" type="radio" value="no" v-model="respuestas[7]">
                                                               <label class="mb-0" for="radioinline16">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>9 ¿Dolor abdominal,diarrea,nauseas o vómitos?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline17" type="radio"  value="si" v-model="respuestas[8]">
                                                               <label class="mb-0" for="radioinline17">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline18" type="radio" value="no" v-model="respuestas[8]">
                                                               <label class="mb-0" for="radioinline18">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>10 ¿Tienes algún(os) otro(s) diagnóstico(s) (no COVID-19) que explican
                                                           todos tus sintomas anteriores? (asma,rinitis alérgica,bronquitis,faringitis,bradicardia
                                                           ,etc)</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline19" type="radio" value="si" v-model="respuestas[9]">
                                                               <label class="mb-0" for="radioinline19">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline20" type="radio" value="no" v-model="respuestas[9]">
                                                               <label class="mb-0" for="radioinline20">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="col">
                                           <div class="container">
                                               <div class="row">
                                                   <div class="col">
                                                       <label>11 ¿Esta tomando alguna medicación?</label>
                                                   </div>
                                                   <div class="col">
                                                       <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline21" type="radio" value="si" v-model="respuestas[10]">
                                                               <label class="mb-0" for="radioinline21">Si</label>
                                                           </div>
                                                           <div class="radio radio-primary">
                                                               <input id="radioinline22" type="radio" value="no" v-model="respuestas[10]">
                                                               <label class="mb-0" for="radioinline22">No</label>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div><hr>
                                   <div class="row">
                                       <div class="container">
                                           <div class="row">
                                               <div class="col-2">
                                               </div>
                                               <div class="col-8">
                                                   <div class="checkbox checkbox-primary m-squar">
                                                       <input id="inline-sqr-1" type="checkbox" true-value="no"
                                                              false-value="si" v-model="respuestas[11]">
                                                       <label class="mt-0" for="inline-sqr-1">Los datos consignados en este documento son ciertos y de esta forma
                                                           colaboro con el cuidado de la salud de mis compañeros de trabajo</label>
                                                   </div>
                                               </div>
                                               <div class="col-2">
                                               </div>
                                           </div>
                                       </div>
                                   </div><br>
                                   <div align="center">
                                       <el-button type="primary" @click="guardar">Enviar</el-button>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </template>
               <template v-else>
                   <div class="col-sm-12">
                       <div class="card">
                           <div class="card-header">
                               <h5>Pase Laboral</h5>
                           </div>
                           <div class="card">
                               <div class="card-body">
                                   <div class="container">
                                       <div class="row">
                                           <div class="col-2">
                                           </div>
                                           <div class="col-8">
                                               <div align="center">
                                                   <img :src="ruta + '/img/check.png'" alt="" width="150" height="150">
                                                   <fieldset>
                                                       <legend>Hemos recibido toda tu información de manera correcta</legend>
                                                   </fieldset>
                                                   <p>Gracias por ayudarnos a cuidar de tu salud y bienestar. Recuerda que es muy importante
                                                       que llenes este formulario a diario.</p>
                                                   <p>¡Cuidando de ti,cuidas a tu familia!</p>
                                               </div>
                                           </div>
                                           <div class="col-2">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </template>
           </div>
       </div>
       <!--modal alert-->
       <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
            aria-hidden="true">
           <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
               <div class="modal-content">
                   <div class="modal-header bg-success white">
                       <h5 class="modal-title" >Gracias</h5>
                       <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                   <div class="modal-body">
                       <div class="container">
                           <div class="row">
                               <div class="col-2">
                               </div>
                               <div class="col-8">
                                   <div align="center">
                                       <img :src="ruta + '/img/check.png'" alt="" width="150" height="150">
                                       <fieldset>
                                           <legend>Hemos recibido toda tu información de manera correcta</legend>
                                       </fieldset>
                                       <p>Gracias por ayudarnos a cuidar de tu salud y bienestar. Recuerda que es muy importante
                                           que llenes este formulario a diario.</p>
                                       <p>¡Cuidando de ti,cuidas a tu familia!</p>
                                   </div>
                               </div>
                               <div class="col-2">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "index",
        props:['ruta'],
        data(){
            return{
                form:[],
                respuestas:[],
                arrayPreguntas:[],
                filterPreguntas:[],
                errorEncuesta:'',
                estado:'',
                fullscreenLoading:false,
                modal:0
            }
        },
        methods:{
            modalAlert(){
                this.fullscreenLoading = true;
                this.estado = 1;
                Swal.fire({
                    title: 'Salud al Día',
                    text: 'En Hisso tenemos el compromiso de cuidar de tu salud y bienestar,por eso es muy importante que llenes este formulario todos los dias, así podremos identificar de manera oportuna cualquier sintoma o signos de alerta ante el Coronavirus.',
                    imageUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQALUY6pDF_2XCT7i8e28PovzwgzZkU-9EnhzO9eI_NWTaAQrgLUzypYr3tebSdEkylSQY&usqp=CAU',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image',
                    showConfirmButton: true,
                    confirmButtonText: 'Empecemos'
                });
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                this.fullscreenLoading = false;
            },
            guardar(){
                this.fullscreenLoading = true;
                axios.post('/encuesta/covid/agregar',{
                    'respuestas':this.respuestas,
                    'preguntas':this.filterPreguntas
                }).then(res =>{
                    if (res.data.success == true){
                        window.scroll({
                            top:100,
                            left:100,
                            behavior:'smooth'
                        });
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Debe contactar inmediatamente a su medico, al medico ocupacional de la empresa y comunicarle a su superior inmediato los resultados.!'
                        });
                        this.respuestas=[];
                        this.fullscreenLoading = false;
                    }else if (res.data.success == 'laboral'){
                        window.scroll({
                            top:100,
                            left:100,
                            behavior:'smooth'
                        });
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Añadio Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.modal = 1;
                        this.pdf();
                        this.respuestas=[];
                        this.fullscreenLoading = false;
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'error del sistema'
                        });
                        this.fullscreenLoading = false;
                    }
                }).catch(error =>{
                    this.errorEncuesta = error.response.data.errors;
                    window.scroll({
                        top:100,
                        left:100,
                        behavior:'smooth'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                    this.fullscreenLoading = false;
                })
            },
            cerrarModal(){
                this.modal=0;
            },
            pdf(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                var url ='/encuesta/covid/download';
                axios.get(url,config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/pdf'}); // the blob
                    var url = document.createElement('a');
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Pase Laboral.pdf';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            limpiarCampos(){
                this.form.ultima_semana='';
                    this.form.presenta_fiebre='';
                    this.form.tos_dolor_garganta='';
                    this.form.congestion_nasal='';
                    this.form.dificultad_respirar='';
                    this.form.perdida_olfato='';
                    this.form.malestar_general='';
                    this.form.expectoracion_flema='';
                    this.form.dolor_abdominal='';
                    this.form.otros_diagnostico='';
                    this.form.tomando_medicacion='';
                    this.form.validacion='';
            },
            validacion(){
                this.fullscreenLoading = true;
                axios.get('/encuesta/covid/verificar').then(res =>{
                  if (res.data.success == true){
                      this.estado = res.data.estado;
                      this.fullscreenLoading = false;
                  }else {
                      this.modalAlert();
                      this.estado = res.data.estado;
                      this.fullscreenLoading = false;
                  }
                }).catch(error =>{
                    console.error(error);
                    this.fullscreenLoading = false;
                })
            },
            getPreguntas(){
                axios.get('/encuesta/covid/preguntas').then(res =>{
                    this.arrayPreguntas = res.data;
                    this.arrayPreguntas.map(item =>{
                       this.filterPreguntas.push(item.idencuesta);
                    });
                    this.modalAlert();
                })
            }
        },
        mounted() {
            this.getPreguntas();
        }
    }
</script>

<style scoped>
    legend {
        font-size: medium;
        color:#00f;
    }
    hr{
        width: auto;
        border-color: black;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
