<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR INSPECCIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label>Tipo</label><br>
                                                <el-select v-model="formulario.tipo" placeholder="Seleccione" filterable  clearable>
                                                    <el-option
                                                        v-for="tipo in arraytipo"
                                                        :key="tipo.id"
                                                        :label="tipo.nombre"
                                                        :value="tipo.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="col">
                                                <label >Fecha de Hallazgo</label>
                                                <el-date-picker
                                                    v-model="formulario.fecha_hallazgo"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label >Hora de Hallazgo</label><br>
                                                <el-time-picker
                                                    v-model="formulario.hora_hallazgo"
                                                    format="HH:mm:ss A"
                                                    value-format="HH:mm:ss A" >
                                                </el-time-picker>
                                            </div>
                                        </div><br>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Descripción del Peligro</label>
                                                    <textarea class="form-control" v-model="formulario.descripcion_peligro" type="text"></textarea>
                                                </div>
                                                <div class="col">
                                                    <label>Categoria de Peligro</label>
                                                    <el-select v-model="formulario.idcategoria_peligro" placeholder="Seleccione" @change="idcategoria" filterable  clearable>
                                                        <el-option
                                                            v-for="categoria_peligro in arraycategoria_peligro"
                                                            :key="categoria_peligro.id"
                                                            :label="categoria_peligro.nombre"
                                                            :value="categoria_peligro.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <label>SubCategoria de Peligro</label>
                                                    <el-select v-model="formulario.idsubcategoria_peligro" placeholder="Seleccione" filterable  clearable>
                                                        <el-option
                                                            v-for="subcategoria_peligro in subarraycategoria_peligro"
                                                            :key="subcategoria_peligro.id"
                                                            :label="subcategoria_peligro.nombre"
                                                            :value="subcategoria_peligro.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div><br>
                                        <fieldset>
                                            <legend>Ubicación donde se reportó</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="area">Área</label>
                                                    <input class="form-control" v-model="formulario.area" id="area" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="subarea">Subarea</label>
                                                    <input class="form-control" v-model="formulario.subarea" id="subarea" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label>Tipo</label><br>
                                                    <el-select v-model="formulario.tipo_ubicacion" placeholder="Seleccione" filterable  clearable>
                                                        <el-option
                                                            v-for="tipo_ubicacion in arraytipo_ubicacion"
                                                            :key="tipo_ubicacion.id"
                                                            :label="tipo_ubicacion.nombre"
                                                            :value="tipo_ubicacion.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Informacion del Contacto</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="responsable">Responsable</label>
                                                    <input class="form-control" v-model="formulario.responsable" id="responsable" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="cargo">Cargo</label>
                                                    <input class="form-control" v-model="formulario.cargo" id="cargo" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="correo">Correo</label>
                                                    <input class="form-control" v-model="formulario.correo" id="correo" type="text" />
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Fotos</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control" type="file" @change="getFile"
                                                           accept=".png, .jpeg, .jpg"/>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" type="file" @change="getFile1"
                                                           accept=".png, .jpeg, .jpg"/>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" type="file" @change="getFile2"
                                                           accept=".png, .jpeg, .jpg"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div><br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm">
                                                <router-link to="/inspecciones" class="btn btn-danger nextBtn" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-success nextBtn" type="button" @click="guardar(0)" >Guardar y Cerrar</button>
                                            </div>
                                            <div class="col-sm">
                                                <button class="btn btn-primary nextBtn " type="button" @click="guardar(1)" >Guardar y Duplicar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            arrayEmpresa:{},
            formulario:{
                tipo:'',
                fecha_hallazgo:'',
                hora_hallazgo:'',
                descripcion_peligro:'',
                idcategoria_peligro:'',
                idsubcategoria_peligro:'',
                area:'',
                subarea:'',
                tipo_ubicacion:'',
                responsable:'',
                cargo:'',
                correo:'',
                file:'0',
                file1:'0',
                file2:'0',
                idproyecto:''
            },
            arraytipo:[
                {id:1,nombre:'Condición'},
                {id:2,nombre: 'Acto Subestandar'}
            ],
            arraycategoria_peligro:[],
            subarraycategoria_peligro:[],
            arraytipo_ubicacion:[
                {id:1,nombre:'Interna'},
                {id:2,nombre:'Externa'}
            ],
            fullscreenLoading:false,
            errorEquipo:''
        }
    },
    methods:{
        guardar(tipo){
            this.fullscreenLoading = true;
            let data= new FormData();
            data.append('tipo', this.formulario.tipo);
            data.append('fecha_hallazgo', this.formulario.fecha_hallazgo);
            data.append('hora_hallazgo', this.formulario.hora_hallazgo);
            data.append('descripcion_peligro', this.formulario.descripcion_peligro);
            data.append('idcategoria_peligro',this.formulario.idcategoria_peligro);
            data.append('idsubcategoria_peligro',this.formulario.idsubcategoria_peligro);
            data.append('area',this.formulario.area);
            data.append('subarea',this.formulario.subarea);
            data.append('responsable',this.formulario.responsable);
            data.append('tipo_ubicacion',this.formulario.tipo_ubicacion);
            data.append('cargo',this.formulario.cargo);
            data.append('correo',this.formulario.correo);
            data.append('file',this.formulario.file);
            data.append('file1',this.formulario.file1);
            data.append('file2',this.formulario.file2);
            data.append('idproyecto',this.formulario.idproyecto);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/inspecciones/addinspeccion';
            axios.post(url, data, config).then(response => {
                if (response.data.success == true){
                    if (tipo == 0){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Agrego Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.$router.push('/inspecciones');
                    }else {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Agrego Correctamente y se Duplico',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    this.fullscreenLoading = false;
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    this.fullscreenLoading = false;
                }
            }).catch(error => {
                this.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
                this.fullscreenLoading = false;
            })
        },
        getFile(e){
            this.formulario.file =e.target.files[0];
        },
        getFile1(e){
            this.formulario.file1 =e.target.files[0];
        },
        getFile2(e){
            this.formulario.file2 =e.target.files[0];
        },
        listCategoriaPeligro(){
            axios.get('/monitoreo/inspecciones/getlistcategoriaPeligro').then(res =>{
                this.arraycategoria_peligro=res.data;
            }).catch(error =>{
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        idcategoria(e){
            this.formulario.idsubcategoria_peligro="";
            axios.post('/monitoreo/inspecciones/getlistsubcategoriaPeligro',{'id':e}).then(resp =>{
                this.subarraycategoria_peligro=resp.data;
            }).catch(error =>{
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        }
    },
    mounted() {
        this.listCategoriaPeligro();
        this.formulario.idproyecto =JSON.parse(localStorage.getItem('idproyecto'));
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}

</style>
