<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Inspecciones</h5>
                            <div class="alert alert-success dark" role="alert">
                                <p style="text-align:center;">
                                    <template v-if="codigo">
                                        <font size="4">Código Proyecto: {{codigo}}</font>
                                    </template>
                                    <template v-else>
                                        <font size="4">Código Proyecto: {{newcodigo}}</font>
                                    </template>
                                </p>
                            </div>
                        </div>
                        <div style=" text-align: center;">
                            <template v-if="showbutton == 1">
                                <router-link to="/inspecciones/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">REGISTRAR INSPECCION</router-link>
                            </template>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <template v-if="showbutton == 1">
                                        <a @click="formatoLey()" href="javascript:void(0)" v-tooltip="'Generar Formato de Ley'" ><i class="fa fa-download fa-2x" style="color: blue"></i></a>
                                    </template>
                                </div>
                                <div class="col-9">
                                    <a @click="searchCodigo()" href="javascript:void(0)" v-tooltip="'Ingresar Nuevo Codigo'" ><i class="fa fa-refresh fa-2x" style="color: red"></i></a>
                                </div>
                                <div class="col">
                                    <template v-if="showbutton == 1">
                                        <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar Trabajadores a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess" role="tablist">
                                <li class="nav-item "><a class="nav-link active" id="pills-clrhome-tabsuccess" data-toggle="pill" href="#pills-clrhomesuccess" role="tab" aria-controls="pills-clrhome" aria-selected="true"><i class="icofont icofont-emo-wink-smile"></i>En Revision {{paginationActivo.total}}</a></li>
                                <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tabsuccess" data-toggle="pill" href="#pills-clrprofilesuccess" role="tab" aria-controls="pills-clrprofile" aria-selected="false"><i class="icofont icofont-emo-worried"></i>Cerrado {{paginationInactivo.total}}</a></li>
                            </ul>
                            <div class="card-body">
                                <div class="tabbed-card">
                                    <div class="tab-content" id="pills-clrtabContentsuccess">
                                        <div class="tab-pane fade show active" id="pills-clrhomesuccess" role="tabpanel" aria-labelledby="pills-clrhome-tabsuccess">
                                            <h6 class="element-header">Lista de Inspecciones en Revision</h6>
                                            <div class="row">
                                                <div class="col">
                                                    <el-select v-model="selectActivo" placeholder="Buscar por"   clearable>
                                                        <el-option
                                                            v-for="select in arraySelectActivo"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <template v-if="selectActivo == 'p.created_at'">
                                                    <div class="col">
                                                        <el-date-picker
                                                            v-model="busquedaActivo"
                                                            type="date"
                                                            format="dd/MM/yyyy"
                                                            value-format="yyyy-MM-dd">
                                                        </el-date-picker>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    <div class="col">
                                                        <div class="col-md-12 mb-12">
                                                            <el-input
                                                                placeholder="Escribe la busqueda"
                                                                v-model="busquedaActivo"
                                                                @keyup.enter="list(1,selectActivo,busquedaActivo)"
                                                                clearable>
                                                            </el-input>
                                                        </div>
                                                    </div>
                                                </template>
                                                <div class="col">
                                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                        Buscar</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Representante</th>
                                                        <th>Tipo</th>
                                                        <th>Fecha Hallazgo</th>
                                                        <th>Hora Hallazgo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListActivo.length">
                                                    <tr v-for="row in arrayListActivo" :key="row.idinspeccion" class="border-bottom-success">
                                                        <td v-text="row.full_name"></td>
                                                        <td v-if="row.tipo == 1">Condición</td>
                                                        <td v-else>Acto Subestandar</td>
                                                        <td v-text="row.fecha_hallazgo"></td>
                                                        <td v-text="row.hora_hallazgo"></td>
                                                        <td>
                                                            <router-link :to="{name:'inspecciones.editar',params:{id:row.idinspeccion}}" v-tooltip="'Control de Calidad y Inspección'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-2x" style="color: green"></i></router-link>
                                                            <a @click="estado(0,row)" href="javascript:void(0)" v-tooltip="'Cambiar a Cerrado'" ><i class="fa fa-times fa-2x" style="color: red"></i></a>
                                                            <router-link :to="{name:'inspecciones.ver',params:{id:row.idinspeccion}}" v-tooltip="'Ver'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-eye fa-2x" style="color: blue"></i></router-link>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Inspecciones
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Representante</th>
                                                        <th>Tipo</th>
                                                        <th>Fecha Hallazgo</th>
                                                        <th>Hora Hallazgo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <nav class="m-b-30" aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center pagination-success">
                                                                <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                                </li>
                                                                <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                                </li>
                                                                <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-clrprofilesuccess" role="tabpanel" aria-labelledby="pills-clrprofile-tabsuccess">
                                            <h6 class="element-header">Lista de Inspecciones Cerrado</h6>
                                            <div class="row">
                                                <div class="col">
                                                    <el-select v-model="selectInactivo" placeholder="Buscar por"   clearable>
                                                        <el-option
                                                            v-for="select in arraySelectInactivo"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" type="text" v-model="busquedaInactivo" @keyup.enter="list(1,selectInactivo,busquedaInactivo)" placeholder="Escribe la busqueda">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectInactivo,busquedaInactivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                        Buscar</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <div class="table">
                                                    <table id="example1" class="display" style="width:100%" >
                                                        <thead>
                                                        <tr class="border-bottom-primary">
                                                            <th>Representante</th>
                                                            <th>Tipo</th>
                                                            <th>Fecha Hallazgo</th>
                                                            <th>Hora Hallazgo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody v-if="arrayListInactivo.length">
                                                        <tr v-for="row in arrayListInactivo" :key="row.idinspeccion" class="border-bottom-success">
                                                            <td v-text="row.full_name"></td>
                                                            <td v-if="row.tipo == 1">Condición</td>
                                                            <td v-else>Acto Subestandar</td>
                                                            <td v-text="row.fecha_hallazgo"></td>
                                                            <td v-text="row.hora_hallazgo"></td>
                                                            <td>
                                                                <a @click="estado(1,row)" href="javascript:void(0)" v-tooltip="'Poner en Revision'" ><i class="fa fa-check fa-2x" style="color: green"></i></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                        <tr>
                                                            <td colspan="5">
                                                                No hay Inspecciones
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th>Representante</th>
                                                            <th>Tipo</th>
                                                            <th>Fecha Hallazgo</th>
                                                            <th>Hora Hallazgo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <nav class="m-b-30" aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center pagination-success">
                                                                <li class="page-item" v-if="paginationInactivo.current_page >1">
                                                                    <a class="page-link" href="#" tabindex="-1" @click.prevent="cambiarPaginaInactivo(paginationInactivo.current_page - 1,selectInactivo,busquedaInactivo)">Antes</a>
                                                                </li>
                                                                <li class="page-item" v-for="page in pagesNumberInactivo" :key="page" :class="[page == isActivedInactivo ? 'active' : '']">
                                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaInactivo(page,selectInactivo,busquedaInactivo)" v-text="page"></a>
                                                                </li>
                                                                <li class="page-item" v-if="paginationInactivo.current_page < paginationInactivo.last_page">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaInactivo(paginationInactivo.current_page + 1,selectInactivo,busquedaInactivo)">Siguente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal BUSCAR CODIGO-->
        <div class="modal fade text-left" :class="{'mostrar1' : modal1}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" v-text="tituloModal1"></h5>
                        <button type="button" class="close" @click="cerrarModal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <label for="searchcodigo">Ingrese el Código del Proyecto</label>
                                    <textarea class="form-control"  v-model="codigo" id="searchcodigo" type="text"></textarea>
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="encontrarCodigo" >Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data(){
            return{
                selectActivo:'p.nombre',
                busquedaActivo:'',
                arraySelectActivo:[
                    {id:'p.nombre',nombre:'Representante'}
                ],
                selectInactivo:'p.nombre',
                busquedaInactivo:'',
                arraySelectInactivo:[
                    {id:'p.nombre',nombre:'Representante'}
                ],
                fullscreenLoading:false,
                arrayListActivo:[],
                arrayListInactivo:[],
                paginationActivo : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                paginationInactivo : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offsetActivo : 3,
                offsetInactivo:3,
                codigo:'',
                newcodigo:'',
                showbutton:0,
                idproyecto:'',
                modal:0,
                modal1:0,
                tituloModal:'Agregar Trabajador',
                tituloModal1:'Buscar Codigo',
            }
        },
        methods :{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/inspecciones/getListarinspeccion?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'tipo':0,'id':this.idproyecto}}).then((response) => {
                    this.arrayListActivo =response.data.activo.data;
                    this.paginationActivo=response.data.pagination;
                    localStorage.setItem('idproyecto',JSON.stringify(this.idproyecto));
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            listInactivo(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/inspecciones/getListarinspeccion?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'tipo':1,'id':this.idproyecto}}).then((response) => {
                    this.arrayListInactivo =response.data.inactivo.data;
                    this.paginationInactivo=response.data.pagination1;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            estado(tipo,objeto){
                Swal.fire({
                    title: 'Esta seguro de '+ ((tipo == 0)? 'Cerrar' : 'Poner en Revisión') +' la Inspección para '+ objeto.full_name+'?',
                    text: '',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, '+ ((tipo == 0) ? 'Cerrar' : 'Poner en Revisión') +'!'
                }).then((result) => {
                    if (result.value) {
                        this.fullscreenLoading = true;
                        axios.post('/monitoreo/inspecciones/estadoinspeccion',{'objeto':objeto,'tipo':tipo})
                            .then( response => {
                                if (response.data.success == true){
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: 'Se Modifico Correctamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    this.list(1,this.selectActivo,this.busquedaActivo);
                                    this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
                                    this.fullscreenLoading = false;
                                }else{
                                    this.fullscreenLoading = false;
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Contacte al Administrador para solucionarlo'
                                    });
                                }
                            }).catch( (error) =>{
                            this.fullscreenLoading = false;
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Contacte al Administrador para solucionarlo'
                            });
                            if (error.response.status == 401) {
                                this.$router.push({name: 'login'})
                                location.reload();
                                sessionStorage.clear();
                                this.fullscreenLoading = false;
                            }
                        });

                    }
                })
            },
            excel(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                axios.get('/monitoreo/inspecciones/exportExcel',config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                    var url = document.createElement('a')
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Inspecciones.xlsx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            formatoLey(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                let data= new FormData();
                data.append('idproyecto',this.idproyecto);
                var url ='/monitoreo/iluminacion/exportFormatoLey';
                axios.post(url,data,config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'}); // the blob
                    var url = document.createElement('a');
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Formato de Ley Ergonomia.docx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Error en descargar Formato de ley'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            searchCodigo(){
                Swal.fire({
                    title: 'Codigo de Proyecto',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Abrir',
                    showLoaderOnConfirm: true,
                    preConfirm: (codigo) => {
                        if(codigo == ''){
                            Swal.showValidationMessage(
                                `Por Favor Completa el Campo`
                            )
                        }else{
                            axios.post('/monitoreo/comun/obtenerCodigo',{'codigo':codigo,'tipo':'Inspecciones'})
                                .then(response =>{
                                    if (response.data.success == true){
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'success',
                                            title: 'Proyecto Encontrado',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        this.codigo = codigo;
                                        this.showbutton = 1;
                                        this.idproyecto=response.data.id.id;
                                        this.list(1,this.selectActivo,this.busquedaActivo);
                                        this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
                                        this.fullscreenLoading = false;
                                    }else{
                                        this.fullscreenLoading = false;
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'No se Encontro el Proyecto'
                                        });
                                        this.showbutton = 0;
                                        this.searchCodigo();
                                    }
                                }).catch(error =>{
                                if (error.response.status == 401) {
                                    this.$router.push({name: 'login'})
                                    location.reload();
                                    sessionStorage.clear();
                                    this.fullscreenLoading = false;
                                }
                            })
                        }
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'No se Encontro el Proyecto',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
            },
            buscarCodigo(){
                this.modal1 =1;
            },
            cerrarModal(){
                this.modal1=0;
            },
            encontrarCodigo(){
                if (this.codigo == ''){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Ingrese algun Codigo de Proyecto'
                    });
                }else {
                    axios.post('/monitoreo/comun/obtenerCodigo',{'codigo':this.codigo,'tipo':'Inspecciones'})
                        .then(response =>{
                            if (response.data.success == true){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Proyecto Encontrado',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                this.modal1=0;
                                this.showbutton = 1;
                                this.idproyecto=response.data.id.id;
                                this.list(1,this.selectActivo,this.busquedaActivo);
                                this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
                                this.fullscreenLoading = false;
                            }else{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'No se Encontro el Proyecto'
                                });
                                this.showbutton = 0;
                            }
                        }).catch(error =>{
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'})
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                    })
                }
            },
            verificarCodigo(){
                this.fullscreenLoading = true;
                if (JSON.parse(localStorage.getItem('idproyecto'))){
                    this.idproyecto =JSON.parse(localStorage.getItem('idproyecto'));
                    axios.post('/monitoreo/comun/verificarId',{'idproyecto':this.idproyecto,'tipo':'Inspecciones'}).then(response =>{
                        if (response.data.success == true){
                            this.newcodigo =response.data.codigo.codigo;
                            this.showbutton = 1;
                            this.list(1,this.selectActivo,this.busquedaActivo);
                            this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
                            this.fullscreenLoading = false;
                        }else {
                            this.fullscreenLoading = false;
                            this.buscarCodigo();
                        }
                    }).catch(error =>{
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'})
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                    })
                }else {
                    this.fullscreenLoading = false;
                    this.buscarCodigo();
                }
            },
            cambiarPaginaActivo(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.paginationActivo.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
            cambiarPaginaInactivo(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.paginationInactivo.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listInactivo(page,select,buscar);
            },
        },
        computed:{
            isActivedActivo: function(){
                return this.paginationActivo.current_page;
            },
            isActivedInactivo: function(){
                return this.paginationInactivo.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumberActivo: function() {
                if(!this.paginationActivo.to) {
                    return [];
                }

                var from = this.paginationActivo.current_page - this.offsetActivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetActivo * 2);
                if(to >= this.paginationActivo.last_page){
                    to = this.paginationActivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
            pagesNumberInactivo: function() {
                if(!this.paginationInactivo.to) {
                    return [];
                }

                var from = this.paginationInactivo.current_page - this.offsetInactivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetInactivo * 2);
                if(to >= this.paginationInactivo.last_page){
                    to = this.paginationInactivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        mounted() {
            this.verificarCodigo();
        }
    }
</script>

<style scoped>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
    .mostrar1{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
