<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>VER INSPECCIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <transition-group name="fade" tag="div">
                                        <div v-for="i in [currentIndex]" :key="i">
                                            <img :src="currentImg" width="500" height="700" />
                                        </div>
                                    </transition-group>
                                    <a class="prev btn btn-warning" @click="prev" href="#">&#10094; Atras</a>
                                    <a class="next btn btn-primary" @click="next" href="#">&#10095; Siguente</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>VER INSPECCIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label>Tipo</label><br>
                                                <el-select v-model="formulario.tipo" placeholder="Seleccione" disabled >
                                                    <el-option
                                                        v-for="tipo in arraytipo"
                                                        :key="tipo.id"
                                                        :label="tipo.nombre"
                                                        :value="tipo.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label >Fecha de Hallazgo</label>
                                                <el-date-picker
                                                    v-model="formulario.fecha_hallazgo"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd"
                                                    readonly>
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label >Hora de Hallazgo</label><br>
                                                <el-time-picker
                                                    v-model="formulario.hora_hallazgo"
                                                    format="HH:mm:ss A"
                                                    value-format="HH:mm:ss A"
                                                    readonly>
                                                </el-time-picker>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label>Descripción del Peligro</label>
                                                    <textarea class="form-control" readonly v-model="formulario.descripcion_peligro" type="text"></textarea>
                                                </div>
                                            </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label>Categoria de Peligro</label>
                                                <el-select v-model="formulario.idcategoria_peligro" disabled placeholder="Seleccione">
                                                    <el-option
                                                        v-for="categoria_peligro in arraycategoria_peligro"
                                                        :key="categoria_peligro.id"
                                                        :label="categoria_peligro.nombre"
                                                        :value="categoria_peligro.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="col">
                                                <label>SubCategoria de Peligro</label>
                                                <el-select v-model="formulario.idsubcategoria_peligro" disabled placeholder="Seleccione" >
                                                    <el-option
                                                        v-for="subcategoria_peligro in subarraycategoria_peligro"
                                                        :key="subcategoria_peligro.id"
                                                        :label="subcategoria_peligro.nombre"
                                                        :value="subcategoria_peligro.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                        <fieldset>
                                            <legend>Ubicación donde se reportó</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="area">Área</label>
                                                    <input class="form-control" readonly v-model="formulario.area" id="area" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="subarea">Subarea</label>
                                                    <input class="form-control" readonly v-model="formulario.subarea" id="subarea" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label>Tipo</label><br>
                                                    <el-select v-model="formulario.tipo_ubicacion" disabled placeholder="Seleccione" filterable  clearable>
                                                        <el-option
                                                            v-for="tipo_ubicacion in arraytipo_ubicacion"
                                                            :key="tipo_ubicacion.id"
                                                            :label="tipo_ubicacion.nombre"
                                                            :value="tipo_ubicacion.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Informacion del Contacto</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="responsable">Responsable</label>
                                                    <input class="form-control" readonly v-model="formulario.responsable" id="responsable" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="cargo">Cargo</label>
                                                    <input class="form-control" readonly v-model="formulario.cargo" id="cargo" type="text" />
                                                </div>
                                                <div class="col">
                                                    <label for="correo">Correo</label>
                                                    <input class="form-control" readonly v-model="formulario.correo" id="correo" type="text" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <br><br><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <router-link :to="{name:'inspecciones.index'}" class="btn btn-danger nextBtn pull-left"
                         type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras
            </router-link>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            arrayEmpresa:{},
            formulario:{
                tipo:'',
                fecha_hallazgo:'',
                hora_hallazgo:'',
                descripcion_peligro:'',
                idcategoria_peligro:'',
                idsubcategoria_peligro:'',
                area:'',
                subarea:'',
                tipo_ubicacion:'',
                responsable:'',
                cargo:'',
                correo:'',
                file:'0',
                file1:'0',
                file2:'0',
                id:''
            },
            arraytipo:[
                {id:"1",nombre:'Condición'},
                {id:"2",nombre: 'Acto Subestandar'}
            ],
            arraycategoria_peligro:[],
            subarraycategoria_peligro:[],
            arraytipo_ubicacion:[
                {id:"1",nombre:'Interna'},
                {id:"2",nombre:'Externa'}
            ],
            fullscreenLoading:false,
            errorEquipo:'',
            id:this.$attrs.id,
            modal:0,
            img:'',
            arrayimages:[],
            timer: null,
            currentIndex: 0
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            let data= new FormData();
            data.append('tipo', this.formulario.tipo);
            data.append('fecha_hallazgo', this.formulario.fecha_hallazgo);
            data.append('hora_hallazgo', this.formulario.hora_hallazgo);
            data.append('descripcion_peligro', this.formulario.descripcion_peligro);
            data.append('idcategoria_peligro',this.formulario.idcategoria_peligro);
            data.append('idsubcategoria_peligro',this.formulario.idsubcategoria_peligro);
            data.append('area',this.formulario.area);
            data.append('subarea',this.formulario.subarea);
            data.append('responsable',this.formulario.responsable);
            data.append('tipo_ubicacion',this.formulario.tipo_ubicacion);
            data.append('cargo',this.formulario.cargo);
            data.append('correo',this.formulario.correo);
            data.append('file',this.formulario.file);
            data.append('file1',this.formulario.file1);
            data.append('file2',this.formulario.file2);
            data.append('id',this.id);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/inspecciones/addinspeccion';
            axios.post(url, data, config).then(response => {
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Se Edito Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push('/inspecciones');
                    this.fullscreenLoading = false;
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    this.fullscreenLoading = false;
                }
            }).catch(error => {
                this.errorEquipo = error.response.data.errors;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
                this.fullscreenLoading = false;
            })
        },
        getFile(e){
            this.formulario.file =e.target.files[0];
        },
        getFile1(e){
            this.formulario.file1 =e.target.files[0];
        },
        getFile2(e){
            this.formulario.file2 =e.target.files[0];
        },
        listCategoriaPeligro(){
            axios.get('/monitoreo/inspecciones/getlistcategoriaPeligro').then(res =>{
                this.arraycategoria_peligro=res.data;
            })
        },
        idcategoria(e){
            this.formulario.idsubcategoria_peligro="";
            axios.post('/monitoreo/inspecciones/getlistsubcategoriaPeligro',{'id':e}).then(resp =>{
                this.subarraycategoria_peligro=resp.data;
            }).catch(error =>{
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getCategoria(id){
            axios.post('/monitoreo/inspecciones/getlistsubcategoriaPeligro',{'id':id}).then(resp =>{
                this.subarraycategoria_peligro=resp.data;
            }).catch(error =>{
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        imagen(tipo){
            this.modal=1;
            this.img=tipo;
        },
        cerrarModal(){
            this.modal=0;
        },
        getData(){
            this.fullscreenLoading = true;
            axios.post('/monitoreo/inspecciones/getdata',{'id':this.id}).then(resp =>{
                this.listCategoriaPeligro();
                this.formulario = resp.data[0];
                this.getCategoria(resp.data[0].idcategoria_peligro);
                this.arrayimages.push(
                    resp.data[0].foto1,
                    resp.data[0].foto2,
                    resp.data[0].foto3);
                this.fullscreenLoading = false;
            }).catch(error =>{
                this.fullscreenLoading = false;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        startSlide: function() {
            this.timer = setInterval(this.next, 4000);
        },

        next: function() {
            this.currentIndex += 1;
        },
        prev: function() {
            this.currentIndex -= 1;
        }
    },
    mounted() {
        this.getData();
    },
    computed: {
        currentImg: function() {
            return this.arrayimages[Math.abs(this.currentIndex) % this.arrayimages.length];
        }
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
.mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: fixed !important;
    padding-top: 100px !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    margin: auto;
    background-color: #3c29297a !important;
}

</style>
