<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EDITAR DETALLE BIOLÓGICO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="4">ÁREA MONITOREADA: {{area_monitoreada}} - INSTALACIÓN: {{instalacion}} - CALLE Y NÚMERO: {{calle_numero}} - CÓDIGO PROYECTO: {{codigo}}</font></p>
                                </div>
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="punto">Punto Monitoreo</label>
                                                <input class="form-control" v-model="formulario.punto_monitoreo" id="punto" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Fecha</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha_monitoreo"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label for="hora">Hora</label>
                                                <input class="form-control" v-model="formulario.hora_monitoreo" id="hora" type="text" />
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="codigo_muestra">Código de la Muesta (de laboratorio)</label>
                                                <input class="form-control" v-model="formulario.codigo_muestra" id="codigo_muestra" type="text" />
                                            </div>
                                                <div class="col">
                                                    <label for="descripcion_lugar">Descripción del lugar de toma de Muestra</label>
                                                    <textarea class="form-control" v-model="formulario.descripcion_lugar" id="descripcion_lugar" type="text"></textarea>
                                                </div>
                                                <div class="col">
                                                    <label for="descripcion_foto">Descripción del lugar de Tona de Muestra Foto</label>
                                                    <input class="form-control" id="descripcion_foto" type="file" accept=".png, .jpeg, .jpg" @change="getFile"/>
                                                    <br>
                                                    <template v-if="formulario.file == 0">
                                                        <span>No hay Foto</span>
                                                    </template>
                                                    <template v-else>
                                                        <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file)" >Ver Imagen</button>
                                                    </template>
                                                </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="muestreo">Muestreo y Observación Adicional</label>
                                                <textarea class="form-control" v-model="formulario.muestreo" id="muestreo" type="text"></textarea>
                                            </div>
                                            <div class="col">
                                                <label for="muestreo_foto">Tomar Foto del Muestreo y Observacion Adicional</label>
                                                <input class="form-control" id="muestreo_foto" type="file" accept=".png, .jpeg, .jpg" @change="getFile1"></input>
                                                <br>
                                                <template v-if="formulario.file1 == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file1)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                        </div>
                                    </div><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link :to="{name:'biologico.index'}" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Foto-->
        <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Foto</h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <img :src="img" alt="foto" width="100%" height="100%">
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="cerrarModal()" >Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
           idempresa:'',
            arrayEmpresa:{},
            formulario:{
                punto_monitoreo:'',
                fecha_monitoreo:'',
                hora_monitoreo:'',
                codigo_muestra:'',
                descripcion_lugar:'',
                muestreo:'',
                file:'0',
                file1:'0',
                id:''
            },
            area_monitoreada:'',
            instalacion:'',
            calle_numero:'',
            codigo:'',
            fullscreenLoading:false,
            errorEquipo:'',
            idinstalacion:this.$attrs.idinstalacion,
            idproyecto:this.$attrs.idproyecto,
            modal:0,
            img:''
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            let data= new FormData();
            data.append('idinstalacion', this.idinstalacion);
            data.append('idproyecto', this.idproyecto);
            data.append('punto_monitoreo', this.formulario.punto_monitoreo);
            data.append('fecha_monitoreo', this.formulario.fecha_monitoreo);
            data.append('hora_monitoreo',this.formulario.hora_monitoreo);
            data.append('codigo_muestra',this.formulario.codigo_muestra);
            data.append('descripcion_lugar',this.formulario.descripcion_lugar);
            data.append('muestreo',this.formulario.muestreo);
            data.append('file',this.formulario.file);
            data.append('file1',this.formulario.file1);
            data.append('id',this.formulario.id);
            data.append('tipo',0);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/biologico/addDetalleBiologico';
            axios.post(url, data, config).then(response => {
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Se Edito Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push('/biologico');
                    this.fullscreenLoading = false;
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    this.fullscreenLoading = false;
                }
            }).catch(error => {
                this.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                this.fullscreenLoading = false;
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getFile(e){
            this.formulario.file =e.target.files[0];
        },
        getFile1(e){
            this.formulario.file1 =e.target.files[0];
        },
        imagen(tipo){
            this.modal=1;
            this.img=tipo;
        },
        getData(){
            this.fullscreenLoading = true;
          axios.post('/monitoreo/comun/obtenerDataDetalle',{'idinstalacion':this.idinstalacion}).then(response =>{
              this.area_monitoreada=response.data[0].area_monitoreada;
              this.instalacion=response.data[0].instalacion;
              this.calle_numero=response.data[0].calle_numero;
              this.codigo=response.data[0].codigo;
              this.getDetalle();
              this.fullscreenLoading = false;
          }).catch(error =>{
              this.fullscreenLoading = false;
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Codigo de error 500'
              });
              if (error.response.status == 419) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  localStorage.clear();
                  this.fullscreenLoading = false;
              }
          })
        },
        getDetalle(){
            axios.post('/monitoreo/biologico/getBiologico',{'idinstalacion':this.idinstalacion}).then(response =>{
                this.formulario = response.data[0];
                this.formulario.file = response.data[0].foto1;
                this.formulario.file1 = response.data[0].foto2;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        cerrarModal(){
            this.modal=0;
        },
    },
    mounted() {
        this.getData();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
.mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: fixed !important;
    padding-top: 100px !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    margin: auto;
    background-color: #3c29297a !important;
}
</style>
