<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR EQUIPO PARA EPP</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="codigo">Código</label>
                                                <input class="form-control" v-model="formulario.codigo" id="codigo" disabled type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="nombre">Nombre</label>
                                                <input class="form-control" v-model="formulario.nombre" id="nombre" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Frecuencia</label>
                                                <el-select v-model="formulario.frecuencia" filterable placeholder="Seleccionar" style="width: 100%"   clearable>
                                                    <el-option
                                                        v-for="select in arrayFrecuencia"
                                                        :key="select.id"
                                                        :label="select.nombre"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div><br>
                                        <div style=" text-align: center;">
                                            <button class="btn btn-success" type="button" @click="guardar">GUARDAR EQUIPO</button>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col">
                                            <el-select v-model="select" placeholder="Buscar por" style="width: 100%;"  clearable>
                                                <el-option
                                                    v-for="select in arraySelect"
                                                    :key="select.id"
                                                    :label="select.nombre"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col">
                                            <div class="col-md-12 mb-12">
                                                <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                                Buscar</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table" >
                                            <thead>
                                            <tr class="border-bottom-primary">
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Frecuencia</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="arrayEquipo.length">
                                            <tr v-for="row in arrayEquipo" :key="row.id" class="border-bottom-success">
                                                <td v-text="row.codigo"></td>
                                                <td v-text="row.nombre"></td>
                                                <td v-text="row.frecuencia"></td>
                                                <td>
                                                    <button @click="eliminar(row)" type="button" class="btn btn-icon btn-icon rounded-circle btn-danger mr-1 mb-1 waves-effect waves-light" >
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tbody v-else>
                                            <tr>
                                                <td colspan="5">
                                                    No hay Equipos
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Frecuencia</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <div class="card">
                                            <div class="card-body">
                                                <nav class="m-b-30" aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center pagination-success">
                                                        <li class="page-item" v-if="pagination.current_page > 1">
                                                            <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                                        </li>
                                                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                                        </li>
                                                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                            <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <router-link to="/epp/agregar" class="btn btn-primary nextBtn pull-right" type="button" v-loading.fullscreen.lock="fullscreenLoading" >AGREGAR TRABAJADOR<i class="fa fa-arrow-right" aria-hidden="true"></i></router-link>
                                    <router-link to="/epp" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            formulario:{
                codigo:'',
                nombre:'',
            },
            idagente:'',
            arrayEquipo:[],
            pagination : {
                'total' : 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            },
            offset : 3,
            busqueda:'',
            select:'codigo',
            arraySelect:[
                {id:'codigo',nombre:'Codigo'}
            ],
            fullscreenLoading:false,
            errorEquipo:'',
            arrayFrecuencia:[
                {id:'1 Dia',nombre:'1 Dia'},
                {id:'1 Semana',nombre:'1 Semana'},
                {id:'1 Mes',nombre:'1 Mes'},
                {id:'2 Meses',nombre:'2 Meses'},
                {id:'3 Meses',nombre:'3 Meses'},
                {id:'6 Meses',nombre:'6 Meses'},
                {id:'1 Año',nombre:'1 Año'},
                {id:'2 Años',nombre:'2 Años'},
                {id:'3 Años',nombre:'3 Años'},
                {id:'5 Años',nombre:'5 Años'}
            ]
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            let me = this;
            axios.post('/monitoreo/epp/equipo/agregar',{
                'formulario':this.formulario,
                'idagente':this.idagente
            }).then( (response) => {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: response.data.message,
                       showConfirmButton: false,
                       timer: 1500
                   });
                   me.limpiarCampos();
                   this.fullscreenLoading = false;
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: response.data.message
                   });
                   this.fullscreenLoading = false;
               }
            }).catch(error => {
                me.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
                this.fullscreenLoading = false;
            })
        },
        list(page,select,buscar){
            this.fullscreenLoading = true;
            var url = '/monitoreo/epp/equipo/listar?page='+page +'&select='+select+'&buscar='+buscar;
             axios.get(url,{params:{'idagente':this.idagente}}).then(res =>{
                 this.arrayEquipo =res.data.lista.data;
                 this.pagination = res.data.pagination;
             }).catch(error =>{
                 if (error.response.status == 401) {
                     this.$router.push({name: 'login'})
                     location.reload();
                     sessionStorage.clear();
                 }
                 this.fullscreenLoading = false;
             })
         },
        eliminar(objeto){
            let me=this;
            Swal.fire({
                title: 'Esta seguro de eliminar el Equipo '+objeto.nombre+'?',
                text: '',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si,Eliminar!'
            }).then((result) => {
                if (result.value) {
                    me.fullscreenLoading = true;
                    axios.post('/monitoreo/epp/equipo/eliminarEquipo',{'objeto':objeto})
                        .then( response => {
                            if (response.data.success === true){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                this.list(1,this.select,this.busqueda);
                            }else{
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.data.message
                                });
                            }
                        }).catch(error =>{
                        me.fullscreenLoading=false;
                        if (error.response.status === 401 || error.response.status === 419) {
                            me.$router.push({name: 'login'});
                            location.reload();
                            localStorage.clear();
                        }
                    }).then( ()=>{
                        me.fullscreenLoading=false;
                    })
                }
            })
        },
        cambiarPagina(page,select,buscar){
            let me = this;
            //Actualiza la página actual
            me.pagination.current_page = page;
            //Envia la petición para visualizar la data de esa página
            me.list(page,select,buscar);
        },
        codigo(){
            this.fullscreenLoading = true;
          this.idagente = JSON.parse(localStorage.getItem('idagente'));
          axios.post('/monitoreo/epp/equipo/generarCodigo',{'idagente':this.idagente}).then(res =>{
            this.formulario.codigo = res.data[0].codigo;
            this.list(1,this.select,this.busqueda);
              this.fullscreenLoading = false;
          }).catch(error =>{
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
              }
              this.fullscreenLoading = false;
          })
        },
        limpiarCampos(){
            this.formulario.nombre='';
            this.formulario.frecuencia='';
            this.codigo();
        }
    },
    mounted() {
        this.codigo();
    },
    computed:{
        isActived: function(){
            return this.pagination.current_page;
        },
        //Calcula los elementos de la paginación
        pagesNumber: function() {
            if(!this.pagination.to) {
                return [];
            }

            var from = this.pagination.current_page - this.offset;
            if(from < 1) {
                from = 1;
            }

            var to = from + (this.offset * 2);
            if(to >= this.pagination.last_page){
                to = this.pagination.last_page;
            }

            var pagesArray = [];
            while(from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        },
    },
}

</script>

<style scoped>
    legend {
        font-size: medium;
        color:#00f;
    }
</style>
