<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Equipos para EPP</h5>
                        </div>
                        <div style=" text-align: center;">
                            <router-link to="/equipos/epp/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">REGISTRAR EQUIPO</router-link>
                        </div>
                        <br>
                        <!--<div class="container">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-9">
                                </div>
                                <div class="col">
                                    <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                </div>
                            </div>
                        </div>-->
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <el-select v-model="selectActivo" placeholder="Buscar por"   clearable>
                                        <el-option
                                            v-for="select in arraySelectActivo"
                                            :key="select.id"
                                            :label="select.nombre"
                                            :value="select.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col">
                                    <div class="col-md-12 mb-12">
                                        <input class="form-control" type="text" v-model="busquedaActivo" @keyup.enter="list(1,selectActivo,busquedaActivo)" placeholder="Escribe la busqueda">
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                        Buscar</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                    <tr class="border-bottom-primary">
                                        <th>Codigo</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="arrayListActivo.length">
                                    <tr v-for="row in arrayListActivo" :key="row.id" class="border-bottom-success">
                                        <td v-text="row.codigo"></td>
                                        <td>
                                            <router-link :to="{name:'medicion.editar',params:{id:row.id}}" v-tooltip="'Editar Equipo'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green"></i></router-link>/
                                            <a @click="estado(0,row)" href="javascript:void(0)" v-tooltip="'Ver'" ><i class="fa fa-eye fa-2x" style="color: blue"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                    <tr>
                                        <td colspan="5">
                                            No hay Equipos
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="card">
                                    <div class="card-body">
                                        <nav class="m-b-30" aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center pagination-success">
                                                <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                </li>
                                                <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                </li>
                                                <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data(){
            return{
                selectActivo:'codigo',
                busquedaActivo:'',
                arraySelectActivo:[
                    {id:'codigo',nombre:'Codigo'}
                ],
                fullscreenLoading:false,
                arrayListActivo:[],
                paginationActivo : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offsetActivo : 3,
            }
        },
        methods :{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/epp/equipo/listar?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url).then((response) => {
                    this.arrayListActivo =response.data.lista.data;
                    this.paginationActivo=response.data.pagination;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            estado(tipo,objeto){
                if (tipo == 0){
                    Swal.fire({
                        title: 'Por Favor Escribe el Motivo del Equipo '+objeto.nombre+'',
                        input: 'text',
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Inabilitar',
                        showLoaderOnConfirm: true,
                        preConfirm: (motivo) => {
                            if(motivo == ''){
                                Swal.showValidationMessage(
                                    `Por Favor Completa el Campo`
                                )
                            }else{
                                axios.post('/monitoreo/equipo/estadoEquipo',{'objeto':objeto,'tipo':tipo,'motivo':motivo})
                                    .then(response =>{
                                        if (response.data.success == true){
                                            Swal.fire({
                                                position: 'top-end',
                                                icon: 'success',
                                                title: 'Se Modifico Correctamente',
                                                showConfirmButton: false,
                                                timer: 1500
                                            });
                                            this.list(1,'','');
                                            this.listInactivo(1,'','');
                                            this.fullscreenLoading = false;
                                        }else{
                                            this.fullscreenLoading = false;
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Oops...',
                                                text: 'Contacte al Administrador para solucionarlo'
                                            });
                                        }
                                    }).catch(error =>{
                                    if (error.response.status == 401) {
                                        this.$router.push({name: 'login'})
                                        location.reload();
                                        sessionStorage.clear();
                                        this.fullscreenLoading = false;
                                    }
                                })
                            }
                        },
                        allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Se Inabilito Correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    })
                }else{
                    Swal.fire({
                        title: 'Esta seguro de Habilitar el Equipo '+objeto.nombre+'?',
                        text: "",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, Habilitar el Equipo '+objeto.nombre+'!'
                    }).then((result) => {
                        if (result.value) {
                            this.fullscreenLoading = true;
                            axios.post('/monitoreo/equipo/estadoEquipo',{'objeto':objeto,'tipo':tipo})
                                .then( response => {
                                    if (response.data.success == true){
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'success',
                                            title: 'Se Modifico Correctamente',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        this.list(1,'','');
                                        this.listInactivo(1,'','');
                                        this.fullscreenLoading = false;
                                    }else{
                                        this.fullscreenLoading = false;
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'Contacte al Administrador para solucionarlo'
                                        });
                                    }
                                }).catch( (error) =>{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Contacte al Administrador para solucionarlo'
                                });
                                if (error.response.status == 401) {
                                    this.$router.push({name: 'login'})
                                    location.reload();
                                    sessionStorage.clear();
                                    this.fullscreenLoading = false;
                                }
                            });

                        }
                    })
                }
            },
            excel(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                axios.get('/monitoreo/equipo/export',config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                    var url = document.createElement('a')
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'equipos.xlsx'
                    url.click()
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            cambiarPaginaActivo(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.paginationActivo.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        computed:{
            isActivedActivo: function(){
                return this.paginationActivo.current_page;
            },
            isActivedInactivo: function(){
                return this.paginationInactivo.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumberActivo: function() {
                if(!this.paginationActivo.to) {
                    return [];
                }

                var from = this.paginationActivo.current_page - this.offsetActivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetActivo * 2);
                if(to >= this.paginationActivo.last_page){
                    to = this.paginationActivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
            pagesNumberInactivo: function() {
                if(!this.paginationInactivo.to) {
                    return [];
                }

                var from = this.paginationInactivo.current_page - this.offsetInactivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetInactivo * 2);
                if(to >= this.paginationInactivo.last_page){
                    to = this.paginationInactivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        mounted() {
            this.list(1,this.selectActivo,this.busquedaActivo);
        }
    }
</script>

<style scoped>

</style>
