<template>
	<span>aqui va la encuesta a revisar  {{id}}</span>
</template>

<script>
    export default {
        name: "index",
        data(){
            return{
                id:this.$attrs.id,
            }
        }
    }
</script>

<style scoped>

</style>
