<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EDITAR DETALLE ERGONOMÍA</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="4">DNI: {{dni}} - NOMBRES: {{nombres}} -
                                        CÓDIGO PROYECTO: {{codigo}}</font></p>
                                </div>
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="punto">Punto Monitoreo</label>
                                                <input class="form-control" v-model="formulario.punto_monitoreo" id="punto"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label>Fecha</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha_monitoreo"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label for="hora">Hora</label>
                                                <input class="form-control" v-model="formulario.hora_monitoreo" id="hora"
                                                       type="text"/>
                                            </div>
                                            <div class="col">
                                                <label for="trabajadores_expuestos">Número de Trabajadores
                                                    Expuestos</label>
                                                <input class="form-control" v-model="formulario.trabajadores_expuestos"
                                                       id="trabajadores_expuestos" type="text"/>
                                            </div>
                                        </div>
                                        <fieldset>
                                            <legend>Información del Colaborador</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="codigo">Codigo Interno</label>
                                                    <input class="form-control" v-model="formulario.codigo" id="codigo"
                                                           type="text"/>
                                                </div>
                                                <div class="col">
                                                    <label for="edad">Edad</label>
                                                    <input class="form-control" v-model="formulario.edad" id="edad"
                                                           type="text"/>
                                                </div>
                                                <div class="col">
                                                    <label for="puesto">Experiencia en el Puesto(tiempo)</label>
                                                    <input class="form-control" v-model="formulario.puesto" id="puesto"
                                                           type="text"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="hoario_trabajo">Horario Trabajo</label>
                                                    <input class="form-control" v-model="formulario.hoario_trabajo"
                                                           id="hoario_trabajo" type="text"/>
                                                </div>
                                                <div class="col">
                                                    <label for="turno_rotativo">Turno Rotativo (INDICAR)</label>
                                                    <input class="form-control" v-model="formulario.turno_rotativo"
                                                           id="turno_rotativo" type="text"/>
                                                </div>
                                                <div class="col">
                                                    <label for="peso_talla">Peso (KG) / Talla</label>
                                                    <input class="form-control" v-model="formulario.peso_talla"
                                                           id="peso_talla" type="text"/>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <br>
                                        <fieldset>
                                            <legend>Descripción de Actividades</legend>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="alert alert-dark" role="alert">
                                                        <p style="text-align:center;"><font size="2">TRABAJO EN CAMPO
                                                            (DETALLE DE ACTIVIDADES)</font></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-auto">
                                                    <label for="porcentaje_horas">% de Horas</label>
                                                </div>
                                                <div class="col col-lg-2">
                                                    <input class="form-control" id="porcentaje_horas" v-model="formulario.porcentaje_hora_campo" type="text"/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_campo_1" placeholder="1"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_campo_2" placeholder="2"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_campo_3" placeholder="3"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_campo_4" placeholder="4"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_campo_5" placeholder="5"/>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="alert alert-dark" role="alert">
                                                        <p style="text-align:center;"><font size="2">TRABAJO EN OFICINA
                                                            (DETALLE DE ACTIVIDADES)</font></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-auto">
                                                    <label for="porcentaje_horas1">% de Horas</label>
                                                </div>
                                                <div class="col col-lg-2">
                                                    <input class="form-control" id="porcentaje_horas1" v-model="formulario.porcentaje_hora_oficina" type="text"/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_oficina_1" placeholder="1"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_oficina_2" placeholder="2"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_oficina_3" placeholder="3"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_oficina_4" placeholder="4"/>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" type="text" v-model="formulario.trabajo_oficina_5" placeholder="5"/>
                                            </div>
                                            <br>
                                            <div class="col">
                                                <div class="alert alert-dark" role="alert">
                                                    <p style="text-align:center;"><font size="2"> MOLESTIAS FISICAS,
                                                        DIAGNÓSTICO MÉDICO U OTROS</font></p>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="dolencia">Presenta dolencias fisicas: En caso sea
                                                        afirmativo indicar la zona.</label>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" id="dolencia" type="text" v-model="formulario.dolencia_fisica"
                                                           placeholder="Respuesta"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="discapacidad">Presenta alguna discapacidad declarada: En
                                                        caso sea afirmativo indicar el tipo y antigüedad.</label>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" id="discapacidad" type="text" v-model="formulario.discapacidad"
                                                           placeholder="Respuesta"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="estado_gestacion">Se encuentra en estado de gestación:
                                                        En caso sea afirmativo indicar la semana o mes de
                                                        gestación.</label>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control" id="estado_gestacion" type="text" v-model="formulario.gestacion"
                                                           placeholder="Respuesta"/>
                                                </div>
                                            </div>
                                            <br>
                                            <table class="table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">ITEM</th>
                                                    <th scope="col">SÍMBOLO</th>
                                                    <th scope="col">PARÁMETROS MOBILIARIO (TOMAR FOTOS ADECUADAS DEL
                                                        COLABORADOR)
                                                    </th>
                                                    <th scope="col">MEDIDAS (cm)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th scope="row">SILLA</th>
                                                    <td>A</td>
                                                    <td>Altura piso hasta al asiento (cm)</td>
                                                    <td>
                                                        <input class="form-control" type="text"  v-model="formulario.altura_asiento"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">SILLA</th>
                                                    <td>B</td>
                                                    <td>Altura del espaldar (45 - 50 cm)*</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.altura_espaldar"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">SILLA</th>
                                                    <td>C</td>
                                                    <td>Acolchado, recubierto con tela flexible y transpirable (2 cm)*
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.alcolchonado_recubierto"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">SILLA</th>
                                                    <td>D</td>
                                                    <td>Cuenta con reposabrazos regulable (Foto)</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.reposabrazos"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MESA</th>
                                                    <td>E</td>
                                                    <td>Largo (cm)</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.largo"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MESA</th>
                                                    <td>F</td>
                                                    <td>Ancho (cm)</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.ancho"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MESA</th>
                                                    <td>G</td>
                                                    <td>Superficie de material mate y color claro suave, rechanzándose
                                                        las superficies brillantes oscuras.
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.superficie"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MESA</th>
                                                    <td>H</td>
                                                    <td>Permite la colocación y los cambios de posición de las piernas
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.colocacion_posicion"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ESPACIOS</th>
                                                    <td>I</td>
                                                    <td>Espacio para piernas ancho (70 cm)*.</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.espacio_piernas"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ESPACIOS</th>
                                                    <td>J</td>
                                                    <td>Espacio para la silla largo (80 cm)*</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.espacio_silla"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ESPACIOS</th>
                                                    <td>K</td>
                                                    <td>Altura de pantalla laptop(cm)</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.altura_pantalla_laptop"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ESPACIOS</th>
                                                    <td>L</td>
                                                    <td>Altura de pantalla pc(cm)</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.altura_pantalla_pc"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">ESPACIOS</th>
                                                    <td>M</td>
                                                    <td>Distancia entre cabeza y pantalla (50 - 60 cm)*</td>
                                                    <td>
                                                        <input class="form-control" type="text" v-model="formulario.distancia_cabeza"
                                                               placeholder="Respuesta"/>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <p>* Indicar en medidas si no cumple la longitud establecida y foto
                                                adecuada</p>
                                        </fieldset>
                                        <br>
                                        <fieldset>
                                            <legend>Fotos del Puesto de Trabajo</legend>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <input class="form-control"  type="file" @change="getFile"
                                                               accept=".png, .jpeg, .jpg"/>
                                                        <br>
                                                        <template v-if="formulario.file == 0">
                                                            <span>No hay Foto</span>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file)" >Ver Imagen</button>
                                                        </template>
                                                    </div>
                                                    <div class="col-sm">
                                                        <input class="form-control" type="file" @change="getFile1"
                                                               accept=".png, .jpeg, .jpg"/>
                                                        <br>
                                                        <template v-if="formulario.file1 == 0">
                                                            <span>No hay Foto</span>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file1)" >Ver Imagen</button>
                                                        </template>
                                                    </div>
                                                    <div class="col-sm">
                                                        <input class="form-control" type="file" @change="getFile2"
                                                               accept=".png, .jpeg, .jpg"/>
                                                        <br>
                                                        <template v-if="formulario.file2 == 0">
                                                            <span>No hay Foto</span>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file2)" >Ver Imagen</button>
                                                        </template>
                                                    </div>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <input class="form-control" type="file" @change="getFile3"
                                                               accept=".png, .jpeg, .jpg"/>
                                                        <br>
                                                        <template v-if="formulario.file3 == 0">
                                                            <span>No hay Foto</span>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file3)" >Ver Imagen</button>
                                                        </template>
                                                    </div>
                                                    <div class="col-sm">
                                                        <input class="form-control" type="file" @change="getFile4"
                                                               accept=".png, .jpeg, .jpg"/>
                                                        <br>
                                                        <template v-if="formulario.file4 == 0">
                                                            <span>No hay Foto</span>
                                                        </template>
                                                        <template v-else>
                                                            <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file4)" >Ver Imagen</button>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar">
                                        Guardar
                                    </button>
                                    <router-link :to="{name:'ergonomia.index'}" class="btn btn-danger nextBtn pull-left"
                                                 type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras
                                    </router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Foto-->
        <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Foto</h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <img :src="img" alt="foto" width="100%" height="100%">
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="cerrarModal()" >Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data() {
            return {
                idempresa: '',
                arrayEmpresa: {},
                formulario: {
                    punto_monitoreo: '',
                    fecha_monitoreo: '',
                    hora_monitoreo: '',
                    trabajadores_expuestos: '',
                    codigo: '',
                    edad: '',
                    puesto: '',
                    hoario_trabajo: '',
                    turno_rotativo: '',
                    peso_talla: '',
                    porcentaje_hora_campo: '',
                    trabajo_campo_1: '',
                    trabajo_campo_2: '',
                    trabajo_campo_3: '',
                    trabajo_campo_4: '',
                    trabajo_campo_5: '',
                    porcentaje_hora_oficina: '',
                    trabajo_oficina_1: '',
                    trabajo_oficina_2: '',
                    trabajo_oficina_3: '',
                    trabajo_oficina_4: '',
                    trabajo_oficina_5: '',
                    dolencia_fisica: '',
                    discapacidad:'',
                    gestacion:'',
                    altura_asiento:'',
                    altura_espaldar:'',
                    alcolchonado_recubierto:'',
                    reposabrazos:'',
                    largo:'',
                    ancho:'',
                    superficie:'',
                    colocacion_posicion:'',
                    espacio_piernas:'',
                    espacio_silla:'',
                    altura_pantalla_laptop:'',
                    altura_pantalla_pc:'',
                    distancia_cabeza:'',
                    file:'0',
                    file1:'0',
                    file2:'0',
                    file3:'0',
                    file4:'0',
                    id:''
                },
                nombres: '',
                dni: '',
                codigo: '',
                fullscreenLoading: false,
                errorEquipo: '',
                idtrabajador: this.$attrs.idtrabajador,
                idproyecto: this.$attrs.idproyecto,
                modal:0,
                img:''
            }
        },
        methods: {
            guardar() {
                this.fullscreenLoading = true;
                let data= new FormData();
                data.append('idtrabajador', this.idtrabajador);
                data.append('idproyecto', this.idproyecto);
                data.append('punto_monitoreo', this.formulario.punto_monitoreo);
                data.append('fecha_monitoreo', this.formulario.fecha_monitoreo);
                data.append('hora_monitoreo',this.formulario.hora_monitoreo);
                data.append('trabajadores_expuestos',this.formulario.trabajadores_expuestos);
                data.append('codigo',this.formulario.codigo);
                data.append('edad',this.formulario.edad);
                data.append('puesto',this.formulario.puesto);
                data.append('hoario_trabajo',this.formulario.hoario_trabajo);
                data.append('turno_rotativo',this.formulario.turno_rotativo);
                data.append('peso_talla',this.formulario.peso_talla);
                data.append('porcentaje_hora_campo',this.formulario.porcentaje_hora_campo);
                data.append('trabajo_campo_1',this.formulario.trabajo_campo_1);
                data.append('trabajo_campo_2',this.formulario.trabajo_campo_2);
                data.append('trabajo_campo_3',this.formulario.trabajo_campo_3);
                data.append('trabajo_campo_4',this.formulario.trabajo_campo_4);
                data.append('trabajo_campo_5',this.formulario.trabajo_campo_5);
                data.append('porcentaje_hora_oficina',this.formulario.porcentaje_hora_oficina);
                data.append('trabajo_oficina_1',this.formulario.trabajo_oficina_1);
                data.append('trabajo_oficina_2',this.formulario.trabajo_oficina_2);
                data.append('trabajo_oficina_3',this.formulario.trabajo_oficina_3);
                data.append('trabajo_oficina_4',this.formulario.trabajo_oficina_4);
                data.append('trabajo_oficina_5',this.formulario.trabajo_oficina_5);
                data.append('dolencia_fisica',this.formulario.dolencia_fisica);
                data.append('discapacidad',this.formulario.discapacidad);
                data.append('gestacion',this.formulario.gestacion);
                data.append('altura_asiento',this.formulario.altura_asiento);
                data.append('altura_espaldar',this.formulario.altura_espaldar);
                data.append('alcolchonado_recubierto',this.formulario.alcolchonado_recubierto);
                data.append('reposabrazos',this.formulario.reposabrazos);
                data.append('largo',this.formulario.largo);
                data.append('ancho',this.formulario.ancho);
                data.append('superficie',this.formulario.superficie);
                data.append('colocacion_posicion',this.formulario.colocacion_posicion);
                data.append('espacio_piernas',this.formulario.espacio_piernas);
                data.append('espacio_silla',this.formulario.espacio_silla);
                data.append('altura_pantalla_laptop',this.formulario.altura_pantalla_laptop);
                data.append('altura_pantalla_pc',this.formulario.altura_pantalla_pc);
                data.append('distancia_cabeza',this.formulario.distancia_cabeza);
                data.append('file',this.formulario.file);
                data.append('file1',this.formulario.file1);
                data.append('file2',this.formulario.file2);
                data.append('file3',this.formulario.file3);
                data.append('file4',this.formulario.file4);
                data.append('id',this.formulario.id);
                data.append('tipo',0);
                const config = {headers: {'Content-Type': 'multipart/form-data'}};
                var url = '/monitoreo/ergonomia/addDetalleErgonomia';
                axios.post(url, data, config).then(response => {
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Edito Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.$router.push('/ergonomia');
                        this.fullscreenLoading = false;
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Codigo de error 500'
                        });
                        this.fullscreenLoading = false;
                    }
                }).catch(error => {
                    this.errorEquipo = error.response.data.errors;
                    window.scroll({
                        top:100,
                        left:100,
                        behavior:'smooth'
                    });
                    this.fullscreenLoading = false;
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            getFile(e){
                this.formulario.file =e.target.files[0];
            },
            getFile1(e){
                this.formulario.file1 =e.target.files[0];
            },
            getFile2(e){
                this.formulario.file2 =e.target.files[0];
            },
            getFile3(e){
                this.formulario.file3 =e.target.files[0];
            },
            getFile4(e){
                this.formulario.file4 =e.target.files[0];
            },
            imagen(tipo){
                this.modal=1;
                this.img=tipo;
            },
            getData() {
                this.fullscreenLoading = true;
                axios.post('/monitoreo/comun/obtenerDataDetalle', {'idtrabajador': this.idtrabajador}).then(response => {
                    this.nombres = response.data[0].nombres;
                    this.dni = response.data[0].dni;
                    this.codigo = response.data[0].codigo;
                    this.getDataDetalle();
                    this.fullscreenLoading = false;
                }).catch(error => {
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            getDataDetalle(){
                axios.post('/monitoreo/ergonomia/getErgonomia',{'idtrabajador':this.idtrabajador}).then(response =>{
                    this.formulario = response.data[0];
                    this.formulario.file = response.data[0].foto1;
                    this.formulario.file1 = response.data[0].foto2;
                    this.formulario.file2 = response.data[0].foto3;
                    this.formulario.file3 = response.data[0].foto4;
                    this.formulario.file4 = response.data[0].foto5;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            cerrarModal(){
                this.modal=0;
            },
        },
        mounted() {
            this.getData();
        }
    }

</script>

<style scoped>
    legend {
        font-size: medium;
        color: #00f;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
