<template>
	<div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="alert alert-success dark" role="alert">
                                <p style="text-align:center;">
                                    <font size="6">Indicadores Equipos de Medición</font>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-primary b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-tachometer fa-3x"></i></div>
                                            <div class="media-body"><span class="m-0">Total Equipos</span>
                                                <h4 class="mb-0 counter">{{total}}</h4><i class="empresa fa fa-tachometer" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-secondary b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Equipos Agregados en {{nombreMes}}</span>
                                                <h4 class="mb-0 counter">{{mesActual}}</h4><i class="empresa fa fa-user-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-success b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Equipos Activos</span>
                                                <h4 class="mb-0 counter">{{activo}}</h4><i class="empresa fa fa-check-circle" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-danger b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Equipos Inactivos</span>
                                                <h4 class="mb-0 counter">{{inactivo}}</h4><i class="empresa fa fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="col">
                                                    <div class="alert alert-success dark" role="alert">
                                                        <p style="text-align:center;">
                                                            <font size="3">Equipos de Medicion Activos</font>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <canvas id="myChart" height="400" width="400" v-loading.fullscreen.look="fullscreenLoading"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="col">
                                                    <div class="alert alert-success dark" role="alert">
                                                        <p style="text-align:center;">
                                                            <font size="3">Detalles de Equipos de Medicion Activos</font>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <el-select v-model="idequipo" placeholder="Seleccione" filterable @change="getEquipo" style="width: 100%">
                                                        <el-option
                                                            v-for="item in arrayEquipo"
                                                            :key="item.id"
                                                            :label="item.nombre"
                                                            :value="item.id">
                                                            <span style="float: left">{{ item.nombre }}</span>
                                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.serie }}</span>
                                                        </el-option>
                                                    </el-select>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <div class="container" v-loading="loading"
                                                         :data="formulario"
                                                         style="width: 100%">
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="nombre">Nombre de Equipo</label>
                                                                <input class="form-control" v-model="formulario.nombre" readonly id="nombre" type="text"/>
                                                            </div>
                                                            <div class="col">
                                                                <label for="marca">Marca</label>
                                                                <input class="form-control" v-model="formulario.marca" readonly id="marca" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="modelo">Modelo</label>
                                                                <input class="form-control" v-model="formulario.modelo" readonly id="modelo" type="text" />
                                                            </div>
                                                            <div class="col">
                                                                <label for="serie">Serie</label>
                                                                <input class="form-control" v-model="formulario.serie" readonly id="serie" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label>Fecha de Calibración</label>
                                                                <input class="form-control" v-model="formulario.fecha_calibracion" readonly type="text" />
                                                            </div>
                                                            <div class="col">
                                                                <label>Fecha de Termino Calibración</label>
                                                                <input class="form-control" v-model="formulario.fecha_termino" readonly type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';
    export default {
        name: "index",
        data(){
            return{
                activo:'',
                inactivo:'',
                total:'',
                mesActual:'',
                nombreMes:'',
                fullscreenLoading:false,
                data:[],
                cantidad:[],
                equipo:[],
                colores:[],
                idequipo:'',
                arrayEquipo:[],
                formulario:[],
                loading:false
        }
        },
        methods:{
            getGrafico(){
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: this.equipo,
                        datasets: [{
                            label: 'Equipos de Medición',
                            data: this.cantidad,
                            backgroundColor: this.colores,
                            borderColor: this.colores,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true, // Instruct chart js to respond nicely.
                        maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                    }
                });
            },
            getEquipo(e){
                this.loading=true;
                axios.post('/monitoreo/equipo/getequipo',{'idequipo':e}).then(response =>{
                    this.formulario = response.data[0];
                    this.loading=false;
                })
            },
            getData(){
                this.fullscreenLoading = true;
                axios.get('/monitoreo/equipo/getDashboard').then(response =>{
                    this.total = response.data.total;
                    this.mesActual = response.data.mesActual;
                    this.nombreMes=response.data.mes;
                    this.inactivo = response.data.inactivo;
                    this.activo = response.data.activo;
                    this.arrayEquipo =response.data.equipo;
                    this.data = response.data.data;
                    this.data.map(item =>{
                        this.cantidad.push(item.cantidad);
                        this.equipo.push(item.equipo);
                        let parametro1 = Math.floor(Math.random() * 256) // 0 - 255
                        let parametro2 = Math.floor(Math.random() * 256) // 0 - 255
                        let parametro3 = Math.floor(Math.random() * 256) // 0 - 255
                        let color = 'rgba('+parametro1+', '+parametro2+', '+parametro3+', 0.2)'
                        this.colores.push(color);
                    });
                    this.getGrafico();
                    this.fullscreenLoading = false;
                })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>
    .empresa{
        position: absolute;
        right: -0px;
        top: 0px;
        width: 100px;
        height: 100px;
        opacity: 0.3;
        font-size: 7em;
    }
</style>
