<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR TRABAJADOR</h5>
                        </div>
                        <div class="card-body">
                            <div class="card">
                                <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess" role="tablist">
                                    <li class="nav-item "><a class="nav-link active" id="pills-clrhome-tabsuccess" data-toggle="pill" href="#pills-clrhomesuccess" role="tab" aria-controls="pills-clrhome" aria-selected="true"><i class="icofont icofont-upload"></i>Importar Trabajadores</a></li>
                                    <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tabsuccess" data-toggle="pill" href="#pills-clrprofilesuccess" role="tab" aria-controls="pills-clrprofile" aria-selected="false"><i class="icofont icofont-emo-wink-smile"></i>Añadir Trabajadores</a></li>
                                </ul>
                                <div class="card-body">
                                    <div class="tabbed-card">
                                        <div class="tab-content" id="pills-clrtabContentsuccess">
                                            <div class="tab-pane fade show active" id="pills-clrhomesuccess" role="tabpanel" aria-labelledby="pills-clrhome-tabsuccess">
                                                <form action="#">
                                                    <div class="col-xs-12">
                                                        <fieldset>
                                                            <legend>Formato Excel</legend>
                                                            <el-button type="success" @click="downloadFormato" :loading="loading"><i class="el-icon-download el-icon-right"></i></el-button>
                                                        </fieldset><br>
                                                        <div class="row">
                                                            <div class="col-6 col-md-6">
                                                                <label>Código <small class="form-control-feedback" >( * )</small></label><br>
                                                                <el-select v-model="formulario.codigo" style="width:100%;" placeholder="Seleccionar" filterable @change="getcodigo($event,0)"   clearable>
                                                                    <el-option
                                                                        v-for="select in arrayCodigo"
                                                                        :key="select.id"
                                                                        :label="select.codigo"
                                                                        :value="select.id"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                                <small class="form-control-feedback" v-if="errorPersona['codigo']" v-text="errorPersona['codigo'][0]"></small>
                                                            </div>
                                                            <div class="col-6 col-md-6">
                                                                <label>Código Interno<small class="form-control-feedback" >( * )</small></label><br>
                                                                <el-select v-model="formulario.codinterno" style="width:100%;" :loading="loading_empresa" placeholder="Seleccionar" filterable  clearable>
                                                                    <el-option
                                                                        v-for="select in arrayCodigoInter"
                                                                        :key="select.id"
                                                                        :label="select.full_code"
                                                                        :value="select.id"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                                <small class="form-control-feedback" v-if="errorPersona['codinterno']" v-text="errorPersona['codinterno'][0]"></small>
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-12 col-md-12">
                                                                <label for="celular">Empresa</label>
                                                                <el-input  readonly v-model="formulario.empresa" v-loading="loading_empresa" id="celular" ></el-input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 col-md-4">
                                                                <label for="file">Subir Data <small class="form-control-feedback" >( * )</small></label>
                                                                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept=".XLSX, .CSV" class="form-control">
                                                            </div>
                                                        </div>
                                                        <small class="form-control-feedback" v-if="errorPersona['file']" v-text="errorPersona['file'][0]"></small>
                                                        <br><br>
                                                        <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                                        <br>
                                                        <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Cargar Excel</button>
                                                        <router-link to="/trabajador" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="pills-clrprofilesuccess" role="tabpanel" aria-labelledby="pills-clrprofile-tabsuccess">
                                                <form action="#">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-6 col-md-6">
                                                                <label>Código <small class="form-control-feedback" >( * )</small></label><br>
                                                                <el-select v-model="form.codigo" style="width:100%;" placeholder="Seleccionar" filterable @change="getcodigo($event,1)"   clearable>
                                                                    <el-option
                                                                        v-for="select in arrayCodigo"
                                                                        :key="select.id"
                                                                        :label="select.codigo"
                                                                        :value="select.id"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.codigo']" v-text="errorGuardarTrabajador['form.codigo'][0]"></small>
                                                            </div>
                                                            <div class="col-6 col-md-6">
                                                                <label>Código Interno<small class="form-control-feedback" >( * )</small></label><br>
                                                                <el-select v-model="form.codinterno" style="width:100%;" :loading="loading_perEmpresa" placeholder="Seleccionar" filterable  clearable>
                                                                    <el-option
                                                                        v-for="select in arrayCodigoInter1"
                                                                        :key="select.id"
                                                                        :label="select.full_code"
                                                                        :value="select.id"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.codinterno']" v-text="errorGuardarTrabajador['form.codinterno'][0]"></small>
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-12 col-md-12">
                                                                <label for="empresa">Empresa</label>
                                                                <el-input readonly v-model="form.empresa"  v-loading="loading_perEmpresa" id="empresa"></el-input>
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-4 col-md-4">
                                                                <label for="dni">DNI <small class="form-control-feedback" >( * )</small></label>
                                                                <input class="form-control" v-model="form.dni" id="dni" type="text" autocomplete="off" />
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.dni']" v-text="errorGuardarTrabajador['form.dni'][0]"></small>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <label for="nombres">Nombres y Apellidos <small class="form-control-feedback" >( * )</small></label>
                                                                <input class="form-control" v-model="form.nombres" id="nombres" type="text" autocomplete="off"/>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.nombres']" v-text="errorGuardarTrabajador['form.nombres'][0]"></small>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <label for="trabajo">Puesto Trabajo <small class="form-control-feedback" >( * )</small></label>
                                                                <input class="form-control" v-model="form.trabajo" id="trabajo" type="text" autocomplete="off"/>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.trabajo']" v-text="errorGuardarTrabajador['form.trabajo'][0]"></small>
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-4 col-md-4">
                                                                <label for="area">Area Monitoreada <small class="form-control-feedback" >( * )</small></label>
                                                                <input class="form-control" v-model="form.area" id="area" type="text" autocomplete="off"/>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.area']" v-text="errorGuardarTrabajador['form.area'][0]"></small>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <label for="instalacion">Instalación <small class="form-control-feedback" >( * )</small></label>
                                                                <input class="form-control" v-model="form.instalacion" id="instalacion" type="text" autocomplete="off"/>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.instalacion']" v-text="errorGuardarTrabajador['form.instalacion'][0]"></small>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <label for="descripcion">Descripción de la Instalación <small class="form-control-feedback" >( * )</small></label>
                                                                <input class="form-control" v-model="form.descripcion" id="descripcion" type="text" autocomplete="off"/>
                                                                <small class="form-control-feedback" v-if="errorGuardarTrabajador['form.descripcion']" v-text="errorGuardarTrabajador['form.descripcion'][0]"></small>
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-4 col-md-4">
                                                                <label for="calle">Calle y Numero</label>
                                                                <input class="form-control" v-model="form.calle" id="calle" type="text" autocomplete="off"/>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <label for="distrito">Distrito</label>
                                                                <input class="form-control" v-model="form.distrito" id="distrito" type="text" autocomplete="off"/>
                                                            </div>
                                                            <div class="col-4 col-md-4">
                                                                <label for="area_geografica">Area Geografica</label>
                                                                <input class="form-control" v-model="form.area_geografica" id="area_geografica" type="text" autocomplete="off"/>
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-12 col-md-12">
                                                                <label for="region_geografica">Region Geografica</label>
                                                                <input class="form-control" v-model="form.region_geografica" id="region_geografica" type="text" autocomplete="off"/>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                                        <br>
                                                        <button class="btn btn-success nextBtn pull-right" type="button" @click="guardarTrabajador" >Guardar</button>
                                                        <router-link to="/trabajador" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            formulario:{
                codigo:'',
                empresa:'',
                subir:'',
            },
            file:'',
            arrayCodigo:[],
            arrayCodigoInter:[],
            arrayCodigoInter1:[],
            fullscreenLoading:false,
            errorPersona:'',
            loading:false,
            form:{},
            loading_empresa:false,
            loading_perEmpresa:false,
            errorGuardarTrabajador:[],
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            this.errorGuardarTrabajador='';
           let formData = new FormData();
           formData.append('file',this.file);
           formData.append('codigo',this.formulario.codigo);
            formData.append('codinterno',this.formulario.codinterno);
            formData.append('tipo','trabajador');
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/trabajador/importTrabajador';
           axios.post(url,formData,config).then(response =>{
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Se Agrego Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   this.$router.push('/trabajador');
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: response.data.message.attribute
                   });
               }
           }).catch(error =>{
               this.fullscreenLoading = false;
               if (error.response.data.errors){
                   this.errorPersona = error.response.data.errors;
                   window.scroll({
                       top:100,
                       left:100,
                       behavior:'smooth'
                   });
               }else {
                   this.errorPersona = "";
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'Error Formato Excel'
                   });
               }
               if (error.response.status == 401) {
                   this.$router.push({name: 'login'})
                   location.reload();
                   sessionStorage.clear();
               }
           }).then( ()=>{
               this.fullscreenLoading = false;
           })
        },
        Codigo(){
            axios.get('/monitoreo/trabajador/getProyecto').then(response =>{
                this.arrayCodigo = response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getcodigo(id,tipo){
            this.arrayCodigoInter=[];
            this.arrayCodigoInter1=[];
            if (tipo == 0){
                this.loading_empresa=true;
            }else {
                this.loading_perEmpresa=true;
            }
            axios.post('/monitoreo/comun/searchEmpresa',{'id':id}).then(response =>{
                if (tipo == 0){
                    this.formulario.empresa = response.data.empresa[0].razon_social;
                    this.arrayCodigoInter= response.data.codigo;
                }else {
                    this.form.empresa = response.data.empresa[0].razon_social;
                    this.arrayCodigoInter1= response.data.codigo;
                }
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    sessionStorage.clear();
                }
            }).then( ()=>{
                if (tipo == 0){
                    this.loading_empresa=false;
                }else {
                    this.loading_perEmpresa=false;
                }
            })
        },
        handleFileUpload(){
            this.file = this.$refs.file.files[0];
        },
        downloadFormato(){
            this.loading=true;
            var config ={
                responseType:'blob'
            };
            var url ='/monitoreo/trabajador/formatoTrabajador';
            axios.get(url,config).then(response =>{
                var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                var url = document.createElement('a');
                url.href = URL.createObjectURL(oMyBlob);
                url.download = 'Formato Trabajador.xlsx';
                url.click();
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Error en descargar'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    sessionStorage.clear();
                }
            }).then( ()=>{
                this.loading=false;
            })
        },
        guardarTrabajador(){
            this.fullscreenLoading=true;
            this.errorPersona='';
            axios.post('/monitoreo/trabajador/guardarTrabajador',{'form':this.form}).then(response =>{
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: response.data.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push('/trabajador');
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: response.data.message
                    });
                }
            }).catch(error =>{
                if (error.response.data.errors){
                    this.errorGuardarTrabajador = error.response.data.errors;
                    window.scroll({
                        top:100,
                        left:100,
                        behavior:'smooth'
                    });
                }
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                }
            }).then( ()=>{
                this.fullscreenLoading = false;
            })
        }
    },
    mounted() {
        this.Codigo();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
small{
    color: red;
}
</style>
