<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Trabajadores o Instalación</h5>
                        </div>
                        <div style=" text-align: center;">
                            <router-link to="/trabajador/agregarTrabajador"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">Cargar Nuevo Trabajador</router-link>
                            <router-link to="/trabajador/agregarInstalacion"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">Cargar Nueva Instalación</router-link>
                        </div>
                        <br>
                        <div class="card">
                            <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess" role="tablist">
                                <li class="nav-item "><a class="nav-link active" id="pills-clrhome-tabsuccess" data-toggle="pill" href="#pills-clrhomesuccess" role="tab" aria-controls="pills-clrhome" aria-selected="true"><i class="icofont icofont-emo-wink-smile"></i>Proyecto Activo {{paginationActivo.total}}</a></li>
                                <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tabsuccess" data-toggle="pill" href="#pills-clrprofilesuccess" role="tab" aria-controls="pills-clrprofile" aria-selected="false"><i class="icofont icofont-emo-worried"></i>Proyecto Cerrado {{paginationInactivo.total}}</a></li>
                            </ul>
                            <div class="card-body">
                                <div class="tabbed-card">
                                    <div class="tab-content" id="pills-clrtabContentsuccess">
                                        <div class="tab-pane fade show active" id="pills-clrhomesuccess" role="tabpanel" aria-labelledby="pills-clrhome-tabsuccess">
                                            <h6 class="element-header">Lista de Proyecto Activos</h6>
                                            <div class="row">
                                                <div class="col">
                                                    <el-select v-model="selectActivo" placeholder="Buscar por" style="width: 100%"  clearable>
                                                        <el-option
                                                            v-for="select in arraySelectActivo"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" type="text" v-model="busquedaActivo" @keyup.enter="list(1,selectActivo,busquedaActivo)" placeholder="Escribe la busqueda">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                        Buscar</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Código Proyecto</th>
                                                        <th>Código Interno</th>
                                                        <th>Empresa</th>
                                                        <th>Tipo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListActivo.length">
                                                    <tr v-for="row in arrayListActivo" :key="row.idrequerimiento" class="border-bottom-success">
                                                        <td v-text="row.codigo"></td>
                                                        <td v-text="row.codinterno"></td>
                                                        <td v-text="row.razon_social"></td>
                                                        <td v-text="row.tipo"></td>
                                                        <td>
                                                            <router-link :to="{name:'trabajador.ver',params:{id:row.idagente,estado:row.tipo}}" v-tooltip="'Visualizar'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-eye fa-lg fa-2x" style="color: blue"></i></router-link>/
                                                            <a @click="eliminar(0,row)" href="javascript:void(0)" v-tooltip="'Eliminar Registro'" ><i class="fa fa-trash fa-2x" style="color: red"></i></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Registros
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Código Proyecto</th>
                                                        <th>Código Interno</th>
                                                        <th>Empresa</th>
                                                        <th>Tipo</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <nav class="m-b-30" aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center pagination-success">
                                                                <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                                </li>
                                                                <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                                </li>
                                                                <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-clrprofilesuccess" role="tabpanel" aria-labelledby="pills-clrprofile-tabsuccess">
                                            <h6 class="element-header">Lista de Proyecto Cerrado</h6>
                                            <div class="row">
                                                <div class="col">
                                                    <el-select v-model="selectInactivo" placeholder="Buscar por"   clearable>
                                                        <el-option
                                                            v-for="select in arraySelectInactivo"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" type="text" v-model="busquedaInactivo" @keyup.enter="list(1,selectInactivo,busquedaInactivo)" placeholder="Escribe la busqueda">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectInactivo,busquedaInactivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                        Buscar</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <div class="table">
                                                    <table id="example1" class="display" style="width:100%" >
                                                        <thead>
                                                        <tr class="border-bottom-primary">
                                                            <th>Código Proyecto</th>
                                                            <th>Código Interno</th>
                                                            <th>Empresa</th>
                                                            <th>Tipo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody v-if="arrayListInactivo.length">
                                                        <tr v-for="row in arrayListInactivo" :key="row.idpersona" class="border-bottom-success">
                                                            <td v-text="row.codigo"></td>
                                                            <td v-text="row.codinterno"></td>
                                                            <td v-text="row.razon_social"></td>
                                                            <td v-text="row.tipo"></td>
                                                            <td>
                                                                <a @click="eliminar(0,row)" href="javascript:void(0)" v-tooltip="'Eliminar Registro'" ><i class="fa fa-trash fa-2x" style="color: red"></i></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                        <tr>
                                                            <td colspan="5">
                                                                No hay Registros
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th>Código Proyecto</th>
                                                            <th>Empresa</th>
                                                            <th>Tipo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <nav class="m-b-30" aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center pagination-success">
                                                                <li class="page-item" v-if="paginationInactivo.current_page >1">
                                                                    <a class="page-link" href="#" tabindex="-1" @click.prevent="cambiarPaginaInactivo(paginationInactivo.current_page - 1,selectInactivo,busquedaInactivo)">Antes</a>
                                                                </li>
                                                                <li class="page-item" v-for="page in pagesNumberInactivo" :key="page" :class="[page == isActivedInactivo ? 'active' : '']">
                                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaInactivo(page,selectInactivo,busquedaInactivo)" v-text="page"></a>
                                                                </li>
                                                                <li class="page-item" v-if="paginationInactivo.current_page < paginationInactivo.last_page">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaInactivo(paginationInactivo.current_page + 1,selectInactivo,busquedaInactivo)">Siguente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            selectActivo:'p.codigo',
            busquedaActivo:'',
            arraySelectActivo:[
                {id:'p.codigo',nombre:'Codigo Proyecto'},
                {id:'0',nombre:'Empresa'},
            ],
            selectInactivo:'p.codigo',
            busquedaInactivo:'',
            arraySelectInactivo:[
                {id:'p.codigo',nombre:'Codigo Proyecto'},
                {id:'0',nombre:'Empresa'},
            ],
            fullscreenLoading:false,
            arrayListActivo:[],
            arrayListInactivo:[],
            paginationActivo : {
                'total' : 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            },
            paginationInactivo : {
                'total' : 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            },
            offsetActivo : 3,
            offsetInactivo:3
        }
    },
    methods :{
        list(page,select,buscar) {
            this.fullscreenLoading = true;
            var url = '/monitoreo/trabajador/getListarTrabajador?page='+page+'&select='+select +'&buscar='+buscar;
            axios.get(url,{params:{'tipo':0}}).then((response) => {
                this.arrayListActivo =response.data.activo.data;
                this.paginationActivo=response.data.pagination;
                this.fullscreenLoading = false;
            }).catch(error =>{
                this.fullscreenLoading = false;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        listInactivo(page,select,buscar) {
            this.fullscreenLoading = true;
            var url = '/monitoreo/trabajador/getListarTrabajador?page='+page+'&select='+select +'&buscar='+buscar;
            axios.get(url,{params:{'tipo':1}}).then((response) => {
                this.arrayListInactivo =response.data.inactivo.data;
                this.paginationInactivo=response.data.pagination1;
                this.fullscreenLoading = false;
            }).catch(error =>{
                this.fullscreenLoading = false;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        eliminar(tipo,objeto){
            Swal.fire({
                title: 'Esta seguro de Eliminar '+ ((tipo == 0) ? objeto.codigo : objeto.codigo) +'?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar  '+ ((tipo == 0) ? objeto.codigo : objeto.codigo) +'!'
            }).then((result) => {
                if (result.value) {
                    this.fullscreenLoading = true;
                    axios.post('/monitoreo/trabajador/eliminar',{'objeto':objeto})
                        .then( response => {
                            if (response.data.success == true){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Se Elimino Correctamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                this.list(1,this.selectActivo,this.busquedaActivo);
                                this.fullscreenLoading = false;
                            }else{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Contacte al Administrador para solucionarlo'
                                });
                            }
                        }).catch( (error) =>{
                        this.fullscreenLoading = false;
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Contacte al Administrador para solucionarlo'
                        });
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'})
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                    });

                }
            })
        },
        excel(){
            this.fullscreenLoading = true;
            var config ={
                responseType:'blob'
            };
            axios.get('/monitoreo/persona/export',config).then(response =>{
                var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                var url = document.createElement('a')
                url.href = URL.createObjectURL(oMyBlob);
                url.download = 'persona.xlsx'
                url.click()
                this.fullscreenLoading = false;
            }).catch(error => {
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        cambiarPaginaActivo(page,select,buscar){
            let me = this;
            //Actualiza la página actual
            me.paginationActivo.current_page = page;
            //Envia la petición para visualizar la data de esa página
            me.list(page,select,buscar);
        },
        cambiarPaginaInactivo(page,select,buscar){
            let me = this;
            //Actualiza la página actual
            me.paginationInactivo.current_page = page;
            //Envia la petición para visualizar la data de esa página
            me.listInactivo(page,select,buscar);
        },
    },
    computed:{
        isActivedActivo: function(){
            return this.paginationActivo.current_page;
        },
        isActivedInactivo: function(){
            return this.paginationInactivo.current_page;
        },
        //Calcula los elementos de la paginación
        pagesNumberActivo: function() {
            if(!this.paginationActivo.to) {
                return [];
            }

            var from = this.paginationActivo.current_page - this.offsetActivo;
            if(from < 1) {
                from = 1;
            }

            var to = from + (this.offsetActivo * 2);
            if(to >= this.paginationActivo.last_page){
                to = this.paginationActivo.last_page;
            }

            var pagesArray = [];
            while(from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        },
        pagesNumberInactivo: function() {
            if(!this.paginationInactivo.to) {
                return [];
            }

            var from = this.paginationInactivo.current_page - this.offsetInactivo;
            if(from < 1) {
                from = 1;
            }

            var to = from + (this.offsetInactivo * 2);
            if(to >= this.paginationInactivo.last_page){
                to = this.paginationInactivo.last_page;
            }

            var pagesArray = [];
            while(from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        }
    },
    mounted() {
        this.list(1,this.selectActivo,this.busquedaActivo);
        this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
    }
}
</script>

<style scoped>

</style>
