<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <template v-if="estado == 'Instalacion'">
                        <div class="card">
                            <div class="card-header">
                                <h5>Lista de Instalación</h5>
                            </div>
                            <div style=" text-align: center;">
                                <router-link :to="{name:'trabajador.instalacion.agregar',params:{id:id,estado:estado}}"  v-loading.fullscreen.look="fullscreenLoading"  class="btn btn-primary" type="button" >AGREGAR</router-link>
                            </div>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-10">
                                        {{empresa}}
                                    </div>
                                    <div class="col">
                                        <a @click="excel(0)" href="javascript:void(0)" v-tooltip="'exportar a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <el-select v-model="selectinstalacion" placeholder="Buscar por"   clearable>
                                                <el-option
                                                    v-for="select in arraySelectinstalacion"
                                                    :key="select.id"
                                                    :label="select.nombre"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col">
                                            <div class="col-md-12 mb-12">
                                                <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,selectinstalacion,busqueda)" placeholder="Escribe la busqueda">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectinstalacion,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                                Buscar</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table" >
                                            <thead>
                                            <tr class="border-bottom-primary">
                                                <th>Área</th>
                                                <th>Instalación</th>
                                                <th>Descripción</th>
                                                <th>Calle y Número</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="arrayList.length">
                                            <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                                <td v-text="row.area_monitoreada"></td>
                                                <td v-text="row.instalacion"></td>
                                                <td v-text="row.descripcion_instalacion"></td>
                                                <td v-text="row.calle_numero"></td>
                                                <td>
                                                    <router-link :to="{name:'trabajador.instalacion.editar',params:{idproyecto:id,estado:estado,id:row.id}}" v-tooltip="'Editar'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green"></i></router-link>/
                                                    <a @click="eliminar(0,row)" href="javascript:void(0)" v-tooltip="'Eliminar'" ><i class="fa fa-trash fa-2x" style="color: red"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tbody v-else>
                                            <tr>
                                                <td colspan="5">
                                                    No hay Instalación
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Área</th>
                                                <th>Instalación</th>
                                                <th>Descripción</th>
                                                <th>Calle y Número</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <div class="card">
                                            <div class="card-body">
                                                <nav class="m-b-30" aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center pagination-success">
                                                        <li class="page-item" v-if="pagination.current_page > 1">
                                                            <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,selectinstalacion,busqueda)">Antes</a>
                                                        </li>
                                                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page,selectinstalacion,busqueda)" v-text="page"></a>
                                                        </li>
                                                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                            <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,selectinstalacion,busqueda)">Siguente</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="card">
                            <div class="card-header">
                                <h5>Lista de Trabajadores</h5>
                            </div>
                            <div style=" text-align: center;">
                                <router-link :to="{name:'trabajador.trabajador.agregar',params:{id:id,estado:estado}}"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR</router-link>
                            </div>
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-10">
                                        {{empresa}}
                                    </div>
                                    <div class="col">
                                        <a @click="excel(1)" href="javascript:void(0)" v-tooltip="'exportar a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <el-select v-model="select" placeholder="Buscar por"   clearable>
                                                <el-option
                                                    v-for="select in arraySelect"
                                                    :key="select.id"
                                                    :label="select.nombre"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col">
                                            <div class="col-md-12 mb-12">
                                                <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                                Buscar</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table" >
                                            <thead>
                                            <tr class="border-bottom-primary">
                                                <th>Nombre y Apellido</th>
                                                <th>Área</th>
                                                <th>Puesto Trabajo</th>
                                                <th>Calle y Número</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="arrayList.length">
                                            <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                                <td v-text="row.nombres_apellidos"></td>
                                                <td v-text="row.area_geografica"></td>
                                                <td v-text="row.puesto_trabajo"></td>
                                                <td v-text="row.calle_numero"></td>
                                                <td>
                                                    <router-link :to="{name:'trabajador.trabajador.editar',params:{idproyecto:id,estado:estado,id:row.id}}" v-tooltip="'Editar'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green"></i></router-link>/
                                                    <a @click="eliminar(1,row)" href="javascript:void(0)" v-tooltip="'Eliminar'" ><i class="fa fa-trash fa-2x" style="color: red"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tbody v-else>
                                            <tr>
                                                <td colspan="5">
                                                    No hay Trabajadores
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Nombre y Apellido</th>
                                                <th>Área</th>
                                                <th>Puesto Trabajo</th>
                                                <th>Calle y Número</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <div class="card">
                                            <div class="card-body">
                                                <nav class="m-b-30" aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center pagination-success">
                                                        <li class="page-item" v-if="pagination.current_page > 1">
                                                            <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                                        </li>
                                                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                                        </li>
                                                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                            <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            selectinstalacion:'area_monitoreada',
            select:'nombres',
            busqueda:'',
            arraySelectinstalacion:[
                {id:'area_monitoreada',nombre:'Área'},
                {id:'instalacion',nombre:'Instalación'},
            ],
            arraySelect:[
                {id:'nombres',nombre:'Nombre'},
                {id:'apellido_paterno',nombre:'Apellido Paterno'},
            ],
            pagination : {
                'total' : 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            },
            arrayList:[],
            offset : 3,
            fullscreenLoading:false,
            empresa:'',
            id:this.$attrs.id,
            estado:this.$attrs.estado
        }
    },
    methods:{
        list(page,select,buscar) {
            this.fullscreenLoading = true;
            var url = '/monitoreo/trabajador/getverTrabajador?page='+page+'&select='+select +'&buscar='+buscar;
            axios.get(url,{params:{'id':this.id,'estado':this.estado}}).then((response) => {
                this.arrayList =response.data.lista.data;
                this.pagination=response.data.pagination;
                this.fullscreenLoading = false;
            }).catch(error =>{
                this.fullscreenLoading = false;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getdata(){
            this.fullscreenLoading = true;
            axios.post('/monitoreo/trabajador/getdata',{'id':this.id}).then(response =>{
                this.empresa=response.data[0].razon_social;
                this.list(1,this.select,this.busqueda);
            }).catch(error =>{
                this.fullscreenLoading = false;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        eliminar(tipo,objeto){
            Swal.fire({
                title: 'Esta seguro de Eliminar '+ ((tipo == 0) ? objeto.area_monitoreada : objeto.nombres_apellidos) +'?',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, Eliminar  '+ ((tipo == 0) ? objeto.area_monitoreada : objeto.nombres_apellidos) +'!'
            }).then((result) => {
                if (result.value) {
                    this.fullscreenLoading = true;
                    axios.post('/monitoreo/trabajador/instalacion/eliminar',{'objeto':objeto,'estado':this.estado})
                        .then( response => {
                            if (response.data.success == true){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Se Elimino Correctamente',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                this.list(1,this.select,this.busqueda);
                                this.fullscreenLoading = false;
                            }else{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Contacte al Administrador para solucionarlo'
                                });
                            }
                        }).catch( (error) =>{
                        this.fullscreenLoading = false;
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Contacte al Administrador para solucionarlo'
                        });
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'});
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                    });

                }
            })
        },
        excel(tipo){
            this.fullscreenLoading = true;
            var config ={
                responseType:'blob'
            };
            let data= new FormData();
            data.append('id',this.id);
            data.append('estado',this.estado);
            var url ='/monitoreo/trabajador/export';
            axios.post(url,data,config).then(response =>{
                var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                var url = document.createElement('a');
                url.href = URL.createObjectURL(oMyBlob);
                url.download = ((tipo == 0) ? 'Instalacion.xlsx' : 'Trabajador.xlsx');
                url.click();
                this.fullscreenLoading = false;
            }).catch(error => {
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        cambiarPagina(page,select,buscar){
            let me = this;
            //Actualiza la página actual
            me.pagination.current_page = page;
            //Envia la petición para visualizar la data de esa página
            me.list(page,select,buscar);
        },
    },
    computed:{
        isActived: function(){
            return this.pagination.current_page;
        },
        //Calcula los elementos de la paginación
        pagesNumber: function() {
            if(!this.pagination.to) {
                return [];
            }

            var from = this.pagination.current_page - this.offset;
            if(from < 1) {
                from = 1;
            }

            var to = from + (this.offset * 2);
            if(to >= this.pagination.last_page){
                to = this.pagination.last_page;
            }

            var pagesArray = [];
            while(from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        }
    },
    mounted() {
        this.getdata();
    }
}

</script>

<style scoped>

</style>
