<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR PERSONAL DE HISSO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorPersona" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorPersona" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-md-6">
                                            <label for="dni">DNI <small class="form-control-feedback" >( * )</small></label>
                                            <input class="form-control" v-model="formulario.dni" id="dni" type="text" autocomplete="off"/>
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <br>
                                            <button class="btn btn-success" @click.prevent="apiDNI"  type="button">Buscar DNI</button>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-6 col-md-6">
                                            <label>Nombres <small class="form-control-feedback" >( * )</small></label>
                                            <el-input
                                                v-loading="loadingDni"
                                                v-model="formulario.nombre"
                                                clearable>
                                            </el-input>
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <label>Apellidos <small class="form-control-feedback" >( * )</small></label>
                                            <el-input
                                                v-loading="loadingDni"
                                                v-model="formulario.apellido"
                                                clearable>
                                            </el-input>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <label for="correo">Correo</label>
                                            <input class="form-control" v-model="formulario.correo" id="correo" type="text" />
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <label for="celular">Celular <small class="form-control-feedback" >( * )</small></label>
                                            <input class="form-control" v-model="formulario.celular" id="celular" type="text" autocomplete="off"/>
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <label>Código Interno</label>
                                            <el-input
                                                v-loading="loading"
                                                v-model="formulario.codigo"
                                                readonly
                                                style="color: grey"
                                                clearable>
                                            </el-input>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <label>Fecha Nacimiento</label><br>
                                            <input v-model="formulario.fnacimiento" type="date" class="form-control"/>
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <label >Sexo <small class="form-control-feedback" >( * )</small></label><br>
                                            <el-select v-model="formulario.sexo" placeholder="Seleccionar" style="width: 100%"  clearable>
                                                <el-option
                                                    v-for="select in arraySexo"
                                                    :key="select.id"
                                                    :label="select.nombre"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <label >Empresa <small class="form-control-feedback" >( * )</small></label><br>
                                            <el-select v-model="formulario.empresa" placeholder="Seleccionar" style="width: 100%" filterable  clearable>
                                                <el-option
                                                    v-for="select in arrayEmpresa"
                                                    :key="select.id"
                                                    :label="select.razon_social"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <label for="direccion">Dirección</label>
                                        <textarea class="form-control" type="text" rows="3" id="direccion" v-model="formulario.direccion" autocomplete="off"></textarea>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-6 col-md-4">
                                            <label >Departamento</label><br>
                                            <el-select v-model="formulario.departamento" id="iddepa" filterable @change="provincia" placeholder="Seleccionar" style="width: 100%"  clearable>
                                                <el-option
                                                    v-for="select in arrayDepartamento"
                                                    :key="select.id"
                                                    :label="select.departamento"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <label >Provincia</label><br>
                                            <el-select v-model="formulario.provincia" v-loading="loadingProvincia" filterable @change="distrito" placeholder="Seleccionar" style="width: 100%"  clearable>
                                                <el-option
                                                    v-for="select in arrayProvincia"
                                                    :key="select.id"
                                                    :label="select.provincia"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col-6 col-md-4">
                                            <label>Distrito</label><br>
                                            <el-select v-model="formulario.distrito" v-loading="loadingDistrito" filterable placeholder="Seleccionar" style="width: 100%"  clearable>
                                                <el-option
                                                    v-for="select in arrayDistrito"
                                                    :key="select.id"
                                                    :label="select.distrito"
                                                    :value="select.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <label >Cargo <small class="form-control-feedback" >( * )</small></label><br>
                                            <el-select v-model="formulario.idrol" filterable placeholder="Seleccionar" clearable style="width: 100%" v-loading="loadingCargo">
                                                <el-option
                                                    v-for="select in arrayRol"
                                                    :key="select.id"
                                                    :label="select.nombre"
                                                    :value="select.id"
                                                    :disabled="select.estado"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-6 col-md-6">
                                            <label>Fecha Inicio</label><br>
                                            <input v-model="formulario.finicio" type="date" class="form-control" />
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <label>Fecha Final</label><br>
                                            <input  v-model="formulario.ffinal" type="date" class="form-control"/>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col">
                                            <label for="observacion">Observación</label>
                                            <textarea class="form-control" id="observacion" v-model="formulario.observacion" type="text" autocomplete="off"></textarea>
                                        </div>
                                    </div><br>
                                    <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                    <br> <br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link to="/personal" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            formulario:{
                idusuario:'',
                idrol:null,
                departamento:'',
                provincia:'',
                distrito:''
            },
            arraySexo:[
                {id:'Masculino',nombre:'Masculino'},
                {id:'Femenino',nombre:'Femenino'}
            ],
            arrayEmpresa:[],
            arrayProvincia:[],
            arrayDepartamento:[],
            arrayDistrito:[],
            arrayRol:[],
            fullscreenLoading:false,
            errorPersona:'',
            loading:false,
            loadingCargo:false,
            loadingProvincia:false,
            loadingDistrito:false,
            loadingDni:false,
            id:'',
        }
    },
    methods:{
        getData(){
            this.fullscreenLoading = true;
          axios.post('/monitoreo/personal/getdata',{'id':this.id}).then(response =>{
              this.formulario = response.data[0];
              this.empresa();
              this.cargo();
              this.getdepartamento();
              this.getprovincia();
              this.getdistrito();
              this.fullscreenLoading = false;
          })
        },
        guardar(){
            let me = this;
            axios.post('/monitoreo/personal/agregar',{
                'formulario':this.formulario,
                'idpersona':this.id
            }).then(function (response) {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Se Modifico Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   me.$router.push('/personal');
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: response.data.message
                   });
               }
            }).catch(error => {
                me.errorPersona = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        empresa(){
            axios.get('/monitoreo/personal/getempresa').then(response =>{
                this.arrayEmpresa =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getdepartamento(){
            axios.get('/monitoreo/comun/getdepartamento').then(response =>{
                this.arrayDepartamento =response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getprovincia(){
            axios.post('/monitoreo/comun/getprovincia',{'id':this.formulario.departamento}).then(response =>{
                this.arrayProvincia =response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getdistrito(){
            axios.post('/monitoreo/comun/getdistrito',{'id':this.formulario.provincia}).then(response =>{
                this.arrayDistrito =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        departamento(){
            axios.get('/monitoreo/comun/getdepartamento').then(response =>{
                this.arrayDepartamento =response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        provincia(){
            this.loadingProvincia=true;
            this.arrayProvincia=[];
            this.formulario.provincia='';
            axios.post('/monitoreo/comun/getprovincia',{'id':this.formulario.departamento}).then(response =>{
                this.arrayProvincia =response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                }
            }).then( ()=>{
                this.loadingProvincia=false;
            })
        },
        distrito(){
            this.loadingDistrito=true;
            this.arrayDistrito=[];
            this.formulario.distrito='';
            axios.post('/monitoreo/comun/getdistrito',{'id':this.formulario.provincia}).then(response =>{
                this.arrayDistrito =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                }
            }).then(() =>{
                this.loadingDistrito=false;
            })
        },
        apiDNI(){
            if (this.formulario.dni.length == 8){
                this.loadingDni=true;
                axios.post('/monitoreo/personal/apiDni',{'dni':this.formulario.dni}).then(response =>{
                    if (response.data.existe == true){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }else if (response.data.success == true) {
                        this.formulario.nombre =response.data.dni.name;
                        this.formulario.apellido =response.data.dni.first_name + ','+response.data.dni.last_name;
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No se Pudo Encontrar el DNI'
                    });
                    if (error.response.status == 419) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        localStorage.clear();
                    }
                }).then( () =>{
                    this.loadingDni=false;
                })
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'El Campo DNI debe tener 8 digitos'
                });
            }
        },
        cargo(){
            this.loadingCargo=true;
            axios.get('/monitoreo/comun/getRol').then(response =>{
                this.arrayRol=response.data;
            }).catch(error => {
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                }
            }).then( () =>{
                this.loadingCargo=false;
            })
        },
    },
    mounted() {
        this.id=JSON.parse(localStorage.getItem('personal'));
        this.getData();
    }
}

</script>

<style scoped>
    small{
        color: red;
    }
</style>
