<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Personal de Hisso</h5>
                        </div>
                        <div style=" text-align: center;">
                            <router-link to="/personal/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">REGISTRAR PERSONAL</router-link>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-9">
                                </div>
                                <div class="col">
                                    <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess" role="tablist">
                                <li class="nav-item "><a class="nav-link active" id="pills-clrhome-tabsuccess" data-toggle="pill" href="#pills-clrhomesuccess" role="tab" aria-controls="pills-clrhome" aria-selected="true"><i class="icofont icofont-emo-wink-smile"></i>Personal Activo {{arrayListActivo.length}}</a></li>
                                <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tabsuccess" data-toggle="pill" href="#pills-clrprofilesuccess" role="tab" aria-controls="pills-clrprofile" aria-selected="false"><i class="icofont icofont-emo-worried"></i>Personal Inactivo {{arrayListInactivo.length}}</a></li>
                            </ul>
                            <div class="card-body">
                                <div class="tabbed-card">
                                    <div class="tab-content" id="pills-clrtabContentsuccess">
                                        <div class="tab-pane fade show active" id="pills-clrhomesuccess" role="tabpanel" aria-labelledby="pills-clrhome-tabsuccess">
                                            <h6 class="element-header">Lista de Personal Activos</h6>
                                            <div class="table-responsive" >
                                                <table class="table" id="tbActivo">
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Nombre y Apellido</th>
                                                        <th>Empresa</th>
                                                        <th>DNI</th>
                                                        <th>Fech.Nacimiento</th>
                                                        <th>Celular</th>
                                                        <th>Estado</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListActivo.length">
                                                    <tr v-for="row in arrayListActivo" :key="row.idpersona" class="border-bottom-success">
                                                        <td v-text="row.full_name"></td>
                                                        <td v-text="row.razon_social"></td>
                                                        <td v-text="row.dni"></td>
                                                        <td v-if="row.fechanacimiento == null">--</td>
                                                        <td v-else>{{row.fechanacimiento}}</td>
                                                        <td v-text="row.celular"></td>
                                                        <td v-if="row.estado == 2"><span class="badge badge-danger">En Monitoreo</span></td>
                                                        <td v-else><span class="badge badge-success">Disponible</span></td>
                                                        <td>
                                                            <template v-if="listRolPermisosByUsuario.includes('personal.editar')">
                                                                <a @click="editar(row.idpersona)" href="javascript:void(0)"  v-tooltip="'Editar Personal'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green"></i></a>/
                                                            </template>
                                                            <template v-if="row.estado == 2">
                                                                <a  href="javascript:void(0)" v-tooltip="'no puedes Inhabilitar el Personal cuando esta en un Monitoreo'" ><i class="fa fa-times fa-2x" style="color:gray"></i></a>
                                                            </template>
                                                            <template v-else>
                                                                <a @click="estado(0,row)" href="javascript:void(0)" v-tooltip="'Inhabilitar Personal'" ><i class="fa fa-times fa-2x" style="color: red"></i></a>
                                                            </template>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Nombre y Apellido</th>
                                                        <th>Empresa</th>
                                                        <th>DNI</th>
                                                        <th>Fech.Nacimiento</th>
                                                        <th>Celular</th>
                                                        <th>Estado</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="pills-clrprofilesuccess" role="tabpanel" aria-labelledby="pills-clrprofile-tabsuccess">
                                            <h6 class="element-header">Lista de Personal Inactivos</h6>
                                            <div class="table-responsive">
                                                <table id="tbInactivo" class="table"  >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Nombre y Apellido</th>
                                                        <th>Empresa</th>
                                                        <th>DNI</th>
                                                        <th>Fech.Nacimiento</th>
                                                        <th>Celular</th>
                                                        <th>Estado</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListInactivo.length">
                                                    <tr v-for="row in arrayListInactivo" :key="row.idpersona" class="border-bottom-success">
                                                        <td v-text="row.full_name"></td>
                                                        <td v-text="row.razon_social"></td>
                                                        <td v-text="row.dni"></td>
                                                        <td v-if="row.fechanacimiento == null">--</td>
                                                        <td v-else>{{row.fechanacimiento}}</td>
                                                        <td v-text="row.celular"></td>
                                                        <td v-if="row.estado == 1"><span class="badge badge-danger">Inactivo</span></td>
                                                        <td v-else><span class="badge badge-success">Disponible</span></td>
                                                        <td>
                                                            <a @click="estado(1,row)" href="javascript:void(0)" v-tooltip="'Habilitar Personal'" ><i class="fa fa-check fa-2x" style="color: green"></i></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Nombre y Apellido</th>
                                                        <th>Empresa</th>
                                                        <th>DNI</th>
                                                        <th>Fech.Nacimiento</th>
                                                        <th>Celular</th>
                                                        <th>Estado</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
import DataTable from 'datatables';
export default {
    data(){
        return{
            fullscreenLoading:false,
            arrayListActivo:[],
            arrayListInactivo:[],
            listRolPermisosByUsuario: JSON.parse(localStorage.getItem('listRolPermisosByUsuario'))
        }
    },
    methods :{
        list() {
            this.fullscreenLoading = true;
            var url = '/monitoreo/personal/getListarPersonal';
            axios.get(url).then((response) => {
                this.arrayListActivo =response.data.activo;
                this.arrayListInactivo =response.data.inactivo;
                this.tableActivo();
                this.tableInactivo();
                this.fullscreenLoading = false;
            }).catch(error =>{
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        estado(tipo,objeto){
            Swal.fire({
                title: 'Esta seguro de '+ ((tipo == 0)? 'Inhabilitar' : 'Activar') +' al Personal '+objeto.full_name+'?',
                text: 'El Personal no podra Acceder al Sistema',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, '+ ((tipo == 0) ? 'Inhabilitar' : 'Activar') +' al Personal !'
            }).then((result) => {
                if (result.value) {
                    this.fullscreenLoading = true;
                    axios.post('/monitoreo/personal/estadoMonitor',{'objeto':objeto,'tipo':tipo})
                        .then( response => {
                            if (response.data.success == true){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $('#tbActivo').dataTable().fnDestroy();
                                $('#tbInactivo').dataTable().fnDestroy();
                                this.list();
                                this.fullscreenLoading = false;
                            }else{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.data.message
                                });
                            }
                        }).catch( (error) =>{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: error
                                });
                                if (error.response.status == 419) {
                                    this.$router.push({name: 'login'})
                                    location.reload();
                                    localStorage.clear();
                                    this.fullscreenLoading = false;
                                }
                    });

                }
            })
        },
        excel(){
            this.fullscreenLoading = true;
            var config ={
                responseType:'blob'
            };
            axios.get('/monitoreo/personal/export',config).then(response =>{
                var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                var url = document.createElement('a')
                url.href = URL.createObjectURL(oMyBlob);
                url.download = 'personal.xlsx'
                url.click()
                this.fullscreenLoading = false;
            }).catch(error =>{
                if (error.response.status == 419) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    localStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        tableActivo(){
          this.$nextTick(()=>{
              $('#tbActivo').DataTable({
                  "pageLength": 10,
                  responsive: true,
                  searching: true,
                  dom: 'Bfrtip',
                  buttons: [
                      'copy', 'excel', 'pdf'
                  ],
                  language: {
                      "sProcessing": "Procesando...",
                      "sLengthMenu": "Mostrar _MENU_ registros",
                      "sZeroRecords": "No se encontraron resultados",
                      "sEmptyTable": "Ningún dato disponible en esta tabla",
                      "sInfo": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                      "sInfoEmpty": "Ningún dato disponible en esta tabla",
                      "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                      "sInfoPostFix": "",
                      "sSearch": "Buscar:",
                      "sUrl": "",
                      "sInfoThousands": ",",
                      "sLoadingRecords": "Cargando...",
                      "oPaginate": {
                          "sFirst": "Primero",
                          "sLast": "Último",
                          "sNext": "Siguiente",
                          "sPrevious": "Anterior"
                      },
                      "oAria": {
                          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                      },
                  },
                  destroy: true
              });
          });
        },
        tableInactivo(){
            this.$nextTick(()=>{
                $('#tbInactivo').DataTable({
                    "pageLength": 10,
                    responsive: true,
                    searching: true,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'excel', 'pdf'
                    ],
                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Ningún dato disponible en esta tabla",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                    },
                    destroy: true
                });
            });
        },
        editar(idpersona){
            localStorage.setItem('personal',JSON.stringify(idpersona));
            this.$router.push('/personal/editar');
        }
    },
    mounted() {
         this.list();
    }
}
</script>

<style scoped>

</style>
