<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close"
               @open="create" :before-close="handleClose">
        <form class="form" autocomplete="off" @submit.prevent="submit">
            <div class="row">
                <div class="col">
                    <label>Servicios <small class="form-control-feedback" >( * )</small></label><br>
                    <el-select v-model="form.servicio" style="width: 100%;" v-loading="loading_Servicios" @change="monitoreo"  placeholder="Seleccione" filterable  clearable>
                        <el-option
                            v-for="empresa in arrayServicio"
                            :key="empresa.id"
                            :label="empresa.servicios"
                            :value="empresa.id"
                        >
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.servicio']" v-text="errors['form.servicio'][0]"></small>
                </div>
                <template v-if="form.servicio == 1">
                    <div class="col">
                        <label>Monitoreos <small class="form-control-feedback" >( * )</small></label><br>
                        <el-select v-model="form.monitoreo" style="width: 100%;" v-loading="loading_Monitoreo" @change="categoria" placeholder="Seleccione" filterable  clearable>
                            <el-option
                                v-for="empresa in arrayMonitoreo"
                                :key="empresa.id"
                                :label="empresa.monitoreo"
                                :value="empresa.id"
                            >
                            </el-option>
                        </el-select>
                        <small class="form-control-feedback" v-if="errors['form.monitoreo']" v-text="errors['form.monitoreo'][0]"></small>
                    </div>
                    <div class="col">
                        <label>Categoria <small class="form-control-feedback" >( * )</small></label><br>
                        <el-select v-model="form.categoria" style="width: 100%;" v-loading="loading_Categoria" placeholder="Seleccione" filterable  clearable>
                            <el-option
                                v-for="empresa in arrayCategoria"
                                :key="empresa.id"
                                :label="empresa.nombre"
                                :value="empresa.id"
                            >
                            </el-option>
                        </el-select>
                        <small class="form-control-feedback" v-if="errors['form.categoria']" v-text="errors['form.categoria'][0]"></small>
                    </div>
                </template>
            </div>
            <div class="row">
                <div class="col">
                    <label for="instalacion">Nombre Instalación <small class="form-control-feedback" >( * )</small></label>
                    <textarea class="form-control" id="instalacion" v-model="form.instalacion" type="text"></textarea>
                    <small class="form-control-feedback" v-if="errors['form.instalacion']" v-text="errors['form.instalacion'][0]"></small>
                </div>
                <div class="col">
                    <label for="direccion">Dirección <small class="form-control-feedback" >( * )</small></label>
                    <textarea class="form-control" id="direccion" v-model="form.direccion" type="text"></textarea>
                    <small class="form-control-feedback" v-if="errors['form.direccion']" v-text="errors['form.direccion'][0]"></small>
                </div>
                <template v-if="form.servicio == 1 || form.servicio == 2 || form.servicio == 4">
                    <div class="col">
                        <label for="puntos">Cant. de Puntos <small class="form-control-feedback" >( * )</small></label>
                        <input class="form-control" id="puntos" v-model="form.puntos" type="text"  />
                        <small class="form-control-feedback" v-if="errors['form.puntos']" v-text="errors['form.puntos'][0]"></small>
                    </div>
                </template>
            </div>
            <div class="row">
                <div class="col">
                    <label>Departamento <small class="form-control-feedback" >( * )</small></label><br>
                    <el-select v-model="form.departamento" style="width: 100%;" v-loading="loading_Departamento" @change="provincia" placeholder="Seleccione" filterable  clearable>
                        <el-option
                            v-for="empresa in arrayDepartamento"
                            :key="empresa.id"
                            :label="empresa.departamento"
                            :value="empresa.id"
                        >
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.departamento']" v-text="errors['form.departamento'][0]"></small>
                </div>
                <div class="col">
                    <label>Provincia <small class="form-control-feedback" >( * )</small></label><br>
                    <el-select v-model="form.provincia" style="width: 100%;" v-loading="loading_Provincia" @change="distrito" placeholder="Seleccione" filterable  clearable>
                        <el-option
                            v-for="empresa in arrayProvincia"
                            :key="empresa.id"
                            :label="empresa.provincia"
                            :value="empresa.id"
                        >
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.provincia']" v-text="errors['form.provincia'][0]"></small>
                </div>
                <div class="col">
                    <label>Distrito <small class="form-control-feedback" >( * )</small></label><br>
                    <el-select v-model="form.distrito" style="width: 100%;" v-loading="loading_Distrito" placeholder="Seleccione" filterable  clearable>
                        <el-option
                            v-for="empresa in arrayDistrito"
                            :key="empresa.id"
                            :label="empresa.distrito"
                            :value="empresa.id"
                        >
                        </el-option>
                    </el-select>
                    <small class="form-control-feedback" v-if="errors['form.distrito']" v-text="errors['form.distrito'][0]"></small>
                </div>
            </div>
            <br>
            <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
            <br>
            <div class="col-12" align="center">
                <el-button type="success" round native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>

<script>
    import DataTable from 'datatables';
    import Swal from 'sweetalert2';
    export default {
        name: "agente",
        props: ['showDialog','idagente','codigo','array','objeto'],
        data(){
            return{
                titleDialog : null,
                loading_submit: false,
                errors:{},
                id:'',
                innerVisible:false,
                form:{
                    servicio:'',
                    monitoreo:'',
                    categoria:'',
                    departamento:'',
                    provincia:'',
                    distrito:''
                },
                arrayDepartamento:[],
                arrayProvincia:[],
                arrayDistrito:[],
                arrayServicio:[],
                arrayMonitoreo:[],
                arrayCategoria:[],
                loading_Departamento:false,
                loading_Provincia:false,
                loading_Distrito:false,
                loading_Servicios:false,
                loading_Monitoreo:false,
                loading_Categoria:false,
                estado:''
            }
        },
        methods:{
            initFrom(){
                this.errors={};
                this.id='';
                this.form={
                    servicio:'',
                    monitoreo:'',
                    categoria:'',
                    departamento:'',
                    provincia:'',
                    distrito:''
                };
            },
            submit(){
                this.loading_submit = true;
                axios.post('/monitoreo/proyecto/valAgentes',{
                    'form':this.form
                }).then(response =>{
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: this.estado,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        if (this.estado == 'MODIFICADO'){
                            this.updateData(response.data[0],response.data[1].nombre);
                        }else {
                            this.createData(response.data[0],response.data[1].nombre);
                        }
                        $('#tbAgente').dataTable().fnDestroy();
                        this.table();
                        this.$eventHub.$emit('reloadData');
                        this.close()
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Error'
                        });
                    }
                }).catch(error =>{
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.loading_submit = false;
                })
            },
            create(){
                this.titleDialog = (this.objeto) ?'EDITAR TIPO DE SERVICIO':'ELEGIR TIPO DE SERVICIO';
                this.estado='AGREGADO';
                this.departamento();
                this.servicios();
                if (this.objeto){
                    this.form = this.objeto;
                    this.estado='MODIFICADO';
                    this.monitoreo();
                    this.categoria();
                    this.provincia();
                    this.distrito();
                }
            },
            table(){
                this.$nextTick(()=>{
                    $('#tbAgente').DataTable({
                        "pageLength": 10,
                        responsive: true,
                        searching: true,
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'excel', 'pdf'
                        ],
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Ningún dato disponible en esta tabla",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                        },
                        destroy: true
                    });
                });
            },
            departamento(){
                this.loading_Departamento=true;
                axios.get('/monitoreo/comun/getdepartamento').then(response =>{
                    this.arrayDepartamento =response.data;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                }).then( ()=>{
                    this.loading_Departamento=false;
                })
            },
            provincia(){
                this.loading_Provincia=true;
                axios.post('/monitoreo/comun/getprovincia',{'id':this.form.departamento}).then(response =>{
                    this.arrayProvincia =response.data;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.loading_Provincia=false;
                })
            },
            distrito(){
                this.loading_Distrito=true;
                axios.post('/monitoreo/comun/getdistrito',{'id':this.form.provincia}).then(response =>{
                    this.arrayDistrito =response.data
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then(() =>{
                    this.loading_Distrito=false;
                })
            },
            servicios(){
                this.loading_Servicios=true;
                axios.get('/monitoreo/comun/getServicios').then(response =>{
                    this.arrayServicio=response.data;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.loading_Servicios=false;
                })
            },
            monitoreo(){
                this.loading_Monitoreo=true;
                if (this.estado == 'AGREGADO') {
                    this.form.monitoreo = '';
                    this.arrayMonitoreo = [];
                    this.form.categoria = '';
                    this.arrayCategoria = [];
                }
                axios.post('/monitoreo/comun/getMonitoreo',{'idservicio':this.form.servicio}).then(response =>{
                    this.arrayMonitoreo=response.data;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.loading_Monitoreo=false;
                })
            },
            categoria(){
                this.loading_Categoria=true;
                if (this.estado == 'AGREGADO') {
                    this.form.categoria = '';
                    this.arrayCategoria = [];
                }
                axios.post('/monitoreo/comun/getCategoria',{'idcategoria':this.form.monitoreo}).then(response =>{
                    this.arrayCategoria=response.data;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'error'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.loading_Categoria=false;
                })
            },
            updateData(servicio,nombreCategoria){
                this.array.map( item =>{
                    if (item.idx == this.idagente){
                        item.id = this.form.id;
                        item.servicio = servicio;
                        item.monitoreo = this.form.monitoreo;
                        item.categoria = this.form.categoria;
                        item.departamento = this.form.departamento;
                        item.provincia = this.form.provincia;
                        item.distrito = this.form.distrito;
                        item.instalacion = this.form.instalacion;
                        item.direccion = this.form.direccion;
                        item.puntos = this.form.puntos;
                        item.nombreCategoria = nombreCategoria;
                    }
                });
                /*this.array[this.idagente].id = this.form.id;
                this.array[this.idagente].servicio = servicio;
                this.array[this.idagente].monitoreo = this.form.monitoreo;
                this.array[this.idagente].categoria = this.form.categoria;
                this.array[this.idagente].departamento = this.form.departamento;
                this.array[this.idagente].provincia = this.form.provincia;
                this.array[this.idagente].distrito = this.form.distrito;
                this.array[this.idagente].instalacion = this.form.instalacion;
                this.array[this.idagente].direccion = this.form.direccion;
                this.array[this.idagente].puntos = this.form.puntos;
                this.array[this.idagente].nombreCategoria = nombreCategoria;*/

            },
            createData(servicio,nombreCategoria){
                let contador =this.array.length + 1;
                let numero='0';
                let result='';
                if (contador<10){
                    result=numero.concat(contador)
                }else {
                    result=contador
                }
                this.array.push({
                    id:null,
                    idx:this.array.length,
                    servicio:servicio,
                    monitoreo:this.form.monitoreo,
                    categoria:this.form.categoria,
                    departamento:this.form.departamento,
                    provincia:this.form.provincia,
                    distrito:this.form.distrito,
                    instalacion:this.form.instalacion,
                    direccion:this.form.direccion,
                    puntos:this.form.puntos,
                    nombreCategoria:nombreCategoria,
                    codigoInterno:this.codigo+'/'+result
                });
            },
            handleClose(done) {
                this.$confirm('Estas Seguro de Cerrar?')
                    .then(_ => {
                        this.initFrom();
                        done();
                    })
                    .catch(_ => {});
            },
            close(){
                this.$emit('update:showDialog',false);
                this.initFrom();
            },
        },
    }
</script>

<style scoped>
    small{
        color: red;
    }
    .has-danger {
        color: #dc3545;
    }
</style>
