<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR PROYECTO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label>Empresa <small class="form-control-feedback" >( * )</small></label><br>
                                            <el-select v-model="formulario.idempresa" style="width: 100%;" disabled @change="codigoProyecto" placeholder="Seleccione" filterable  clearable>
                                                <el-option
                                                    v-for="empresa in arrayEmpresa"
                                                    :key="empresa.id"
                                                    :label="empresa.razon_social"
                                                    :value="empresa.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </div>
                                        <div class="col">
                                            <label for="codigo">Código Proyecto</label>
                                            <el-input id="codigo" v-loading="loading_codigo" disabled v-model="formulario.codigo"></el-input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="lima">Cant.Lima <small class="form-control-feedback" >( * )</small></label>
                                            <input class="form-control" id="lima" v-model="formulario.lima" type="text"  />
                                        </div>
                                        <div class="col">
                                            <label for="provincia">Cant.Provincia <small class="form-control-feedback" >( * )</small></label>
                                            <input class="form-control" id="provincia" v-model="formulario.provincia" type="text"  />
                                        </div>
                                        <div class="col">
                                            <label for="finicio">Fecha Inicio <small class="form-control-feedback" >( * )</small></label><br>
                                            <input class="form-control" v-model="formulario.fecha_inicio" type="date" id="finicio"></input>
                                        </div>
                                        <div class="col">
                                            <label for="ffin">Fecha Fin <small class="form-control-feedback" >( * )</small></label><br>
                                            <input class="form-control"  v-model="formulario.fecha_fin" type="date" id="ffin"></input>
                                        </div>
                                    </div><br>
                                    <small class="form-control-feedback" >( * ) Son campos obligatorios que usted deberá completar correctamente.</small>
                                    <br><br>
                                    <fieldset>
                                        <legend>ELEGIR TIPO DE SERVICIO</legend>
                                        <div align="center">
                                            <el-button type="success" @click="agregarAgente()" round>AGREGAR TIPO DE SERVICIO</el-button>
                                        </div>
                                    </fieldset>
                                    <div class="table-responsive">
                                        <table class="table" id="tbAgente">
                                            <thead>
                                            <tr class="border-bottom-primary">
                                                <th>Codigo Servicio</th>
                                                <th>Nombre Instalación</th>
                                                <th>Servicio</th>
                                                <th>Cant.Puntos</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>
                                            <tbody v-if="arrayListAgentes.length">
                                            <tr v-for="(trab,index) in arrayListAgentes" :key="trab.id" class="border-bottom-success">
                                                <td v-text="trab.codigoInterno"></td>
                                                <td v-text="trab.instalacion"></td>
                                                <td v-if="trab.nombreCategoria == null">{{trab.nombreServ}}</td>
                                                <td v-else>{{trab.nombreCategoria}}</td>
                                                <td v-if="trab.puntos == null">--</td>
                                                <td v-else>{{trab.puntos}}</td>
                                                <td>
                                                    <a @click="agregarAgente(trab,index)" type="button">
                                                        <i class="fa fa-edit fa-2x" style="color: green"></i>
                                                    </a>/
                                                    <a @click="delAgente(index,trab)" type="button" >
                                                        <i class="fa fa-trash fa-2x" style="color: red"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tbody v-else>
                                            <tr>
                                                <td colspan="5">
                                                    No hay Datos
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Codigo Servicio</th>
                                                <th>Nombre Instalación</th>
                                                <th>Servicio</th>
                                                <th>Cant.Puntos</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link to="/proyecto" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <agente :showDialog.sync="dialogVisible" :idagente="idagente" :codigo="formulario.codigo"
                :array="arrayListAgentes" :objeto="objetoAgente"></agente>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Agente from "./agente";
    import DataTable from 'datatables';
    export default {
        components: {Agente},
        data(){
            return{
                arrayEmpresa:{},
                formulario:{
                    idproyecto:'',
                    codigo:'',
                    idempresa:'',
                    trabajadores:'',
                    lima:'',
                    provincia:'',
                    idagente:''
                },
                arrayListAgentes:[],
                fullscreenLoading:false,
                errorEquipo:'',
                idagente:'',
                objetoAgente:'',
                dialogVisible: false,
                loading_codigo:false,
                id:'',
            }
        },
        methods:{
            guardar(){
                let me = this;
                axios.post('/monitoreo/proyecto/agregar',{
                    'formulario':this.formulario,
                    'arrayListAgentes':this.arrayListAgentes
                }).then(function (response) {
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        me.$router.push('/proyecto');
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }
                }).catch(error => {
                    me.errorEquipo = error.response.data.errors;
                    window.scroll({
                        top:100,
                        left:100,
                        behavior:'smooth'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            empresa(){
                axios.get("/monitoreo/empresa/getEmpresa").then(response =>{
                    this.arrayEmpresa = response.data;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            },
            agregarAgente(objeto=null,id = null){
                if (this.formulario.codigo){
                    this.objetoAgente=objeto;
                    this.idagente=id;
                    this.dialogVisible = true;
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de Proyecto debe ser Generado'
                    });
                }
            },
            delAgente(index,objeto){
                Swal.fire({
                    title: 'Estas seguro de Eliminar '+objeto.instalacion+'?',
                    text: "esta opcion es reversible.!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Eliminar!'
                }).then((result) => {
                    if (result.value) {
                        this.fullscreenLoading=true;
                        axios.post('/monitoreo/proyecto/deleteAgente',{'objeto':objeto}).then(response =>{
                            if (response.data.success == true){
                                this.arrayListAgentes.splice(index, 1);
                                $('#tbAgente').dataTable().fnDestroy();
                                this.table();
                                Swal.fire(
                                    'Elimidado!',
                                    'La Instalación '+objeto.instalacion+' se ha eliminado de la lista.',
                                    'success'
                                )
                            }else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.data.message
                                });
                            }
                        }).catch(error =>{
                            if (error.response.status == 401) {
                                this.$router.push({name: 'login'})
                                location.reload();
                                sessionStorage.clear();
                            }
                        }).then( ()=>{
                            this.fullscreenLoading=false;
                        })
                    }
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            codigoProyecto(){
                this.loading_codigo=true;
                axios.post('/monitoreo/proyecto/obtenerCodigo',{'idempresa':this.formulario.idempresa}).then(response =>{
                    this.formulario.codigo = response.data[0].CodigoProyecto;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.loading_codigo=false;
                })
            },
            getData(){
                this.fullscreenLoading = true;
                axios.get('/monitoreo/proyecto/getdata',{params:{'id':this.id}}).then(response =>{
                    this.formulario = response.data.proyecto;
                    this.arrayListAgentes = response.data[0];
                    this.arrayListAgentes.map( item =>{
                       if (item.servicio === 2 || item.servicio === 3 || item.servicio === 4 || item.servicio === 5){
                           item.monitoreo=null;
                           item.categoria=null;
                       }
                    });
                    this.table();
                    this.empresa();
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                }).then( ()=>{
                    this.fullscreenLoading = false;
                })
            },
            table(){
                this.$nextTick(()=>{
                    $('#tbAgente').DataTable({
                        "pageLength": 10,
                        responsive: true,
                        searching: true,
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'excel', 'pdf'
                        ],
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                            "sInfo": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Ningún dato disponible en esta tabla",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                        },
                        destroy: true
                    });
                });
            },
        },
        mounted() {
            this.id=JSON.parse(localStorage.getItem('proyecto'));
            this.getData();
        }
    }

</script>

<style scoped>
    legend {
        font-size: medium;
        color:#00f;
    }
    small{
        color: red;
    }
</style>
