<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Proyectos</h5>
                        </div>
                        <div style=" text-align: center;">
                            <router-link to="/proyecto/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">REGISTRAR PROYECTO</router-link>
                        </div>
                        <br>
                        <!--<div class="container">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-9">
                                </div>
                                <div class="col">
                                    <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                </div>
                            </div>
                        </div>-->
                        <div class="card">
                            <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess" role="tablist">
                                <li class="nav-item "><a class="nav-link active" id="pills-clrhome-tabsuccess" data-toggle="pill" href="#pills-clrhomesuccess" role="tab" aria-controls="pills-clrhome" aria-selected="true"><i class="icofont icofont-emo-wink-smile"></i>Proyecto Activo {{paginationActivo.total}}</a></li>
                                <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tabsuccess" data-toggle="pill" href="#pills-clrprofilesuccess" role="tab" aria-controls="pills-clrprofile" aria-selected="false"><i class="icofont icofont-emo-worried"></i>Proyecto Inactivo {{paginationInactivo.total}}</a></li>
                            </ul>
                            <div class="card-body">
                                <div class="tabbed-card">
                                    <div class="tab-content" id="pills-clrtabContentsuccess">
                                        <div class="tab-pane fade show active" id="pills-clrhomesuccess" role="tabpanel" aria-labelledby="pills-clrhome-tabsuccess">
                                            <h6 class="element-header">Lista de Proyecto Activos</h6>
                                            <div class="row">
                                                <div class="col">
                                                    <el-select v-model="selectActivo" placeholder="Buscar por" style="width: 100%;"  clearable>
                                                        <el-option
                                                            v-for="select in arraySelectActivo"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <template v-if="selectActivo == 'p.created_at'">
                                                    <div class="col">
                                                        <el-date-picker
                                                            v-model="busquedaActivo"
                                                            type="date"
                                                            format="dd/MM/yyyy"
                                                            value-format="yyyy-MM-dd"
                                                            style="width: 100%;">
                                                        </el-date-picker>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    <div class="col">
                                                        <div class="col-md-12 mb-12">
                                                            <el-input
                                                                placeholder="Escribe la busqueda"
                                                                v-model="busquedaActivo"
                                                                @keyup.enter="list(1,selectActivo,busquedaActivo)"
                                                                clearable>
                                                            </el-input>
                                                        </div>
                                                    </div>
                                                </template>
                                                <div class="col">
                                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                        Buscar</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table" >
                                                    <thead>
                                                    <tr class="border-bottom-primary">
                                                        <th>Código Proyecto</th>
                                                        <th>Nombre Empresa</th>
                                                        <th>Fecha Inicio</th>
                                                        <th>Serv.Contratados</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody v-if="arrayListActivo.length">
                                                    <tr v-for="row in arrayListActivo" :key="row.idproyecto" class="border-bottom-success">
                                                        <td v-text="row.codigo"></td>
                                                        <td v-text="row.razon_social"></td>
                                                        <td v-text="row.fecha_inicio"></td>
                                                        <td v-text="row.nservicios"></td>
                                                        <td>
                                                            <template v-if="listRolPermisosByUsuario.includes('proyecto.editar')">
                                                            <a @click="editar(row.idproyecto)" href="javascript:void(0)" v-tooltip="'Editar Proyecto'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green"></i></a>
                                                            </template>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                    <tr>
                                                        <td colspan="5">
                                                            No hay Proyecto
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Código Proyecto</th>
                                                        <th>Nombre Empresa</th>
                                                        <th>Fecha Inicio</th>
                                                        <th>Serv.Contratados</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <nav class="m-b-30" aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center pagination-success">
                                                                <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                                </li>
                                                                <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                                </li>
                                                                <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-clrprofilesuccess" role="tabpanel" aria-labelledby="pills-clrprofile-tabsuccess">
                                            <h6 class="element-header">Lista de Proyecto Inactivos</h6>
                                            <div class="row">
                                                <div class="col">
                                                    <el-select v-model="selectInactivo" placeholder="Buscar por"   clearable>
                                                        <el-option
                                                            v-for="select in arraySelectInactivo"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <input class="form-control" type="text" v-model="busquedaInactivo" @keyup.enter="list(1,selectInactivo,busquedaInactivo)" placeholder="Escribe la busqueda">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectInactivo,busquedaInactivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                        Buscar</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <div class="table">
                                                    <table id="example1" class="display" style="width:100%" >
                                                        <thead>
                                                        <tr class="border-bottom-primary">
                                                            <th>Código Proyecto</th>
                                                            <th>Nombre Empresa</th>
                                                            <th>Fecha Inicio</th>
                                                            <th>Serv.Contratados</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody v-if="arrayListInactivo.length">
                                                        <tr v-for="row in arrayListInactivo" :key="row.idproyecto" class="border-bottom-success">
                                                            <td v-text="row.codigo"></td>
                                                            <td v-text="row.razon_social"></td>
                                                            <td v-text="row.fecha_inicio"></td>
                                                            <td v-text="row.nservicios"></td>
                                                        </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                        <tr>
                                                            <td colspan="5">
                                                                No hay Proyecto
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th>Código Proyecto</th>
                                                            <th>Nombre Empresa</th>
                                                            <th>Fecha Inicio</th>
                                                            <th>Serv.Contratados</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <nav class="m-b-30" aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-center pagination-success">
                                                                <li class="page-item" v-if="paginationInactivo.current_page >1">
                                                                    <a class="page-link" href="#" tabindex="-1" @click.prevent="cambiarPaginaInactivo(paginationInactivo.current_page - 1,selectInactivo,busquedaInactivo)">Antes</a>
                                                                </li>
                                                                <li class="page-item" v-for="page in pagesNumberInactivo" :key="page" :class="[page == isActivedInactivo ? 'active' : '']">
                                                                    <a class="page-link" href="#" @click.prevent="cambiarPaginaInactivo(page,selectInactivo,busquedaInactivo)" v-text="page"></a>
                                                                </li>
                                                                <li class="page-item" v-if="paginationInactivo.current_page < paginationInactivo.last_page">
                                                                    <a class="page-link" href="#"  @click.prevent="cambiarPaginaInactivo(paginationInactivo.current_page + 1,selectInactivo,busquedaInactivo)">Siguente</a>
                                                                </li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data(){
            return{
                selectActivo:'',
                busquedaActivo:'',
                arraySelectActivo:[
                    {id:'p.codigo',nombre:'Codigo Proyecto'},
                    {id:'e.razon_social',nombre:'Empresa'},
                    {id:'p.fecha_inicio',nombre:'Fecha Inicio'}
                ],
                selectInactivo:'',
                busquedaInactivo:'',
                arraySelectInactivo:[
                    {id:'p.codigo',nombre:'Codigo Proyecto'},
                    {id:'e.razon_social',nombre:'Empresa'},
                    {id:'p.fecha_inicio',nombre:'Fecha Inicio'}
                ],
                fullscreenLoading:false,
                arrayListActivo:[],
                arrayListInactivo:[],
                paginationActivo : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                paginationInactivo : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offsetActivo : 3,
                offsetInactivo:3,
                listRolPermisosByUsuario: JSON.parse(localStorage.getItem('listRolPermisosByUsuario'))
            }
        },
        methods :{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/proyecto/getListarProyecto?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'tipo':0}}).then((response) => {
                    this.arrayListActivo =response.data.activo.data;
                    this.paginationActivo=response.data.pagination;
                    this.busquedaActivo="";
                    this.selectActivo="";
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            listInactivo(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/proyecto/getListarProyecto?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'tipo':1}}).then((response) => {
                    this.arrayListInactivo =response.data.inactivo.data;
                    this.paginationInactivo=response.data.pagination1;
                    this.busquedaActivo="";
                    this.selectActivo="";
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            estado(tipo,objeto){
                if (tipo == 1){
                    Swal.fire({
                        title: 'Por Favor Escribe el Motivo para el Proyecto '+objeto.codigo+'',
                        input: 'textarea',
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Cerrar',
                        showLoaderOnConfirm: true,
                        preConfirm: (motivo) => {
                            if(motivo == ''){
                                Swal.showValidationMessage(
                                    `Por Favor Completa el Campo`
                                )
                            }else{
                                axios.post('/monitoreo/proyecto/estadoProyecto',{'objeto':objeto,'tipo':tipo,'motivo':motivo})
                                    .then(response =>{
                                        if (response.data.success == true){
                                            Swal.fire({
                                                position: 'top-end',
                                                icon: 'success',
                                                title: 'Se Cerro Correctamente',
                                                showConfirmButton: false,
                                                timer: 1500
                                            });
                                            this.list(1,'','');
                                            this.listInactivo(1,'','');
                                            this.fullscreenLoading = false;
                                        }else{
                                            this.fullscreenLoading = false;
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Oops...',
                                                text: 'Codigo de error 500'
                                            });
                                        }
                                    }).catch(error =>{
                                    if (error.response.status == 401) {
                                        this.$router.push({name: 'login'})
                                        location.reload();
                                        sessionStorage.clear();
                                        this.fullscreenLoading = false;
                                    }
                                })
                            }
                        },
                        allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Se Cerro Correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    })
                }else{
                    Swal.fire({
                        title: 'Por Favor Escribe el Motivo para el Proyecto '+objeto.codigo+'',
                        input: 'textarea',
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Activar',
                        showLoaderOnConfirm: true,
                        preConfirm: (motivo) => {
                            if(motivo == ''){
                                Swal.showValidationMessage(
                                    `Por Favor Completa el Campo`
                                )
                            }else{
                                axios.post('/monitoreo/proyecto/estadoProyecto',{'objeto':objeto,'tipo':tipo,'motivo':motivo})
                                    .then(response =>{
                                        if (response.data.success == true){
                                            Swal.fire({
                                                position: 'top-end',
                                                icon: 'success',
                                                title: 'Se Activo Correctamente',
                                                showConfirmButton: false,
                                                timer: 1500
                                            });
                                            this.list(1,'','');
                                            this.listInactivo(1,'','');
                                            this.fullscreenLoading = false;
                                        }else{
                                            this.fullscreenLoading = false;
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Oops...',
                                                text: 'Codigo de error 500'
                                            });
                                        }
                                    }).catch(error =>{
                                    if (error.response.status == 401) {
                                        this.$router.push({name: 'login'})
                                        location.reload();
                                        sessionStorage.clear();
                                        this.fullscreenLoading = false;
                                    }
                                })
                            }
                        },
                        allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Se Activo Correctamente',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    })
                }
            },
            eliminar(tipo,objeto){
                Swal.fire({
                    title: 'Esta seguro de Eliminar '+ ((tipo == 0) ? objeto.codigo : objeto.codigo) +'?',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Eliminar  '+ ((tipo == 0) ? objeto.codigo : objeto.codigo) +'!'
                }).then((result) => {
                    if (result.value) {
                        this.fullscreenLoading = true;
                        axios.post('/monitoreo/proyecto/eliminarProyecto',{'objeto':objeto})
                            .then( response => {
                                if (response.data.success == true){
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: response.data.message,
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    this.list(1,this.selectActivo,this.busquedaActivo);
                                    this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
                                    this.fullscreenLoading = false;
                                }else{
                                    this.fullscreenLoading = false;
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: response.data.message
                                    });
                                }
                            }).catch( (error) =>{
                            this.fullscreenLoading = false;
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: error
                            });
                            if (error.response.status == 401) {
                                this.$router.push({name: 'login'});
                                location.reload();
                                sessionStorage.clear();
                                this.fullscreenLoading = false;
                            }
                        });

                    }
                })
            },
            excel(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                axios.get('/monitoreo/proyecto/export',config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                    var url = document.createElement('a')
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Proyecto.xlsx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            editar(id){
                localStorage.setItem('proyecto',JSON.stringify(id));
                this.$router.push('/proyecto/editar');
            },
            cambiarPaginaActivo(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.paginationActivo.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
            cambiarPaginaInactivo(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.paginationInactivo.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listInactivo(page,select,buscar);
            },
        },
        computed:{
            isActivedActivo: function(){
                return this.paginationActivo.current_page;
            },
            isActivedInactivo: function(){
                return this.paginationInactivo.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumberActivo: function() {
                if(!this.paginationActivo.to) {
                    return [];
                }

                var from = this.paginationActivo.current_page - this.offsetActivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetActivo * 2);
                if(to >= this.paginationActivo.last_page){
                    to = this.paginationActivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
            pagesNumberInactivo: function() {
                if(!this.paginationInactivo.to) {
                    return [];
                }

                var from = this.paginationInactivo.current_page - this.offsetInactivo;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offsetInactivo * 2);
                if(to >= this.paginationInactivo.last_page){
                    to = this.paginationInactivo.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            }
        },
        mounted() {
            this.list(1,this.selectActivo,this.busquedaActivo);
            this.listInactivo(1,this.selectInactivo,this.busquedaInactivo);
        }
    }
</script>

<style scoped>

</style>
