<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>VER PROYECTO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="codigo">Código Proyecto</label>
                                                <input class="form-control" disabled id="codigo" v-model="formulario.codigo" type="text"  />
                                            </div>
                                            <div class="col">
                                                <label>Empresa</label><br>
                                                <el-select v-model="formulario.idempresa" placeholder="Seleccione"   clearable>
                                                    <el-option
                                                        v-for="empresa in arrayEmpresa"
                                                        :key="empresa.id"
                                                        :label="empresa.razon_social"
                                                        :value="empresa.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div><br>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="trabajadores">N° Trabajadores</label>
                                                    <input class="form-control" disabled id="trabajadores" v-model="formulario.trabajadores" type="text"  />
                                                </div>
                                                <div class="col">
                                                    <label for="cedes">Cantidad de Sedes</label>
                                                    <input class="form-control" disabled id="cedes" v-model="formulario.sedes" type="text"  />
                                                </div>
                                                <div class="col">
                                                    <div class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml">
                                                        <div class="checkbox checkbox-dark">
                                                            <input id="inline-1" type="checkbox" true-value="si" false-value="no" v-model="formulario.lima">
                                                            <label for="inline-1">Lima</label>
                                                        </div>
                                                        <div class="checkbox checkbox-dark">
                                                            <input id="inline-2" type="checkbox" true-value="si" false-value="no" v-model="formulario.provincia">
                                                            <label for="inline-2">Provincia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="asesoria">Asesoría</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="asesoria" value="Asesoría" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="biologico">Biológico</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" value="Biológico" id="biologico" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="ergonomia">Ergonomía</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="ergonomia" value="Ergonomía" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="humedad">Humedad y Velocidad de viento</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="humedad" value="Humedad y Velocidad de viento" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="iluminacion">Iluminación</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="iluminacion" value="Iluminación" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="iper">IPERC</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="iper" value="IPERC"  v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="inspecciones">Inspecciones</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="inspecciones" value="Inspecciones" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="investigacion">Investigacion de Accidentes</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="investigacion" value="Investigacion de Accidentes" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="psicosocial">Psicosocial</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="psicosocial" value="Psicosocial" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="ruido">Ruido</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" id="ruido" value="Ruido" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="supervicion">Supervisión</label>
                                                <div class="media-body text-left icon-state switch-outline">
                                                    <label class="switch">
                                                        <input type="checkbox" value="Supervisión" id="supervicion" v-model="agente" ><span class="switch-state bg-success"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>DETALLES</h5>
                        </div>
                        <!--<div style="text-align: center;">
                            <button class="btn btn-success" type="button" @click="guardar" >Registrar</button>
                        </div>-->
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <el-select v-model="selectActivo" placeholder="Buscar por"   clearable>
                                                    <el-option
                                                        v-for="select in arraySelectActivo"
                                                        :key="select.id"
                                                        :label="select.nombre"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <template v-if="selectActivo == '1' ">
                                                <div class="col">
                                                    <el-select v-model="busquedaActivo" placeholder="Seleccione"   clearable>
                                                        <el-option
                                                            v-for="select in arrayPersona"
                                                            :key="select.id"
                                                            :label="select.nombre"
                                                            :value="select.id"
                                                        >
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </template>
                                            <template v-else>
                                                <div class="col">
                                                    <div class="col-md-12 mb-12">
                                                        <el-date-picker
                                                            v-model="busquedaActivo"
                                                            type="daterange"
                                                            range-separator="A"
                                                            start-placeholder="Inicio"
                                                            end-placeholder="Fin"
                                                            format="dd/MM/yyyy"
                                                            value-format="yyyy-MM-dd">
                                                        </el-date-picker>
                                                    </div>
                                                </div>
                                            </template>
                                            <div class="col">
                                                <button class="btn btn-primary"  type="button" @click.prevent="list(1,selectActivo,busquedaActivo)" v-loading.fullscreen.lock="fullscreenLoading">
                                                    Buscar</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" >
                                                <thead>
                                                <tr class="border-bottom-primary">
                                                    <th>Motivo</th>
                                                    <th>Fecha</th>
                                                    <th>Persona</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrayListActivo.length">
                                                <tr v-for="row in arrayListActivo" :key="row.id" class="border-bottom-success">
                                                    <td v-text="row.motivo"></td>
                                                    <td v-text="row.created_at"></td>
                                                    <td v-text="row.full_name"></td>
                                                </tr>
                                                </tbody>
                                                <tbody v-else>
                                                <tr>
                                                    <td colspan="5">
                                                        No hay Detalle de Equipos
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Motivo</th>
                                                    <th>Fecha</th>
                                                    <th>Persona</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <div class="card">
                                                <div class="card-body">
                                                    <nav class="m-b-30" aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center pagination-success">
                                                            <li class="page-item" v-if="paginationActivo.current_page > 1">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page - 1,selectActivo,busquedaActivo)">Antes</a>
                                                            </li>
                                                            <li class="page-item" v-for="page in pagesNumberActivo" :key="page" :class="[page == isActivedActivo ? 'active' : '']">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPaginaActivo(page,selectActivo,busquedaActivo)" v-text="page"></a>
                                                            </li>
                                                            <li class="page-item" v-if="paginationActivo.current_page < paginationActivo.last_page">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPaginaActivo(paginationActivo.current_page + 1,selectActivo,busquedaActivo)">Siguente</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div style="text-align: center;">
                                        <router-link to="/proyecto" class="btn btn-danger" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            arrayEmpresa:{},
            formulario: {
                codigo: '',
                idempresa: '',
                trabajadores: '',
                sedes: '',
                lima:'',
                provincia:'',
                idagente: '',
                idproyecto:''
            },
            agente:[],
            listagente:[],
            fullscreenLoading:false,
            errorEquipo:'',
            arrayListActivo:[],
            paginationActivo : {
                'total' : 0,
                'current_page' : 0,
                'per_page' : 0,
                'last_page' : 0,
                'from' : 0,
                'to' : 0,
            },
            offsetActivo : 3,
            selectActivo:'0',
            busquedaActivo:'',
            arraySelectActivo:[
                {id:'0',nombre:'Fecha'},
                {id:'1',nombre:'Persona'}
            ],
            arrayPersona:[],
            id:this.$attrs.id,
        }
    },
    methods:{
        list(page,select,buscar) {
            this.fullscreenLoading = true;
            var url = '/monitoreo/proyecto/getListarDetalle?page='+page +'&select='+select+'&buscar='+buscar;
            axios.get(url,{params:{'id':this.id}}).then((response) => {
                this.arrayListActivo =response.data.detalle.data;
                this.paginationActivo=response.data.pagination;
                this.listPersona();
                this.fullscreenLoading = false;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error 504'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        listPersona(){
            axios.get('/monitoreo/equipo/persona').then(response =>{
                this.arrayPersona = response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error 504'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getData(){
            axios.post('/monitoreo/proyecto/getdata',{'id':this.id}).then(response =>{
                this.empresa();
                this.formulario.codigo=response.data.proyecto[0].codigo;
                this.formulario.idempresa=response.data.proyecto[0].idempresa;
                this.formulario.trabajadores=response.data.proyecto[0].cantidad_trabajadores;
                this.formulario.sedes=response.data.proyecto[0].cantidad_sedes;
                this.formulario.region=response.data.proyecto[0].region;
                this.formulario.idproyecto=response.data.proyecto[0].id;
                this.listagente=response.data[0];
                this.formulario.lima=response.data.proyecto[0].lima;
                this.formulario.provincia=response.data.proyecto[0].provincia;
                this.listAgente();
                this.list(1,this.selectActivo,this.busquedaActivo);
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        guardar(){
            let me = this;
            axios.post('/monitoreo/proyecto/agregar',{
                'formulario':this.formulario,
                'agente':this.agente,
                'up':0
            }).then(function (response) {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Se Agrego Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   me.$router.push('/proyecto');
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'Codigo de error 500'
                   });
               }
            }).catch(error => {
                me.errorEquipo = error.response.data.errors;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        empresa(){
            axios.get("/monitoreo/empresa/getEmpresa").then(response =>{
                this.arrayEmpresa = response.data;
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        listAgente(){
            this.listagente.map(item =>{
                this.agente.push(item.nombre);
            })
        },
        cambiarPaginaActivo(page,select,buscar){
            let me = this;
            //Actualiza la página actual
            me.paginationActivo.current_page = page;
            //Envia la petición para visualizar la data de esa página
            me.list(page,select,buscar);
        },
    },
    computed:{
        isActivedActivo: function(){
            return this.paginationActivo.current_page;
        },
        //Calcula los elementos de la paginación
        pagesNumberActivo: function() {
            if(!this.paginationActivo.to) {
                return [];
            }

            var from = this.paginationActivo.current_page - this.offsetActivo;
            if(from < 1) {
                from = 1;
            }

            var to = from + (this.offsetActivo * 2);
            if(to >= this.paginationActivo.last_page){
                to = this.paginationActivo.last_page;
            }

            var pagesArray = [];
            while(from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;

        }
    },
    mounted() {
        this.getData();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}

</style>
