<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR USUARIO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorPersona" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorPersona" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6 col-md-6">
                                                <label for="usuario">Usuario</label>
                                                <input class="form-control" v-model="formulario.usuario" id="usuario" type="text" />
                                            </div>
                                            <div class="col-6 col-md-6">
                                                <label>Contraseña</label>
                                                <el-input v-model="formulario.password" show-password></el-input>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-6 col-md-6">
                                                <label>Rol</label><br>
                                                <el-select v-model="formulario.rol" filterable placeholder="Seleccionar"   clearable>
                                                    <el-option
                                                        v-for="select in arrayRol"
                                                        :key="select.id"
                                                        :label="select.nombre"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="col-6 col-md-6">
                                                <label>Responsable de Ejecucion</label>
                                                <el-select v-model="formulario.responsable" id="iddepa" filterable placeholder="Seleccionar"   clearable>
                                                    <el-option
                                                        v-for="select in arrayResponsable"
                                                        :key="select.id"
                                                        :label="select.full_name"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>
                                    </div><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link to="/usuario" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            formulario:{
                usuario:'',
                password:'',
                responsable:'',
                rol:'',
            },
            idusuario:'',
            arrayRol:[],
            arrayResponsable:[],
            fullscreenLoading:false,
            errorPersona:''
        }
    },
    methods:{
        guardar(){
            let me = this;
            axios.post('/monitoreo/usuario/addUsuario',{
                'formulario':this.formulario,
                'idusuario':this.idusuario
            }).then(function (response) {
               if (response.data.success == true){
                   Swal.fire({
                       position: 'top-end',
                       icon: 'success',
                       title: 'Se Agrego Correctamente',
                       showConfirmButton: false,
                       timer: 1500
                   });
                   me.$router.push('/usuario');
               }else {
                   Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: response.data.message
                   });
               }
            }).catch(error => {
                me.errorPersona = error.response.data.errors;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        rol(){
            axios.get('/monitoreo/comun/getRol').then(response =>{
                this.arrayRol =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        responsable(){
            axios.get('/monitoreo/comun/getResponsable').then(response =>{
                this.arrayResponsable =response.data
            }).catch(error =>{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'error'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
    },
    mounted() {
        this.rol();
        this.responsable();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
.el-select{
    width: 340px;
}
</style>
