<template>
    <div>
        <div class="main-header-left d-none d-lg-block">
            <div class="logo-wrapper">
                <router-link to="/">
                    <img :src="ruta +'/img/logo_hisso.fw.png'" alt="" width="50%" height="50%">
                </router-link>
            </div>
        </div>
        <div class="sidebar custom-scrollbar">
            <div class="sidebar-user text-center">
                <div>
                    <img class="img-60 rounded-circle" :src="ruta +'/img/logo_hisso.fw.png'" alt="">
                    <div class="profile-edit"><router-link to="/perfil" ><i data-feather="edit"></i></router-link></div>
                </div>
                <h6 class="mt-3 f-14">{{usuario.usuario}}</h6>
                <p>{{categoria}}</p>
            </div>
            <ul class="sidebar-menu">
                <template v-if="rol.includes('dashboard.index')">
                    <li><router-link class="sidebar-header " to="/"><i data-feather="home"></i><span>Inicio</span></router-link></li>
                </template>
                <template v-if="rol.includes('personal.index')">
                    <li><router-link to="/personal" class="sidebar-header"><i data-feather="user"></i><span>Personal Hisso</span></router-link></li>
                </template>
                <template v-if="rol.includes('empresa.index') || rol.includes('proyecto.index') || rol.includes('asignacion.index') ||
                rol.includes('trabajador.index') ||  rol.includes('medicion.index')" >
                    <li>
                        <a class="sidebar-header" href="#"><i data-feather="users"></i><span>Registrar</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="sidebar-submenu">
                            <template v-if="rol.includes('empresa.index')">
                                <li>
                                    <a class="sidebar-header" href="#"><i class="fa fa-circle"></i><span>Empresa</span>
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><router-link to="/empresa/dashboard" class="active"><i class="fa fa-circle" v-loading.fullscreen.lock="fullscreenLoading"></i>Indicadores</router-link></li>
                                        <li><router-link to="/empresa" class="active"><i class="fa fa-circle"></i>Agregar</router-link></li>
                                    </ul>
                                </li>
                            </template>
                            <template v-if="rol.includes('proyecto.index')">
                                <li>
                                    <a class="sidebar-header" href="#"><i class="fa fa-circle"></i><span>Crear Proyecto</span>
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><router-link to="/proyecto/dashboard" class="active"><i class="fa fa-circle" v-loading.fullscreen.lock="fullscreenLoading"></i>Indicadores</router-link></li>
                                        <li><router-link to="/proyecto" class="active"><i class="fa fa-circle"></i>Agregar</router-link></li>
                                    </ul>
                                </li>
                            </template>
                            <template v-if="rol.includes('asignacion.index')">
                                <li><router-link to="/asignacion" class="active"><i class="fa fa-circle"></i>Asignacion Proyecto</router-link></li>
                            </template>
                            <template v-if="rol.includes('trabajador.index')">
                                <li><router-link to="/trabajador" class="active"><i class="fa fa-circle"></i>Trabajadores</router-link></li>
                            </template>
                            <template v-if="rol.includes('medicion.index')">
                                <li>
                                    <a class="sidebar-header" href="#"><i class="fa fa-circle"></i><span>Equipos Medición</span>
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><router-link to="/medicion/dashboard" class="active"><i class="fa fa-circle" v-loading.fullscreen.lock="fullscreenLoading"></i>Indicadores</router-link></li>
                                        <li><router-link to="/medicion" class="active"><i class="fa fa-circle"></i>Agregar</router-link></li>
                                    </ul>
                                </li>
                            </template>
                           <!-- <template v-if="rol.includes('usuario.index')">
                                <li><router-link to="/usuario" class="active"><i class="fa fa-circle"></i>Asignar Usuario</router-link></li>
                            </template>-->
                        </ul>
                    </li>
                </template>
                <template v-if="rol.includes('iluminacion.index') || rol.includes('ruido.index') || rol.includes('ergonomia.index')
                        || rol.includes('biologico.index') || rol.includes('inspecciones.index') || rol.includes('covid.index') || rol.includes('epp.index')">
                    <li>
                        <a class="sidebar-header" href="#"><i data-feather="users"></i><span>Proyecto</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                        <ul class="sidebar-submenu">
                            <template v-if="rol.includes('iluminacion.index')">
                                <li><router-link to="/iluminacion" class="active"><i class="fa fa-circle"></i>Iluminacion</router-link></li>
                            </template>
                            <template v-if="rol.includes('ruido.index')">
                                <li><router-link to="/ruido" class="active"><i class="fa fa-circle"></i>Ruido</router-link></li>
                            </template>
                            <template v-if="rol.includes('ergonomia.index')">
                                <li><router-link to="/ergonomia" class="active"><i class="fa fa-circle"></i>Ergonomia </router-link></li>
                            </template>
                            <template v-if="rol.includes('biologico.index')">
                                <li><router-link to="/biologico" class="active"><i class="fa fa-circle"></i>Biologico</router-link></li>
                            </template>
                            <template v-if="rol.includes('inspecciones.index')">
                                <li><router-link to="/inspecciones" class="active"><i class="fa fa-circle"></i>Inspecciones</router-link></li>
                            </template>
                            <template v-if="rol.includes('covid.index')">
                                <li><router-link to="/covid" class="active"><i class="fa fa-circle"></i>Encuesta Covid</router-link></li>
                            </template>
                            <template v-if="rol.includes('epp.index')">
                                <li><router-link to="/epp" class="active"><i class="fa fa-circle"></i>EPP</router-link></li>
                            </template>
                        </ul>
                    </li>
                </template>
                <template v-if="rol.includes('trabajador.dashboard.index')">
                    <li><router-link to="/trabajador/encuesta/covid" class="sidebar-header "><i data-feather="home"></i>Inicio</router-link></li>
                </template>
                <template v-if="rol.includes('empresa.dashboard.index')">
                    <li><router-link to="/empresa/trabajadores" class="sidebar-header "><i data-feather="home"></i>Inicio</router-link></li>
                </template>
                <li><a class="sidebar-header" href="#" @click.prevent="logout" v-loading.fullscreen.look="fullscreenLoading"><i data-feather="log-out"></i><span> Salir</span></a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Menu",
        props:['ruta','usuario','rol','categoria'],
        data(){
            return{
                fullscreenLoading:false,
            }
        },
        methods:{
            logout(){
                this.fullscreenLoading = true;
                var url = '/authenticate/logout';
                axios.post(url).then(response =>{
                    if (response.data.code == 204){
                        this.$router.push({name:'login'});
                        location.reload();
                        localStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
        }
    }
</script>

<style scoped>

</style>
