<template>
    <div>
        <img class="wave" :src="ruta+'/img/wave.png'">
        <div class="container">
            <div class="img">
                <img :src="ruta+'/img/hisso_logo.png'">
            </div>
            <div class="login-content">
                <form>
                    <img :src="ruta+'/img/logo_hisso1.svg'">
                    <h2 class="title">Bienvenido</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>Ingrese su Usuario</h5>
                            <input type="text" class="input" v-model="login.usuario" @keyup.enter="logeo">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Ingrese su Contraseña</h5>
                            <el-input placeholder="Ingrese su Contraseña" v-model="login.password" @keyup.enter="logeo" show-password></el-input>
                        </div>
                    </div>
                    <button class="btn" @click.prevent="logeo" >Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        props:['ruta'],
        data(){
            return{
                login:{
                    usuario:'',
                    password:'',
                },
                fullscreenLoading:false,
                mensajeError:[],
                error:0,
                listRolPermisosByUsuario:[],
                listRolPermisosByUsuarioFilter:[],
                activeLoading:false,
            }
        },
        methods:{
            logeo(){
                if(this.validarLogin() != null){
                    return;
                }
                this.$vs.loading({
                    type: 'radius',
                    color: '#023A8E',
                    background: '#AAC9F6',
                    text: 'Iniciando Sesión...'
                });
                var url ='/authenticate/login';
                axios.post(url,{
                    'usuario' : this.login.usuario,
                    'password' : this.login.password
                }).then(response =>{
                    if (response.data.code == 401){
                        this.loginFailed();
                    }
                    if (response.data.code == 200){
                        //this.loginSuccess();
                        this.getListarRolPermisosByUsuario(response.data.authUser);
                        // console.log(response);
                    }
                    setTimeout(() => {
                        this.activeLoading=false;
                        this.$vs.loading.close();
                    }, 2000)
                })
            },
            getListarRolPermisosByUsuario(authUser){
                var ruta='/permisos/getListaPermisoUsuario';
                axios.get(ruta,{
                    params:{
                        'nIdUsuario':authUser.id
                    }
                }).then(response =>{
                    this.listRolPermisosByUsuario =response.data;
                    this.filterListarRolPermisosByUsuario(authUser);
                })
            },
            filterListarRolPermisosByUsuario(authUser){
                let me =this;
                me.listRolPermisosByUsuario.map(item =>{
                    me.listRolPermisosByUsuarioFilter.push(item.nombre);
                });
                localStorage.setItem('listRolPermisosByUsuario',JSON.stringify(me.listRolPermisosByUsuarioFilter));
                localStorage.setItem('authUser',JSON.stringify(authUser));
                me.loginSuccess();
            },
            validarLogin(){
                this.error =0;
                this.mensajeError =[];
                if (!this.login.usuario){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'El campo Usuario es obligatorio!'
                    });
                    return false;
                }
                if (!this.login.password){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'El campo Contraseña es obligatorio!'
                    });
                    return false;
                }
            },
            loginFailed(){
                this.error =0;
                this.mensajeError =[];
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Estas Credenciales no coinciden con nuestros Registros.!'
                });
                this.login.usuario='';
                this.login.password='';
            },
            loginSuccess(){
                this.$router.push({name:'dashboard.index'});
                location.reload();
            }
        },
    }
</script>

<style scoped>

</style>
