<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>AGREGAR TRABAJADOR</h5>
                    </div>
                    <div class="card-body">
                        <form action="#">
                            <div class="col-xs-12">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="4">Empresa: {{formulario.empresa}} - Codigo: {{formulario.codigo}}</font></p>
                                </div>
                                <div v-if="errorPersona" class="alert alert-danger" role="alert">
                                    <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                    <div v-for="(v,k) in errorPersona" :key="k">
                                        <p v-for="error in v" :key="error" class="mb-0">
                                            {{error}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-12">
                                        <label for="entrega">Codigo de Entrega</label><br>
                                        <input class="form-control"  v-model="formulario.entrega" disabled id="entrega" type="text" />
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <label>Tipo de Equipo de Seguridad</label><br>
                                        <el-select v-model="formulario.tipo_equipo" style="width: 100%" placeholder="Seleccionar" filterable >
                                            <el-option
                                                v-for="select in arrayTipoEquipo"
                                                :key="select.id"
                                                :label="select.nombre"
                                                :value="select.id"
                                            >
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <label for="file">Subir Data</label>
                                        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept=".XLSX, .CSV" class="form-control">
                                    </div>
                                </div><br>
                                <br>
                                <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Cargar Excel</button>
                                <router-link to="/epp" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "add",
        data(){
            return{
                formulario:{
                    entrega:'',
                    tipo_equipo:'',
                    equipo_seguridad:'',
                    idempresa:'',
                    idagente:''
                },
                arrayTipoEquipo:[
                    {id:0,nombre:'Equipo de Protección Personal'},
                    {id:1,nombre:'Equipo de Emergencia'}
                ],
                arrayEquipoSeguridad:[],
                file:'',
                fullscreenLoading:false,
                errorPersona:'',
            }
        },
        methods:{
            guardar(){
                this.fullscreenLoading = true;
                let formData = new FormData();
                formData.append('file',this.file);
                formData.append('codigo',this.formulario.idagente);
                formData.append('tipo_equipo',this.formulario.tipo_equipo);
                formData.append('entrega',this.formulario.entrega);
                const config = {headers: {'Content-Type': 'multipart/form-data'}};
                var url = '/monitoreo/epp/agregar';
                axios.post(url,formData,config).then(response =>{
                    if (response.data.success === true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.fullscreenLoading = false;
                        localStorage.setItem('idepp',JSON.stringify(response.data.data));
                        this.$router.push('/epp/trabajador');
                    }else {
                       console.log(response);

                        this.fullscreenLoading = false;
                    }
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    console.error(error);
                })
            },
            getdata(){
                this.fullscreenLoading = true;
                this.formulario.idagente = JSON.parse(localStorage.getItem('idagente'));
              axios.post('/monitoreo/comun/obteneridProyecto',{'idagente':this.formulario.idagente}).then(res =>{
                    this.formulario.idempresa = res.data[0].idempresa;
                    this.formulario.codigo = res.data[0].codigo;
                    this.formulario.empresa = res.data[0].razon_social;
                    this.getEquipoSeguridad();
                    this.codigo();
                  this.fullscreenLoading = false;
              }).catch(error =>{
                  if (error.response.status == 401) {
                      this.$router.push({name: 'login'})
                      location.reload();
                      sessionStorage.clear();
                  }
                  this.fullscreenLoading = false;
              })
            },
            getEquipoSeguridad(){
                axios.post('/monitoreo/epp/equipoSeguridad',{'idagente':this.formulario.idagente}).then(res =>{
                    this.arrayEquipoSeguridad = res.data;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            },
            codigo(){
                axios.post('/monitoreo/epp/generarCodigo',{'idagente':this.formulario.idagente}).then(res =>{
                    this.formulario.entrega = res.data[0].codigo;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            }
        },
        mounted() {
            this.getdata();
        }
    }
</script>

<style scoped>

</style>
