<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create" :before-close="handleClose">
        <form class="form" autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-label-group" :class="{'has-danger':errors['form.nombres']}">
                            <label>Equipos</label>
                            <el-select v-model="equipos" style="width: 100%" multiple filterable placeholder="Seleccione">
                                <el-option
                                    v-for="item in arrayEquipoSeguridad"
                                    :key="item.id"
                                    :label="item.full_name"
                                    :value="item.id">
                                    <span style="float: left">{{ item.codigo }}</span>
                                    <span style="float: right; color: #8492a6; font-size: 13px">{{ item.nombre }}</span>
                                </el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors['form.nombres']" v-text="errors['form.nombres'][0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group" :class="{'has-danger':errors['form.dni']}">
                            <label>Puesto de Trabajo</label>
                            <el-select v-model="puesto_trabajo" style="width: 100%" filterable placeholder="Seleccione">
                                <el-option
                                    v-for="item in arrayPuestoTrabajo"
                                    :key="item.id"
                                    :label="item.puesto_trabajo"
                                    :value="item.id">
                                </el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors['form.dni']" v-text="errors['form.dni'][0]"></small>
                        </div>
                    </div>
                </div>
                <br/>
                <div align="center" style="text-align: center">
                    <el-button type="success" round native-type="submit" :loading="loading_submit">Guardar</el-button>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table" >
                        <thead>
                        <tr class="border-bottom-primary">
                            <th>Codigo</th>
                            <th>Equipo</th>
                            <th>Puesto Trabajo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody v-if="arrayEquipo.length">
                        <tr v-for="(row,index) in arrayEquipo" :key="row.id" class="border-bottom-success">
                            <td v-text="row.codigo"></td>
                            <td v-text="row.nombre"></td>
                            <td v-text="row.puesto_trabajo"></td>
                            <td>
                                <el-popconfirm
                                    confirm-button-text='SI'
                                    cancel-button-text='No'
                                    icon="el-icon-info"
                                    icon-color="red"
                                    title="¿Seguro de Eliminar?"
                                    @confirm="eliminarEquipoTrabajador(row)"
                                    @cancel="()=>{}"
                                >
                                    <el-button slot="reference" style="color: red"> <i class="fa fa-trash"></i></el-button>
                                </el-popconfirm>
                            </td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <tr>
                            <td colspan="5">
                                No hay Equipos
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Codigo</th>
                            <th>Equipo</th>
                            <th>Puesto Trabajo</th>
                            <th>Acciones</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div><br>
        </form>
    </el-dialog>
</template>

<script>
    export default {
        name: "addequipo",
        props: ['showDialog','idagente','idepp','idtrabajador'],
        data(){
            return{
                titleDialog : null,
                loading_submit: false,
                puesto_trabajo:'',
                equipos:{},
                errors:{},
                id:'',
                arrayEquipoSeguridad:[],
                arrayPuestoTrabajo:[],
                arrayEquipo:[],

            }
        },
        methods:{
            initFrom(){
                this.errors={};
                this.$data.form={};
                this.id='';
            },
            create(){
                this.titleDialog = (this.idtrabajador) ?'Editar Equipos':'Agregar Equipos';
                if (this.idtrabajador){
                    axios.get('/monitoreo/epp/getTrabajador',{params:{'idtrabajador':this.idtrabajador}}).then(response =>{
                        this.form = response.data[0];
                        this.id=response.data[0].id;
                    })
                }
                this.listaEquipo();
                this.getEquipoSeguridad();
                this.getPuestoTrabajo();
            },
            getEquipoSeguridad(){
                axios.post('/monitoreo/epp/equipoSeguridad',{'idagente':this.idagente}).then(res =>{
                    this.arrayEquipoSeguridad = res.data;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                    this.fullscreenLoading = false;
                })
            },
            getPuestoTrabajo(){
                axios.post('/monitoreo/epp/puestoTrabajo',{'idagente':this.idagente,'idepp':this.idepp}).then(res =>{
                    this.arrayPuestoTrabajo = res.data;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                    this.fullscreenLoading = false;
                })
            },
            listaEquipo(){
                axios.get('/monitoreo/epp/equipo/listEquipoTrabajador',{params: {'idagente':this.idagente,'idepp':this.idepp}}).then(res =>{
                    this.arrayEquipo= res.data;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            },
            submit(){
                this.loading_submit=true;
                axios.post('/monitoreo/epp/equipo/agregarEquipoTrabajador',{
                    'equipos':this.equipos,
                    'puesto_trabajo':this.puesto_trabajo,
                    'idagente':this.idagente,
                    'idepp':this.idepp
                }).then(res =>{
                    if (res.data.success === true){
                        this.$message.success(res.data.message);
                        this.limpiarCampos();
                        this.listaEquipo();
                    }else {
                        this.$message.error(res.data.message);
                    }
                    this.loading_submit=false;
                }).catch(error =>{
                    this.loading_submit = false;
                    if (error.response.data.errors){
                        var errors = error.response.data.errors;
                        var values = '';
                        errors['idequipo'].forEach( (value,index) =>{
                            values +=value;
                        });
                        this.$message.success(values);
                    }
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            },
            eliminarEquipoTrabajador(objeto){
                axios.post('/monitoreo/epp/equipo/eliminarEquipoTrabajador',{'objeto':objeto})
                    .then( response => {
                        if (response.data.success === true){
                            this.$message.success(response.data.message);
                            this.listaEquipo();
                            this.fullscreenLoading = false;
                        }else{
                            this.fullscreenLoading = false;
                            this.$message.error(response.data.message);
                        }
                    }).catch( (error) =>{
                    this.$message.error(error);
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'})
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                });
            },
            limpiarCampos(){
                this.equipos=[];
                this.puesto_trabajo="";
            },
            close(){
                this.$emit('update:showDialog',false);
                this.initFrom();
            },
            handleClose(done) {
                this.$confirm('Estas Seguro de Cerrar?')
                    .then(_ => {
                        this.initFrom();
                        done();
                    })
                    .catch(_ => {});
            }
        },
        created() {
            this.initFrom();
        }
    }
</script>

<style scoped>
    .has-danger .fv-plugins-icon {
        color: #dc3545;
    }
    small{
        color: red;
    }
</style>
