<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create" :before-close="handleClose">
        <form class="form" autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-label-group" :class="{'has-danger':errors['form.nombres']}">
                            <label for="codbarra">Nombres</label>
                            <input type="text" v-model="form.nombres" id="codbarra" class="form-control" >
                            <small class="form-control-feedback" v-if="errors['form.nombres']" v-text="errors['form.nombres'][0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group" :class="{'has-danger':errors['form.dni']}">
                            <label for="marca">DNI</label>
                            <input type="text" v-model="form.dni" id="marca" class="form-control" >
                            <small class="form-control-feedback" v-if="errors['form.dni']" v-text="errors['form.dni'][0]"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-label-group" :class="{'has-danger':errors['form.area']}">
                            <label for="first-name-column">Area</label>
                            <input type="text" v-model="form.area" id="first-name-column" class="form-control" >
                            <small class="form-control-feedback" v-if="errors['form.area']" v-text="errors['form.area'][0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-label-group" :class="{'has-danger':errors['form.fecha_entrega']}">
                            <label for="stock">Fecha Entrega</label>
                            <input type="date" v-model="form.fecha_entrega" id="stock" class="form-control" >
                            <small class="form-control-feedback" v-if="errors['form.fecha_entrega']" v-text="errors['form.fecha_entrega'][0]"></small>
                        </div>
                    </div>
                </div>
            </div><br>
            <div align="center" style="text-align: center">
                <el-button type="success" round native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "addtrabajador",
        props: ['showDialog','idagente','idepp','idtrabajador'],
        data(){
            return{
                titleDialog : null,
                loading_submit: false,
                form:{},
                errors:{},
                id:''
            }
        },
        methods:{
            initFrom(){
                this.errors={};
                this.$data.form={};
                this.id='';
            },
            submit(){
                this.loading_submit = true;
                axios.post('/monitoreo/epp/addTrabajador',{
                    'form':this.form,
                    'idagente':this.idagente,
                    'idepp':this.idepp,
                    'id':this.id
                }).then(response =>{
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.$eventHub.$emit('reloadData');
                        this.close()
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }
                }).catch(error =>{
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    } else {
                        console.log(error)
                    }
                }).then( ()=>{
                    this.loading_submit = false;
                })
            },
            create(){
                this.titleDialog = (this.idtrabajador) ?'Editar Trabajador':'Agregar Trabajador';
                if (this.idtrabajador){
                    axios.get('/monitoreo/epp/getTrabajador',{params:{'idtrabajador':this.idtrabajador}}).then(response =>{
                        this.form = response.data[0];
                        this.id=response.data[0].id;
                    })
                }
            },
            close(){
                this.$emit('update:showDialog',false);
                this.initFrom();
            },
            handleClose(done) {
                this.$confirm('Estas Seguro de Cerrar?')
                    .then(_ => {
                        this.initFrom();
                        done();
                    })
                    .catch(_ => {});
            }
        },
        created() {
            this.initFrom();
        }
    }
</script>

<style scoped>
    .has-danger .fv-plugins-icon {
        color: #dc3545;
    }
    small{
        color: red;
    }
</style>
