<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>ASIGNAR TRABAJADOR</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div class="alert alert-success dark" role="alert">
                                        <p style="text-align:center;">
                                            <font size="4">Entrega: {{entrega}}</font>
                                        </p>
                                        <p style="text-align:center;">
                                            <font size="4">Empresa: {{formulario.empresa}} - Codigo: {{formulario.codigo}}</font>
                                        </p>
                                    </div>
                                    <div v-if="errorPersona" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorPersona" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary" @click="equipos()" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR EQUIPOS</button>
                                                </div>
                                                <div class="col">

                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-primary" @click="trabajador()" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR TRABAJADOR</button>
                                                </div>
                                            </div>
                                        </div><br>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                        <a @click="formatoLey()" href="javascript:void(0)" v-tooltip="'Generar Formato de Ley'" ><i class="fa fa-download fa-2x" style="color: blue"></i></a>
                                                </div>
                                                <div class="col-9">

                                                </div>
                                                <div class="col">
                                                        <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar Trabajadores a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <el-select v-model="select" placeholder="Buscar por"   clearable>
                                                    <el-option
                                                        v-for="select in arraySelect"
                                                        :key="select.id"
                                                        :label="select.nombre"
                                                        :value="select.id"
                                                    >
                                                    </el-option>
                                                </el-select>
                                            </div>
                                            <div class="col">
                                                <div class="col-md-12 mb-12">
                                                    <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                                    Buscar</button>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" >
                                                <thead>
                                                <tr class="border-bottom-primary">
                                                    <th>
                                                        <input type="checkbox" id="checkpadre" />
                                                    </th>
                                                    <th>Nombres</th>
                                                    <th>DNI</th>
                                                    <th>Area</th>
                                                    <th>Fecha Entrega</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody v-if="arrayList.length">
                                                <tr v-for="(row,index) in arrayList" :key="row.id" class="border-bottom-success">
                                                    <td>
                                                        <!--<el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                                                            <el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
                                                        </el-checkbox-group>-->
                                                        <input type="checkbox"  class="selectxid" :value="+row.id+','+row.idepp+','+row.area+','+row.dni+','+row.fecha_entrega+','+row.idagente+','+row.nombres"/>
                                                    </td>
                                                    <td v-text="row.nombres"></td>
                                                    <td v-text="row.dni"></td>
                                                    <td v-text="row.area"></td>
                                                    <td>
                                                        <template v-if="row.fecha_entrega == null">
                                                             <input type="date"  @change="fechas(index,arrayList,$event)" class="form-control">
                                                        </template>
                                                        <template v-else>
                                                            {{row.fecha_entrega}}
                                                        </template>
                                                    </td>
                                                    <td>
                                                        <a type="button"  v-tooltip="'Editar Trabajadores'" @click="trabajador(row.id)"  v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green "></i></a>
                                                        <a type="button"  v-tooltip="'Eliminar'" @click="eliminar(row)" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-trash fa-lg fa-2x" style="color: red"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tbody v-else>
                                                <tr>
                                                    <td colspan="5">
                                                        No hay Trabajadores
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>

                                                    </th>
                                                    <th>Nombres</th>
                                                    <th>DNI</th>
                                                    <th>Area</th>
                                                    <th>Fecha Entrega</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                            <div class="card">
                                                <div class="card-body">
                                                    <nav class="m-b-30" aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center pagination-success">
                                                            <li class="page-item" v-if="pagination.current_page > 1">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                                            </li>
                                                            <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                                <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                                            </li>
                                                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                                <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div style="text-align: center">
                                        <router-link to="/epp" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <addtrabajador :showDialog.sync="dialogVisible" :idagente="formulario.idagente" :idepp="idepp" :idtrabajador="idtrabajador"></addtrabajador>
        <addequipo :showDialog.sync="dialogVisible_equipo" :idagente="formulario.idagente" :idepp="idepp" :idtrabajador="idtrabajador"></addequipo>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import Addtrabajador from "./addtrabajador";
    import addequipo from "./addequipo";
    export default {
        components: {Addtrabajador,addequipo},
        data(){
            return{
                formulario:{
                    fecha_entrega:'',
                    tipo_equipo:'',
                    equipo_seguridad:'',
                    idempresa:'',
                    idagente:''
                },
                arrayTipoEquipo:[
                    {id:0,nombre:'Equipo de Protección Personal'},
                    {id:1,nombre:'Equipo de Emergencia'}
                ],
                arrayEquipoSeguridad:[],
                file:'',
                fullscreenLoading:false,
                errorPersona:'',
                select:'1',
                busqueda:'',
                arraySelect:[
                    {id:'1',nombre:'DNI'}
                ],
                arrayList:[],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                modal:0,
                arrayEquipo:[],
                idepp:'',
                entrega:'',
                dialogVisible: false,
                dialogVisible_equipo: false,
                idtrabajador:'',
                checkAll: false,
                checked:false,
                arraytrabajadores:[],
            }
        },
        methods:{
            guardar(id,value){
                this.fullscreenLoading = true;
                let me = this;
                axios.post('/monitoreo/epp/updateTrabajadores',{
                    'id':id,
                    'value':value
                }).then( (response) => {
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.data.message
                        });
                    }
                   // this.$router.push({name: 'epp.index'});
                    this.fullscreenLoading = false;
                }).catch(error => {
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            },
            list(page,select,buscar){
                this.fullscreenLoading = true;
                var url = '/monitoreo/epp/listTrabajador?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'idagente':this.formulario.idagente,'idepp':this.idepp}}).then((response) => {
                    this.arrayList=response.data.lista.data;
                    this.pagination=response.data.pagination;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No se Encontro la Lista de Trabajadores'
                    });
                    if (error.response.status == 419) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            eliminar(objeto){
                Swal.fire({
                    title: 'Esta seguro de Eliminar al Trabajador '+objeto.nombres+'?',
                    text: "",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, eliminar !'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/monitoreo/epp/deleteTrabajador',{'objeto':objeto})
                            .then( (response) => {
                                if (response.data.success == true){
                                    Swal.fire(
                                        'Eliminado!',
                                        'El trabajador '+objeto.nombres+' fue eliminado.',
                                        'success'
                                    );
                                    this.list(1,this.select,this.busqueda);
                                }else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'No se pudo Eliminar'
                                    });
                                }
                            }).catch( (error) =>{
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Contacte al Administrador para solucionarlo'
                            })
                        });

                    }
                })
            },
            trabajador(idtrabajador = null){
                this.idtrabajador = idtrabajador;
                this.dialogVisible=true;
            },
            equipos(){
                this.dialogVisible_equipo=true;
            },
            formatoLey(){
                this.arraytrabajadores=[];
                if ($('.selectxid').is(':checked')) {
                    let id=$('.selectxid:checked').map(function(){
                    });
                    // console.log(id['prevObject'].length);
                    for (let i =0;i < id['prevObject'].length; i++){
                        let data = id['prevObject'][i]['value'].split(",");
                        this.arraytrabajadores.push({
                            nombres:data[6],
                            dni:data[3],
                            area:data[2],
                            fecha_entrega:data[4]
                        });
                    }
                    console.log(this.arraytrabajadores);
                    this.generarformatoley(this.arraytrabajadores);
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Seleccionar a los Trabajadores'
                    });
                }
            },
            generarformatoley(array){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                let data= new FormData();
                data.append('array',JSON.stringify(array));
                data.append('idempresa',this.formulario.idempresa);
                data.append('idepp',this.idepp);
                data.append('idagente',this.formulario.idagente);
                var url ='/monitoreo/epp/formatoLey';
                axios.post(url,data,config).then(response =>{
                    console.log(response);
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'}); // the blob
                    var url = document.createElement('a');
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Formato de Ley EPP.xlsx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Error en descargar Formato de ley'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
                // https://blog.tednologia.com/exportar-a-excel-con-php-y-phpspreadsheet/
                // https://www.youtube.com/watch?v=kTKePPpAasw&ab_channel=Ejemplob%C3%A1sico
                //https://www.youtube.com/watch?v=15WXlDO_F20&ab_channel=CodeForYou
            },
            excel(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                let data= new FormData();
                data.append('idagente',this.idagente);
                var url ='/monitoreo/covid/exportTrabajador';
                axios.post(url,data,config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                    var url = document.createElement('a');
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Ecuesta Covid.xlsx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Error en descargar la Lista'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            getdata(){
                this.fullscreenLoading = true;
                this.formulario.idagente = JSON.parse(localStorage.getItem('idagente'));
                this.idepp = JSON.parse(localStorage.getItem('idepp'));
                axios.post('/monitoreo/comun/obteneridProyectoandEpp',{'idagente':this.formulario.idagente,'idepp':this.idepp}).then(res =>{
                    this.formulario.idempresa = res.data[0].idempresa;
                    this.formulario.codigo = res.data[0].codigo;
                    this.formulario.empresa = res.data[0].razon_social;
                    this.entrega = res.data[0].entrega;
                    this.list(1,this.select,this.busqueda);
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                    this.fullscreenLoading = false;
                })
            },
            fechas(id,array,value){
                array[id].fecha_entrega = value.target.value;
             // console.log(id,array[id].fecha_entrega);
                this.guardar(array[id].id,value.target.value);
                this.list(1,this.select,this.busqueda);
            //    console.log(array[id].id,value.target.value);
            },
            cambiarPagina(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        mounted() {
            this.$eventHub.$on('reloadData', () => {
                this.getdata()
            });
            this.getdata();
            $("#checkpadre").on('click',function () {
                $('.selectxid').prop('checked', $(this).prop("checked"));
            });
    },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        },
    }
</script>

<style scoped>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
