<template>
    <div>
        <div class="page-wrapper">
            <Header :ruta="ruta" :usuario="authUser"></Header>
            <div class="page-body-wrapper">
                <!-- Page Sidebar Start-->
                <div class="page-sidebar">
                    <Menu :ruta="ruta" :usuario="authUser" :rol="listrolPermisos" :categoria="categoria"></Menu>
                </div>
                <!-- Page Sidebar Ends-->
                <div class="page-body">
                    <transition name="slide-fade" mode="out-in">
                        <router-view :ruta="ruta" :usuario="authUser"></router-view>
                    </transition>
                </div>
                <Footer></Footer>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from "./plantilla/Header";
    import Menu from "./plantilla/Menu";
    import Footer from "./plantilla/Footer";
    export default {
        name: "App",
        props:['ruta'],
        components: {Footer, Menu, Header},
        data(){
            return{
                authUser:[],
                listrolPermisos:[],
                categoria:''
            }
        },
        methods:{
            getRefrescarUsuarioAutenticado() {
                if (this.$router.currentRoute.name != 'login') {
                    var url = '/authenticate/getRefrescarUsuarioAutenticado';
                    axios.get(url).then(response => {
                        this.categoria=response.data[0].nombre;
                        if (response.data.auth == false) {
                            this.$router.push({name: 'login'});
                            location.reload();
                            localStorage.clear();
                        }
                    }).catch(error => {
                        if (error.response.status == 401) {
                            if (localStorage['authUser']) {
                                this.$router.push({name: 'login'});
                                location.reload();
                                localStorage.clear();

                            }
                        }
                    })
                }
            },
        },
        mounted() {
            this.getRefrescarUsuarioAutenticado();
             //console.log(JSON.parse(localStorage.getItem('authUser')));
            this.authUser =JSON.parse(localStorage.getItem('authUser'));
            this.listrolPermisos = JSON.parse(localStorage.getItem('listRolPermisosByUsuario'));
            EventBus.$on('verifyAuthenticatedUser',data =>{
                this.authUser =data[0];
            });
        }
    }
</script>

<style scoped>

</style>
