<template>
    <transition name="slide-fade" mode="out-in">
        <router-view :ruta="ruta"></router-view>
    </transition>
</template>

<script>
    export default {
        props:['ruta'],
        mounted() {
            this.getRefrescarUsuarioAutenticado();
        },
        methods: {
            // https://www.youtube.com/watch?v=sVlD7PCRj8Q&ab_channel=TerminalLife
            getRefrescarUsuarioAutenticado() {
                if (this.$router.currentRoute.name != 'login') {
                    var url = '/authenticate/getRefrescarUsuarioAutenticado';
                    axios.get(url).then(response => {
                        if (response.data.auth == false) {
                            this.$router.push({name: 'login'});
                            location.reload();
                            localStorage.clear();
                        }
                    }).catch(error => {
                        if (error.response.status == 401) {
                            if (localStorage['authUser']) {
                                this.$router.push({name: 'login'});
                                location.reload();
                                localStorage.clear();

                            }
                        }
                    })
                }
            },
        },
    }
</script>

<style scoped>

</style>
