<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EPP</h5>
                            <div class="alert alert-success dark" role="alert">
                                <p style="text-align:center;">
                                    <template v-if="codigo">
                                        <font size="4">Código Proyecto: {{codigo}}</font>
                                    </template>
                                    <template v-else>
                                        <font size="4">Código Proyecto: {{newcodigo}}</font>
                                    </template>
                                </p>
                            </div>
                        </div>
                        <div style=" text-align: center;">
                            <template v-if="showbutton == 1">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <router-link to="/equipos/epp/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR EQUIPOS</router-link>
                                        </div>
                                        <div class="col">
                                            <router-link to="/epp/agregar"  class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR TRABAJADOR</router-link>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col-9">
                                    <a @click="searchCodigo()" href="javascript:void(0)" v-tooltip="'Ingresar Nuevo Codigo'" ><i class="fa fa-refresh fa-2x" style="color: red"></i></a>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <el-select v-model="select" placeholder="Buscar por" style="width: 100%"  clearable>
                                        <el-option
                                            v-for="select in arraySelect"
                                            :key="select.id"
                                            :label="select.nombre"
                                            :value="select.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col">
                                    <div class="col-md-12 mb-12">
                                        <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                        Buscar</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                    <tr class="border-bottom-primary">
                                        <th>Entrega</th>
                                        <th>Tipo Equipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="arrayList.length">
                                    <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                        <td v-text="row.entrega"></td>
                                        <td v-if="row.tipo_equipo == 0">Equipo de Protección Personal</td>
                                        <td v-else>Equipo de Emergencia</td>
                                        <td>
                                            <a type="button"  v-tooltip="'Ver Trabajadores'" @click="trabajador(row.id)"  v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-eye fa-lg fa-2x" style="color: blue "></i></a>
                                            <a type="button"  v-tooltip="'Eliminar'" @click="eliminar(row)" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-trash fa-lg fa-2x" style="color: red"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                    <tr>
                                        <td colspan="5">
                                            No hay Trabajadores
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Entrega</th>
                                        <th>Tipo Equipo</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="card">
                                    <div class="card-body">
                                        <nav class="m-b-30" aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center pagination-success">
                                                <li class="page-item" v-if="pagination.current_page > 1">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                                </li>
                                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                                </li>
                                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal BUSCAR CODIGO-->
        <div class="modal fade text-left" :class="{'mostrar1' : modal1}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" v-text="tituloModal1"></h5>
                        <button type="button" class="close" @click="cerrarModal(1)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <label for="searchcodigo">Ingrese el Código del Proyecto</label>
                                    <textarea class="form-control"  v-model="codigo" id="searchcodigo" type="text"></textarea>
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="encontrarCodigo" >Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "index",
        data(){
            return{
                select:'t.dni',
                busqueda:'',
                arraySelect:[
                    {id:'t.dni',nombre:'dni'}
                ],
                fullscreenLoading:false,
                arrayList:[],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                modal1:0,
                tituloModal:'Agregar Trabajador',
                tituloModal1:'Buscar Codigo',
                idagente:'',
                codigo:'',
                newcodigo:'',
                showbutton:0
            }
        },
        methods :{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/epp/listtrabajdores?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'idagente':this.idagente}}).then((response) => {
                    this.arrayList=response.data.lista.data;
                    this.pagination=response.data.pagination;
                    localStorage.setItem('idagente',JSON.stringify(this.idagente));
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No se Encontro la Lista de Trabajadores'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            trabajador(idepp){
                this.fullscreenLoading = true;
                localStorage.setItem('idepp',JSON.stringify(idepp));
                this.$router.push('/epp/trabajador');
                this.fullscreenLoading = false;
            },
            verMeses(idcovid){
                this.fullscreenLoading = true;
                localStorage.setItem('idusuario',JSON.stringify(idcovid));
                this.$router.push({name:'covid.meses'});
                this.fullscreenLoading = false;
            },
            eliminar(objeto){
                Swal.fire({
                    title: 'Esta seguro de Eliminar al Trabajador '+objeto.nombre+'?',
                    text: "Esta accion eliminara todas las encuestas generadas por el trabajador",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, eliminar a '+objeto.nombre+'!'
                }).then((result) => {
                    if (result.value) {
                        this.fullscreenLoading = true;
                        axios.post('/monitoreo/covid/eliminartrabajador',{'objeto':objeto})
                            .then( (response) => {
                                if (response.data.success == true){
                                    Swal.fire(
                                        'Eliminado!',
                                        'El trabajador '+objeto.nombre+' fue eliminado.',
                                        'success'
                                    );
                                    this.list(1,this.select,this.busqueda);
                                }else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'No se pudo Eliminar'
                                    });
                                }
                                this.fullscreenLoading = false;
                            }).catch( (error) =>{
                            this.fullscreenLoading = false;
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Contacte al Administrador para solucionarlo'
                            });
                            if (error.response.status == 401) {
                                this.$router.push({name: 'login'})
                                location.reload();
                                sessionStorage.clear();
                                this.fullscreenLoading = false;
                            }
                        });

                    }
                })
            },
            cerrarModal(tipo){
                if (tipo == 0){
                    this.modal=0;
                }else {
                    this.modal1=0;
                }
            },
            searchCodigo(){
                Swal.fire({
                    title: 'Codigo de Proyecto',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Abrir',
                    showLoaderOnConfirm: true,
                    preConfirm: (codigo) => {
                        if(codigo == ''){
                            Swal.showValidationMessage(
                                `Por Favor Completa el Campo`
                            )
                        }else{
                            axios.post('/monitoreo/comun/obtenerCodigo',{'codigo':codigo,'tipo':'EPP'})
                                .then(response =>{
                                    if (response.data.success == true){
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'success',
                                            title: 'Proyecto Encontrado',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        this.codigo = codigo;
                                        this.showbutton = 1;
                                        this.idagente=response.data.id.id;
                                        this.list(1,this.select,this.busqueda);
                                        this.fullscreenLoading = false;
                                    }else{
                                        this.fullscreenLoading = false;
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'No se Encontro el Proyecto'
                                        });
                                        this.showbutton = 0;
                                        this.searchCodigo();
                                    }
                                }).catch(error =>{
                                if (error.response.status == 401) {
                                    this.$router.push({name: 'login'})
                                    location.reload();
                                    sessionStorage.clear();
                                    this.fullscreenLoading = false;
                                }
                            })
                        }
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'No se Encontro el Proyecto',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
            },
            buscarCodigo(){
                this.modal1 =1;
            },
            encontrarCodigo(){
                if (this.codigo == ''){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Ingrese algun Codigo de Proyecto'
                    });
                }else {
                    axios.post('/monitoreo/comun/obtenerCodigo',{'codigo':this.codigo,'tipo':'EPP'})
                        .then(response =>{
                            if (response.data.success == true){
                                Swal.fire({
                                    position: 'top-end',
                                    icon: 'success',
                                    title: 'Proyecto Encontrado',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                this.modal1=0;
                                this.showbutton = 1;
                                this.idagente=response.data.id.id;
                                this.list(1,this.select,this.busqueda);
                                this.fullscreenLoading = false;
                            }else{
                                this.fullscreenLoading = false;
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'No se Encontro el Proyecto'
                                });
                                this.showbutton = 0;
                            }
                        }).catch(error =>{
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'})
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                    })
                }
            },
            verificarCodigo(){
                this.fullscreenLoading = true;
                if (JSON.parse(localStorage.getItem('idagente'))){
                    this.idagente =JSON.parse(localStorage.getItem('idagente'));
                    axios.post('/monitoreo/comun/verificarId',{'idagente':this.idagente,'tipo':'EPP'}).then(response =>{
                        console.log(response);
                        if (response.data.success == true){
                            this.newcodigo =response.data.codigo;
                            this.showbutton = 1;
                            this.list(1,this.select,this.busqueda);
                            this.fullscreenLoading = false;
                        }else {
                            this.fullscreenLoading = false;
                            this.buscarCodigo();
                        }
                    }).catch(error =>{
                        if (error.response.status == 401) {
                            this.$router.push({name: 'login'})
                            location.reload();
                            sessionStorage.clear();
                            this.fullscreenLoading = false;
                        }
                    })
                }else {
                    this.fullscreenLoading = false;
                    this.buscarCodigo();
                }
            },
            cambiarPagina(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        mounted() {
            this.verificarCodigo();
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        },
    }
</script>

<style scoped>
    .mostrar1{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
