<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Encuesta Covid 19</h5>
                        </div>
                        <br>
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <el-select v-model="select" placeholder="Buscar por"   clearable>
                                        <el-option
                                            v-for="select in arraySelect"
                                            :key="select.id"
                                            :label="select.nombre"
                                            :value="select.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col">
                                    <div class="col-md-12 mb-12">
                                        <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                        Buscar</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                    <tr class="border-bottom-primary">
                                        <th>Nombres</th>
                                        <th>DNI</th>
                                        <th>Correo</th>
                                        <th>Fecha Observada</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="arrayList.length">
                                    <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                        <td v-text="row.nombre"></td>
                                        <td v-text="row.dni"></td>
                                        <td v-text="row.correo"></td>
                                        <td v-if="row.fecha == null">--</td>
                                        <td v-else>{{row.fecha}}</td>
                                        <td>
                                            <a type="button"  v-tooltip="'Ver por Meses'" @click="verMeses(row.idusuario)" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-calendar fa-lg fa-2x" style="color: green"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                    <tr>
                                        <td colspan="5">
                                            No hay Trabajadores
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>DNI</th>
                                        <th>Correo</th>
                                        <th>Fecha Observada</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="card">
                                    <div class="card-body">
                                        <nav class="m-b-30" aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center pagination-success">
                                                <li class="page-item" v-if="pagination.current_page > 1">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                                </li>
                                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                                </li>
                                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "index",
        data(){
            return{
                select:'t.dni',
                busqueda:'',
                arraySelect:[
                    {id:'t.dni',nombre:'dni'}
                ],
                fullscreenLoading:false,
                arrayList:[],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                idproyecto:'',
            }
        },
        methods :{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/empresa/listar?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url).then((response) => {
                    this.arrayList=response.data.lista.data;
                    this.pagination=response.data.pagination;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No se Encontro la Lista de Trabajadores'
                    });
                    if (error.response.status == 419) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            verMeses(idusuario){
                this.fullscreenLoading = true;
                localStorage.setItem('idusuario',JSON.stringify(idusuario));
                this.$router.push({name:'covid.meses'});
                this.fullscreenLoading = false;
            },
            cambiarPagina(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        mounted() {
            this.list(1,this.select,this.busqueda);
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        },
    }
</script>

<style scoped>
    .mostrar1{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
