<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>AGREGAR TRABAJADOR</h5>
                    </div>
                    <div class="card-body">
                        <form action="#">
                            <div class="col-xs-12">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="4">Empresa: {{formulario.empresa}} - Codigo: {{formulario.codigo}}</font></p>
                                </div>
                                <div class="card">
                                    <ul class="pull-right nav nav-pills nav-secondary" id="pills-clrtabsuccess" role="tablist">
                                        <li class="nav-item "><a class="nav-link active" id="pills-clrhome-tabsuccess" data-toggle="pill" href="#pills-clrhomesuccess" role="tab" aria-controls="pills-clrhome" aria-selected="true"><i class="icofont icofont-clip"></i>Subir por Excel</a></li>
                                        <li class="nav-item"><a class="nav-link" id="pills-clrprofile-tabsuccess" data-toggle="pill" href="#pills-clrprofilesuccess" role="tab" aria-controls="pills-clrprofile" aria-selected="false"><i class="icofont icofont-team"></i>por Trabajador</a></li>
                                    </ul>
                                    <div class="card-body">
                                        <div class="tabbed-card">
                                            <div class="tab-content" id="pills-clrtabContentsuccess">
                                                <div class="tab-pane fade show active" id="pills-clrhomesuccess" role="tabpanel" aria-labelledby="pills-clrhome-tabsuccess">
                                                    <div v-if="errorData" class="alert alert-danger" role="alert">
                                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                                        <div v-for="(v,k) in errorData" :key="k">
                                                            <p v-for="error in v" :key="error" class="mb-0">
                                                                {{error}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-6 col-md-6">
                                                                <label>Código</label><br>
                                                                <el-select v-model="formulario.codigo" placeholder="Seleccionar" disabled filterable >
                                                                    <el-option
                                                                        v-for="select in arrayCodigo"
                                                                        :key="select.id"
                                                                        :label="select.codigo"
                                                                        :value="select.id"
                                                                    >
                                                                    </el-option>
                                                                </el-select>
                                                            </div>
                                                            <div class="col-6 col-md-6">
                                                                <label for="celular">Empresa</label>
                                                                <input class="form-control" readonly v-model="formulario.empresa" id="celular" type="text" />
                                                            </div>
                                                        </div><br>
                                                        <fieldset>
                                                            <legend>DATOS DE ACCESO PARA LA EMPRESA</legend>
                                                        <div class="row">
                                                            <div class="col-6 col-md-6">
                                                                <label for="usuario">Usuario</label><br>
                                                                <input class="form-control"  v-model="formulario.codigo" readonly id="usuario" type="text" />
                                                            </div>
                                                            <div class="col-6 col-md-6">
                                                                <label for="password">Contraseña</label>
                                                                <el-input v-model="formulario.password" id="password" show-password :disabled="validated ? false : true"></el-input>
                                                            </div>
                                                        </div>
                                                        </fieldset><br>
                                                        <div class="row">
                                                            <div class="col-6 col-md-4">
                                                                <label for="file">Subir Data</label>
                                                                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept=".XLSX, .CSV" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div><br>
                                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardarData" >Cargar Excel</button>
                                                    <router-link to="/covid" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                                </div>
                                                <div class="tab-pane fade" id="pills-clrprofilesuccess" role="tabpanel" aria-labelledby="pills-clrprofile-tabsuccess">
                                                    <div v-if="errorTrabajador" class="alert alert-danger" role="alert">
                                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                                        <div v-for="(v,k) in errorTrabajador" :key="k">
                                                            <p v-for="error in v" :key="error" class="mb-0">
                                                                {{error}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <fieldset>
                                                            <legend>DATOS DE ACCESO PARA LA EMPRESA</legend>
                                                        <div class="row">
                                                            <div class="col-6 col-md-6">
                                                                <label for="usuario1">Usuario</label><br>
                                                                <input class="form-control"  v-model="formulario.codigo" readonly id="usuario1" type="text" />
                                                            </div>
                                                            <div class="col-6 col-md-6">
                                                                <label for="password1">Contraseña</label>
                                                                <el-input v-model="form.password" id="password1" show-password :disabled="validated ? false : true"></el-input>
                                                            </div>
                                                        </div>
                                                        </fieldset><br>
                                                        <fieldset>
                                                            <legend>DATOS DEL TRABAJADOR</legend>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="nombres">Nombres y Apellidos</label>
                                                                <input class="form-control" v-model="form.nombres" id="nombres" type="text" />
                                                            </div>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="dni">DNI</label>
                                                                <input class="form-control" v-model="form.dni" id="dni" type="text" />
                                                            </div>
                                                            <div class="col">
                                                                <label for="correo">Correo</label>
                                                                <input class="form-control" v-model="form.correo" id="correo" type="text" />
                                                            </div>
                                                        </div>
                                                        </fieldset>
                                                    </div><br>
                                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                                    <router-link to="/covid" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        name: "add",
        data(){
            return{
                formulario:{
                    codigo:'',
                    empresa:'',
                    subir:'',
                    usuario:'',
                    password:'',
                    idempresa:'',
                    idproyecto:''
                },
                file:'',
                arrayCodigo:[],
                fullscreenLoading:false,
                errorData:'',
                errorTrabajador:'',
                idproyecto:'',
                validated:true,
                form:{
                    nombres:'',
                    dni:'',
                    correo:'',
                    usuario:'',
                    password:'',
                    id:''
                }
            }
        },
        methods:{
            guardarData(){
                this.fullscreenLoading = true;
                let formData = new FormData();
                formData.append('file',this.file);
                formData.append('codigo',this.formulario.idproyecto);
                formData.append('idempresa',this.formulario.idempresa);
                formData.append('usuario',this.formulario.codigo);
                formData.append('password',this.formulario.password);
                const config = {headers: {'Content-Type': 'multipart/form-data'}};
                var url = '/monitoreo/covid/importTrabajador';
                axios.post(url,formData,config).then(response =>{
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: response.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.fullscreenLoading = false;
                        this.$router.push('/covid');
                    }else {
                        var error = response.data.errors;
                        var values = '';
                        error.forEach( (value,index) =>{
                                values +=value;
                        });
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: values
                        });

                        this.fullscreenLoading = false;
                    }
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    if (error.response.data.errors){
                        this.errorData = error.response.data.errors;
                        window.scroll({
                            top:100,
                            left:100,
                            behavior:'smooth'
                        });
                    }else {
                        this.errorData = "";
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Error Formato Excel'
                        });
                    }
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                    this.fullscreenLoading = false;
                })
            },
            guardar(){
                this.fullscreenLoading = true;
                axios.post('/monitoreo/covid/agregarTrabajador',{
                    'id':this.id,
                    'nombres':this.form.nombres,
                    'dni':this.form.dni,
                    'correo':this.form.correo,
                    'idempresa':this.formulario.idempresa,
                    'codigo':this.formulario.idproyecto,
                    'usuario':this.form.usuario,
                    'password':this.form.password
                }).then(res =>{
                    if (res.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: res.data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.fullscreenLoading = false;
                        this.$router.push('/covid');
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: res.data.message
                        });
                        this.fullscreenLoading = false;
                    }
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    this.errorTrabajador = error.response.data.errors;
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                    this.fullscreenLoading = false;
                })
            },
            getdata(){
                this.fullscreenLoading = true;
                this.formulario.idproyecto = JSON.parse(localStorage.getItem('idproyecto'));
              axios.post('/monitoreo/comun/obteneridProyecto',{'idproyecto':this.formulario.idproyecto}).then(res =>{
                    this.formulario.idempresa = res.data[0].idempresa;
                    this.formulario.codigo = res.data[0].codigo;
                    this.formulario.empresa = res.data[0].razon_social;
                    this.ocultarCampo();
                  this.fullscreenLoading = false;
              })
            },
            ocultarCampo(){
              axios.post('/monitoreo/covid/validarEmpresa',{'codigo':this.formulario.idproyecto}).then(res =>{
                    if (res.data.success == true){
                        $("#usuario").prop("disabled", false);
                        $("#usuario1").prop("disabled", false);
                       this.validated = true;
                    }else {
                        this.formulario.usuario =res.data[0][0];
                        this.formulario.password =res.data[0][1];
                        this.form.usuario =res.data[0][0];
                        this.form.password =res.data[0][1];
                        $("#usuario").prop("disabled", true);
                        $("#usuario1").prop("disabled", true);
                        this.validated = false;
                    }
              })
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0];
            }
        },
        mounted() {
            this.getdata();
        }
    }
</script>

<style scoped>
    legend {
        font-size: medium;
        color:#00f;
    }
</style>
