<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Encuestas Covid por Fecha</h5>
                        </div>
                        <div class="alert alert-success dark" role="alert">
                            <p style="text-align:center;">
                                <font size="4">Nombre : {{nombre}}  - DNI : {{dni}}</font>
                            </p>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <el-select v-model="seleccion" placeholder="Buscar por"   clearable>
                                    <el-option
                                        v-for="select in arraySelect"
                                        :key="select.id"
                                        :label="select.nombre"
                                        :value="select.id"
                                    >
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="col">
                                <el-date-picker
                                    v-model="fecha"
                                    type="daterange"
                                    range-separator="A"
                                    start-placeholder="Inicio"
                                    end-placeholder="Fin"
                                    format="dd/MM/yyyy"
                                    value-format="yyyy/MM/dd">
                                </el-date-picker>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary"  type="button" @click.prevent="search()" v-loading.fullscreen.lock="fullscreenLoading">
                                    Buscar</button>
                            </div>
                        </div>
                        <template v-if="mode == 1">
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                    <tr class="border-bottom-primary">
                                        <th>Fecha y Hora</th>
                                        <th>Estado</th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="arrayList.length">
                                    <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                        <td v-text="row.fecha_format"></td>
                                        <template v-if="row.estado == 1">
                                            <td>
                                                <a type="button"  v-tooltip="'Ver Preguntas'" @click="verPregunta(row)" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-eye fa-lg fa-2x" style="color: red"></i></a>
                                            </td>
                                        </template>
                                        <template v-else>
                                            <td><i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color: green"></i></td>
                                        </template>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                    <tr>
                                        <td colspan="5">
                                            No hay Registros
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Fecha y Hora</th>
                                        <th>Estado</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="card">
                                    <div class="card-body">
                                        <nav class="m-b-30" aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center pagination-success">
                                                <li class="page-item" v-if="pagination.current_page > 1">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,seleccion,fecha)">Antes</a>
                                                </li>
                                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,seleccion,fecha)" v-text="page"></a>
                                                </li>
                                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,seleccion,fecha)">Siguente</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <br>
                        <div align="center" style="text-align: center;margin: 1rem;padding: 1rem;">
                            <template v-if="usuario.idrol == 8">
                                <router-link to="/empresa/trabajadores" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                            </template>
                            <template v-if="usuario.idrol == 1">
                                <router-link to="/covid" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal BUSCAR CODIGO-->
        <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title">Ver Preguntas</h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <table class="table" >
                                <thead>
                                <tr class="border-bottom-primary">
                                    <th>Fecha y Hora</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                                </thead>
                                <tbody v-if="arraypreguntas.length">
                                <tr v-for="row in arraypreguntas" :key="row.id" class="border-bottom-success">
                                    <td v-text="row.fecha"></td>
                                    <td v-text="row.pregunta"></td>
                                    <td v-text="row.respuesta"></td>
                                </tr>
                                </tbody>
                                <tbody v-else>
                                <tr>
                                    <td colspan="5">
                                        No hay Registros
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Fecha y Hora</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="cerrarModal" >Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        props:['usuario'],
        data(){
            return{
                seleccion:'fecha',
                arraySelect:[
                    {id:'fecha',nombre:'Fecha'}
                ],
                fullscreenLoading:false,
                idusuario:'',
                fecha:'',
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                arrayList:[],
                mode:0,
                modal:0,
                arraypreguntas:[],
                nombre:'',
                dni:'',
            }
        },
        methods :{
            search(){
                if (!this.seleccion == '' && !this.fecha == ''){
                    this.list(1,this.seleccion,this.fecha);
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Debe seleccionar el tipo de busqueda o Seleccionar la Fecha ..!'
                    })
                }
            },
            list(page,select,buscar){
                this.fullscreenLoading = true;
                var url = '/monitoreo/covid/listEncuesta?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'idusuario':this.idusuario}}).then((response) => {
                    this.mode = 1;
                    this.arrayList=response.data.lista.data;
                    this.pagination=response.data.pagination;
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            verPregunta(objeto){
                this.fullscreenLoading = true;
                axios.post('/monitoreo/covid/searchPregunta',{'objeto':objeto}).then(res =>{
                    if (res.data.success == true){
                        this.modal=1;
                        this.arraypreguntas = res.data[0];
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Codigo de error 500'
                        });
                    }
                    this.fullscreenLoading = false;
                })
            },
            cerrarModal(){
                this.modal=0;
            },
            getdata(){
                this.idusuario =JSON.parse(localStorage.getItem('idusuario'));
              axios.post('/monitoreo/covid/searchTrabajador',{'id':this.idusuario}).then(res =>{
                  console.log(res);
                  this.nombre=res.data[0].nombre;
                  this.dni=res.data[0].dni;
              })
            },
            cambiarPagina(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        mounted() {
          this.getdata();
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        }
    }
</script>

<style scoped>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
