<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>AGREGAR DETALLE RUIDO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="2">ÁREA NOMITOREADA: {{area_monitoreada}} - INSTALACIÓN: {{instalacion}} - CALLE Y NÚMERO: {{calle_numero}} - CÓDIGO PROYECTO: {{codigo}}</font></p>
                                </div>
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="punto">Punto Monitoreo</label>
                                                <input class="form-control" v-model="formulario.punto" id="punto" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Fecha</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label for="hora">Hora</label>
                                                <input class="form-control" v-model="formulario.hora" id="hora" type="text" />
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="fuente_ruido">Fuente de Ruido</label>
                                                <input class="form-control" v-model="formulario.fuente_ruido" id="fuente_ruido" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="fuente_foto">Fuente de Ruido (Foto)</label>
                                                <input class="form-control" id="fuente_foto" type="file" @change="getFile"/>
                                            </div>
                                            <div class="col">
                                                <label for="trabajadores_expuestos">Número de Trabajadores Expuestos</label>
                                                <input class="form-control" v-model="formulario.trabajadores_expuestos" id="trabajadores_expuestos" type="text" />
                                            </div>
                                        </div>
                                    </div><br>
                                    <fieldset>
                                        <legend>Intensidad de Ruido db A</legend>
                                        <div class="row">
                                            <div class="col">
                                                <label for="lequiv">Lequiv.</label>
                                                <input type="text" id="lequiv" v-model="formulario.lequiv" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="max">Max.</label>
                                                <input type="text" id="max" v-model="formulario.max" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="min">Min.</label>
                                                <input type="text" id="min" v-model="formulario.min" class="form-control">
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="lequiv1">Lequiv.</label>
                                                <input type="text" id="lequiv1" v-model="formulario.lequiv1" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="max1">Max.</label>
                                                <input type="text" id="max1" v-model="formulario.max1" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="min1">Min.</label>
                                                <input type="text" id="min1" v-model="formulario.min1" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="lequiv2">Lequiv.</label>
                                                <input type="text" id="lequiv2" v-model="formulario.lequiv2" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="max2">Max.</label>
                                                <input type="text" id="max2" v-model="formulario.max2" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="min2">Min.</label>
                                                <input type="text" id="min2" v-model="formulario.min2" class="form-control">
                                            </div>
                                        </div>
                                    </fieldset><br>
                                    <div class="row">
                                        <div class="col">
                                            <label for="actividad_medicion">Actividad que se Realiza Durante la Medición</label>
                                            <textarea class="form-control" v-model="formulario.actividad_medicion" id="actividad_medicion" type="text"></textarea>
                                        </div>
                                    </div><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link :to="{name:'ruido.index'}" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
           idempresa:'',
            arrayEmpresa:{},
            formulario:{
                punto:'',
                fecha:'',
                fuente_ruido:'',
                trabajadores_expuestos:'',
                hora:'',
                actividad_medicion:'',
                lequiv:'',
                lequiv1:'',
                lequiv2:'',
                max:'',
                max1:'',
                max2:'',
                min:'',
                min1:'',
                min2:'',
                file:'0'
            },
            area_monitoreada:'',
            instalacion:'',
            calle_numero:'',
            codigo:'',
            fullscreenLoading:false,
            errorEquipo:'',
            idinstalacion:this.$attrs.idinstalacion,
            idproyecto:this.$attrs.idproyecto
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            let data= new FormData();
            data.append('idinstalacion', this.idinstalacion);
            data.append('idproyecto', this.idproyecto);
            data.append('punto', this.formulario.punto);
            data.append('fecha', this.formulario.fecha);
            data.append('hora',this.formulario.hora);
            data.append('max',this.formulario.max);
            data.append('max1',this.formulario.max1);
            data.append('max2',this.formulario.max2);
            data.append('min',this.formulario.min);
            data.append('min1',this.formulario.min1);
            data.append('min2',this.formulario.min2);
            data.append('lequiv',this.formulario.lequiv);
            data.append('lequiv1',this.formulario.lequiv1);
            data.append('lequiv2',this.formulario.lequiv2);
            data.append('fuente_ruido',this.formulario.fuente_ruido);
            data.append('actividad_medicion',this.formulario.actividad_medicion);
            data.append('trabajadores_expuestos',this.formulario.trabajadores_expuestos);
            data.append('file',this.formulario.file);
            data.append('tipo',0);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/ruido/addDetalleRuido';
            axios.post(url, data, config).then(response => {
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Se Agrego Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push('/ruido');
                    this.fullscreenLoading = false;
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    this.fullscreenLoading = false;
                }
            }).catch(error => {
                this.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
                this.fullscreenLoading = false;
            })
        },
        getFile(e){
            this.formulario.file =e.target.files[0];
        },
        getData(){
          axios.post('/monitoreo/comun/obtenerDataDetalle',{'idinstalacion':this.idinstalacion}).then(response =>{
              this.area_monitoreada=response.data[0].area_monitoreada;
              this.instalacion=response.data[0].instalacion;
              this.calle_numero=response.data[0].calle_numero;
              this.codigo=response.data[0].codigo;
          }).catch(error =>{
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'error 500'
              });
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
                  this.fullscreenLoading = false;
              }
          })
        },
    },
    mounted() {
        this.getData();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}

</style>
