<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EDITAR DETALLE RUIDO</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="alert alert-success dark" role="alert">
                                    <p style="text-align:center;"><font size="2">ÁREA NOMITOREADA: {{area_monitoreada}} - INSTALACIÓN: {{instalacion}} - CALLE Y NÚMERO: {{calle_numero}} - CÓDIGO PROYECTO: {{codigo}}</font></p>
                                </div>
                                <div class="col-xs-12">
                                    <div v-if="errorEquipo" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorEquipo" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <label for="punto">Punto Monitoreo</label>
                                                <input class="form-control" v-model="formulario.punto" id="punto" type="text" />
                                            </div>
                                            <div class="col">
                                                <label>Fecha</label><br>
                                                <el-date-picker
                                                    v-model="formulario.fecha"
                                                    type="date"
                                                    format="dd/MM/yyyy"
                                                    value-format="yyyy-MM-dd">
                                                </el-date-picker>
                                            </div>
                                            <div class="col">
                                                <label for="hora">Hora</label>
                                                <input class="form-control" v-model="formulario.hora" id="hora" type="text" />
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="fuente_ruido">Fuente de Ruido</label>
                                                <input class="form-control" v-model="formulario.fuente_ruido" id="fuente_ruido" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="fuente_foto">Fuente de Ruido (Foto)</label>
                                                <input class="form-control" id="fuente_foto" type="file" accept=".png, .jpeg, .jpg" @change="getFile"/>
                                                <br>
                                                <template v-if="formulario.file == 0">
                                                    <span>No hay Foto</span>
                                                </template>
                                                <template v-else>
                                                    <button class="btn btn-success nextBtn" type="button" @click="imagen(formulario.file)" >Ver Imagen</button>
                                                </template>
                                            </div>
                                            <div class="col">
                                                <label for="trabajadores_expuestos">Numero de Trabajadores Expuestos</label>
                                                <input class="form-control" v-model="formulario.trabajadores_expuestos" id="trabajadores_expuestos" type="text" />
                                            </div>
                                        </div>
                                    </div><br>
                                    <fieldset>
                                        <legend>Intensidad de Ruido db A</legend>
                                        <div class="row">
                                            <div class="col">
                                                <label for="lequiv">Lequiv.</label>
                                                <input type="text" id="lequiv" v-model="formulario.lequiv" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="max">Max.</label>
                                                <input type="text" id="max" v-model="formulario.max" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="min">Min.</label>
                                                <input type="text" id="min" v-model="formulario.min" class="form-control">
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col">
                                                <label for="lequiv1">Lequiv.</label>
                                                <input type="text" id="lequiv1" v-model="formulario.lequiv1" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="max1">Max.</label>
                                                <input type="text" id="max1" v-model="formulario.max1" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="min1">Min.</label>
                                                <input type="text" id="min1" v-model="formulario.min1" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="lequiv2">Lequiv.</label>
                                                <input type="text" id="lequiv2" v-model="formulario.lequiv2" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="max2">Max.</label>
                                                <input type="text" id="max2" v-model="formulario.max2" class="form-control">
                                            </div>
                                            <div class="col">
                                                <label for="min2">Min.</label>
                                                <input type="text" id="min2" v-model="formulario.min2" class="form-control">
                                            </div>
                                        </div>
                                    </fieldset><br>
                                    <div class="row">
                                        <div class="col">
                                            <label for="actividad_medicion">Actividad que se Realiza Durante la Medición</label>
                                            <textarea class="form-control" v-model="formulario.actividad_medicion" id="actividad_medicion" type="text"></textarea>
                                        </div>
                                    </div><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link :to="{name:'ruido.index'}" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Foto-->
        <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Foto</h5>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <img :src="img" alt="foto" width="100%" height="100%">
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="cerrarModal()" >Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
           idempresa:'',
            arrayEmpresa:{},
            formulario:{
                punto:'',
                fecha:'',
                fuente_ruido:'',
                trabajadores_expuestos:'',
                hora:'',
                actividad_medicion:'',
                lequiv:'',
                lequiv1:'',
                lequiv2:'',
                max:'',
                max1:'',
                max2:'',
                min:'',
                min1:'',
                min2:'',
                file:'0'
            },
            area_monitoreada:'',
            instalacion:'',
            calle_numero:'',
            codigo:'',
            fullscreenLoading:false,
            errorEquipo:'',
            idinstalacion:this.$attrs.idinstalacion,
            idproyecto:this.$attrs.idproyecto,
            id:'',
            modal:0,
            img:''
        }
    },
    methods:{
        guardar(){
            this.fullscreenLoading = true;
            let data= new FormData();
            data.append('idinstalacion', this.idinstalacion);
            data.append('idproyecto', this.idproyecto);
            data.append('punto', this.formulario.punto);
            data.append('fecha', this.formulario.fecha);
            data.append('hora',this.formulario.hora);
            data.append('max',this.formulario.max);
            data.append('max1',this.formulario.max1);
            data.append('max2',this.formulario.max2);
            data.append('min',this.formulario.min);
            data.append('min1',this.formulario.min1);
            data.append('min2',this.formulario.min2);
            data.append('lequiv',this.formulario.lequiv);
            data.append('lequiv1',this.formulario.lequiv1);
            data.append('lequiv2',this.formulario.lequiv2);
            data.append('fuente_ruido',this.formulario.fuente_ruido);
            data.append('actividad_medicion',this.formulario.actividad_medicion);
            data.append('trabajadores_expuestos',this.formulario.trabajadores_expuestos);
            data.append('file',this.formulario.file);
            data.append('id',this.id);
            data.append('tipo',1);
            const config = {headers: {'Content-Type': 'multipart/form-data'}};
            var url = '/monitoreo/ruido/addDetalleRuido';
            axios.post(url, data, config).then(response => {
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Se Edito Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.$router.push('/ruido');
                    this.fullscreenLoading = false;
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                    this.fullscreenLoading = false;
                }
            }).catch(error => {
                this.errorEquipo = error.response.data.errors;
                window.scroll({
                    top:100,
                    left:100,
                    behavior:'smooth'
                });
                this.fullscreenLoading = false;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'});
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getFile(e){
            this.formulario.file =e.target.files[0];
        },
        imagen(tipo){
            this.modal=1;
            this.img=tipo;
        },
        getData(){
            this.fullscreenLoading = true;
          axios.post('/monitoreo/comun/obtenerDataDetalle',{'idinstalacion':this.idinstalacion}).then(response =>{
              this.area_monitoreada=response.data[0].area_monitoreada;
              this.instalacion=response.data[0].instalacion;
              this.calle_numero=response.data[0].calle_numero;
              this.codigo=response.data[0].codigo;
              this.getDataDetalle();
              this.fullscreenLoading = false;
          }).catch(error =>{
              this.fullscreenLoading = false;
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'error 500'
              });
              if (error.response.status == 401) {
                  this.$router.push({name: 'login'})
                  location.reload();
                  sessionStorage.clear();
                  this.fullscreenLoading = false;
              }
          })
        },
        getDataDetalle(){
            axios.post('/monitoreo/ruido/getRuido',{'idinstalacion':this.idinstalacion}).then(response=>{
                this.formulario.punto=response.data[0].punto_monitoreo;
                this.formulario.fecha=response.data[0].fecha_monitoreo;
                    this.formulario.fuente_ruido=response.data[0].fuente_ruido;
                    this.formulario.trabajadores_expuestos=response.data[0].numero_trabajadores;
                    this.formulario.hora=response.data[0].hora_monitoreo;
                    this.formulario.actividad_medicion=response.data[0].actividades;
                    this.formulario.lequiv=response.data[0].lequiv1;
                    this.formulario.lequiv1=response.data[0].lequiv2;
                    this.formulario.lequiv2=response.data[0].lequiv3;
                    this.formulario.max=response.data[0].max1;
                    this.formulario.max1=response.data[0].max2;
                    this.formulario.max2=response.data[0].max3;
                    this.formulario.min=response.data[0].min1;
                    this.formulario.min1=response.data[0].min2;
                    this.formulario.min2=response.data[0].min3;
                    this.formulario.file=response.data[0].foto;
                this.id=response.data[0].id
            }).catch(error =>{
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        cerrarModal(){
            this.modal=0;
        },
    },
    mounted() {
        this.getData();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
.mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: fixed !important;
    padding-top: 100px !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    margin: auto;
    background-color: #3c29297a !important;
}
</style>
