<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Lista de Ruido</h5>
                            <div class="alert alert-success dark" role="alert">
                                <p style="text-align:center;">
                                    <template v-if="codigo">
                                        <font size="4">Código Proyecto: {{codigo}}</font>
                                    </template>
                                    <template v-else>
                                        <font size="4">Código Proyecto: {{newcodigo}}</font>
                                    </template>
                                </p>
                            </div>
                        </div>
                        <div style=" text-align: center;">
                            <template v-if="showbutton == 1">
                            <button @click="abrirModal()" class="btn btn-primary" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR INSTALACIÓN</button>
                            </template>
                        </div>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <template v-if="showbutton == 1">
                                    <a @click="formatoLey()" href="javascript:void(0)" v-tooltip="'Generar Formato de Ley'" ><i class="fa fa-download fa-2x" style="color: blue"></i></a>
                                    </template>
                                </div>
                                <div class="col-9">
                                    <a @click="searchCodigo()" href="javascript:void(0)" v-tooltip="'Ingresar Nuevo Código'" ><i class="fa fa-refresh fa-2x" style="color: red"></i></a>
                                </div>
                                <div class="col">
                                    <template v-if="showbutton == 1">
                                    <a @click="excel()" href="javascript:void(0)" v-tooltip="'exportar Instalaciones a Excel'" ><i class="fa fa-file-excel-o fa-2x" style="color: blue"></i></a>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <el-select v-model="select" placeholder="Buscar por"   clearable>
                                        <el-option
                                            v-for="select in arraySelect"
                                            :key="select.id"
                                            :label="select.nombre"
                                            :value="select.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col">
                                    <div class="col-md-12 mb-12">
                                        <input class="form-control" type="text" v-model="busqueda" @keyup.enter="list(1,select,busqueda)" placeholder="Escribe la busqueda">
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary"  type="button" @click.prevent="list(1,select,busqueda)" v-loading.fullscreen.lock="fullscreenLoading">
                                        Buscar</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table" >
                                    <thead>
                                    <tr class="border-bottom-primary">
                                        <th>Area Monitoreada</th>
                                        <th>Instalacion</th>
                                        <th>Descripcion Instalacion</th>
                                        <th>Area Geografica</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody v-if="arrayList.length">
                                    <tr v-for="row in arrayList" :key="row.id" class="border-bottom-success">
                                        <td v-text="row.area_monitoreada"></td>
                                        <td v-text="row.instalacion"></td>
                                        <td v-text="row.descripcion_instalacion"></td>
                                        <td v-text="row.area_geografica"></td>
                                        <td>
                                           <template v-if="row.estado == 1">
                                               <router-link :to="{name:'ruido.editar',params:{idinstalacion:row.id,idproyecto:row.idproyecto}}" v-tooltip="'Editar Ruido'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-edit fa-lg fa-2x" style="color: green"></i></router-link>
                                           </template>
                                            <template v-else>
                                                <router-link :to="{name:'ruido.agregar',params:{idinstalacion:row.id,idproyecto:row.idproyecto}}" v-tooltip="'Agregar Ruido'" v-loading.fullscreen.look="fullscreenLoading"><i class="fa fa-plus fa-lg fa-2x" style="color: green"></i></router-link>
                                            </template>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else>
                                    <tr>
                                        <td colspan="5">
                                            No hay Instalaciones
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Area Monitoreada</th>
                                        <th>Instalacion</th>
                                        <th>Descripcion Instalacion</th>
                                        <th>Area Geografica</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="card">
                                    <div class="card-body">
                                        <nav class="m-b-30" aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center pagination-success">
                                                <li class="page-item" v-if="pagination.current_page > 1">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page - 1,select,busqueda)">Antes</a>
                                                </li>
                                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,select,busqueda)" v-text="page"></a>
                                                </li>
                                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                                    <a class="page-link" href="#"  @click.prevent="cambiarPagina(pagination.current_page + 1,select,busqueda)">Siguente</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal AGREGAR INSTALACION-->
        <div class="modal fade text-left" :class="{'mostrar' : modal}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-success white">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button type="button" class="close" @click="cerrarModal(0)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <label for="area">Área Monitoreada</label>
                                    <textarea class="form-control"  v-model="formulario.area" id="area" type="text" ></textarea>
                                </div>
                                <div class="col-6 col-md-4">
                                    <label for="instalacion">Instalación</label>
                                    <textarea class="form-control"  v-model="formulario.instalacion" id="instalacion" type="text"></textarea>
                                </div>
                                <div class="col-6 col-md-4">
                                    <label for="descripcion">Descripción Instalación</label>
                                    <textarea class="form-control"  v-model="formulario.descripcion" id="descripcion" type="text"></textarea>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <label for="calle">Calle y Número</label>
                                    <textarea class="form-control"  v-model="formulario.calle" id="calle" type="text"></textarea>
                                </div>
                                <div class="col-6 col-md-4">
                                    <label for="distrito">Distrito</label>
                                    <textarea class="form-control"  v-model="formulario.distrito" id="distrito" type="text"></textarea>
                                </div>
                                <div class="col-6 col-md-4">
                                    <label for="geografica">Área Geográfica</label>
                                    <textarea class="form-control"  v-model="formulario.geografica" id="geografica" type="text"></textarea>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <label for="region">Región Geográfica</label>
                                    <textarea class="form-control"  v-model="formulario.region" id="region" type="text"></textarea>
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                          <button class="btn btn-success nextBtn" type="button" @click="guardarTrabajador" >Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal BUSCAR CODIGO-->
        <div class="modal fade text-left" :class="{'mostrar1' : modal1}" tabindex="-1" role="dialog" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" v-text="tituloModal1"></h5>
                        <button type="button" class="close" @click="cerrarModal(1)" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <label for="searchcodigo">Ingrese el Código del Proyecto</label>
                                    <textarea class="form-control"  v-model="codigo" id="searchcodigo" type="text"></textarea>
                                </div>
                            </div>
                        </div><br>
                        <div style=" text-align: center;">
                            <button class="btn btn-success nextBtn" type="button" @click="encontrarCodigo" >Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data(){
            return{
                select:'i.area_monitoreada',
                busqueda:'',
                arraySelect:[
                    {id:'i.area_monitoreada',nombre:'Area Monitoreada'}
                ],
                fullscreenLoading:false,
                arrayList:[],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                modal:0,
                modal1:0,
                tituloModal:'Agregar Instalación',
                tituloModal1:'Buscar Codigo',
                idproyecto:'',
                formulario:{
                    area:'',
                    instalacion:'',
                    descripcion:'',
                    calle:'',
                    distrito:'',
                    geografica:'',
                    region:''
                },
                codigo:'',
                newcodigo:'',
                showbutton:0
            }
        },
        methods :{
            list(page,select,buscar) {
                this.fullscreenLoading = true;
                var url = '/monitoreo/ruido/getListarInstalacion?page='+page +'&select='+select+'&buscar='+buscar;
                axios.get(url,{params:{'idproyecto':this.idproyecto}}).then((response) => {
                    this.arrayList=response.data.lista.data;
                    this.pagination=response.data.pagination;
                    localStorage.setItem('idproyecto',JSON.stringify(this.idproyecto));
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No se Encontro la Lista de Instalaciones'
                    });
                })
            },
            excel(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                let data= new FormData();
                data.append('idproyecto',this.idproyecto);
                var url ='/monitoreo/ruido/exportExcelInstalacion';
                axios.post(url,data,config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.ms-excel'}); // the blob
                    var url = document.createElement('a');
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Instalaciones Monitoreados Ruido.xlsx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Error en descargar la Lista de Trabajadores Monitoreados'
                    });
                })
            },
            formatoLey(){
                this.fullscreenLoading = true;
                var config ={
                    responseType:'blob'
                };
                let data= new FormData();
                data.append('idproyecto',this.idproyecto);
                var url ='/monitoreo/ruido/exportFormatoLey';
                axios.post(url,data,config).then(response =>{
                    var oMyBlob = new Blob([response.data], {type : 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'}); // the blob
                    var url = document.createElement('a');
                    url.href = URL.createObjectURL(oMyBlob);
                    url.download = 'Formato de Ley Ruido.docx';
                    url.click();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    this.fullscreenLoading = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Error en descargar Formato de ley'
                    });
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            abrirModal(){
                this.modal=1;
            },
            cerrarModal(tipo){
                if (tipo == 0){
                    this.modal=0;
                }else {
                    this.modal1=0;
                }
            },
            guardarTrabajador(){
                axios.post('/monitoreo/ruido/addInstalacion',
                    {'formulario':this.formulario,'idproyecto':this.idproyecto,'estado':'Instalacion'}).then(response =>{
                    if (response.data.success == true){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Se Agrego Correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.modal=0;
                        this.list(1,this.select,this.busqueda);
                    }else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Codigo de error 500'
                        });
                    }
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                        this.fullscreenLoading = false;
                    }
                })
            },
            searchCodigo(){
                Swal.fire({
                    title: 'Codigo de Proyecto',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Abrir',
                    showLoaderOnConfirm: true,
                    preConfirm: (codigo) => {
                        if(codigo == ''){
                            Swal.showValidationMessage(
                                `Por Favor Completa el Campo`
                            )
                        }else{
                            axios.post('/monitoreo/comun/obtenerCodigo',{'codigo':codigo,'tipo':'Ruido'})
                                .then(response =>{
                                    if (response.data.success == true){
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'success',
                                            title: 'Proyecto Encontrado',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                        this.codigo = codigo;
                                        this.showbutton = 1;
                                        this.idproyecto=response.data.id.id;
                                        this.list(1,this.select,this.busqueda);
                                        this.fullscreenLoading = false;
                                    }else{
                                        this.fullscreenLoading = false;
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Oops...',
                                            text: 'No se Encontro el Proyecto'
                                        });
                                        this.showbutton = 0;
                                        this.searchCodigo();
                                    }
                                }).catch(error =>{
                                if (error.response.status == 401) {
                                    this.$router.push({name: 'login'})
                                    location.reload();
                                    sessionStorage.clear();
                                    this.fullscreenLoading = false;
                                }
                            })
                        }
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'No se Encontro el Proyecto',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
            },
            buscarCodigo(){
              this.modal1 =1;
            },
            encontrarCodigo(){
              if (this.codigo == ''){
                  Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: 'Ingrese algun Codigo de Proyecto'
                  });
              }else {
                  axios.post('/monitoreo/comun/obtenerCodigo',{'codigo':this.codigo,'tipo':'Ruido'})
                      .then(response =>{
                          if (response.data.success == true){
                              Swal.fire({
                                  position: 'top-end',
                                  icon: 'success',
                                  title: 'Proyecto Encontrado',
                                  showConfirmButton: false,
                                  timer: 1500
                              });
                              this.modal1=0;
                              this.showbutton = 1;
                              this.idproyecto=response.data.id.id;
                              this.list(1,this.select,this.busqueda);
                              this.fullscreenLoading = false;
                          }else{
                              this.fullscreenLoading = false;
                              Swal.fire({
                                  icon: 'error',
                                  title: 'Oops...',
                                  text: 'No se Encontro el Proyecto'
                              });
                              this.showbutton = 0;
                          }
                      }).catch(error =>{
                      if (error.response.status == 401) {
                          this.$router.push({name: 'login'})
                          location.reload();
                          sessionStorage.clear();
                          this.fullscreenLoading = false;
                      }
                  })
              }
            },
            verificarCodigo(){
                this.fullscreenLoading = true;
              if (JSON.parse(localStorage.getItem('idproyecto'))){
                  this.idproyecto =JSON.parse(localStorage.getItem('idproyecto'));
                  axios.post('/monitoreo/comun/verificarId',{'idproyecto':this.idproyecto,'tipo':'Ruido'}).then(response =>{
                      if (response.data.success == true){
                          this.newcodigo =response.data.codigo.codigo;
                          this.showbutton = 1;
                          this.list(1,this.select,this.busqueda);
                          this.fullscreenLoading = false;
                      }else {
                          this.fullscreenLoading = false;
                          this.buscarCodigo();
                      }
                  }).catch(error =>{
                      if (error.response.status == 401) {
                          this.$router.push({name: 'login'})
                          location.reload();
                          sessionStorage.clear();
                          this.fullscreenLoading = false;
                      }
                  })
              }else {
                  this.fullscreenLoading = false;
                  this.buscarCodigo();
              }
            },
            cambiarPagina(page,select,buscar){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.list(page,select,buscar);
            },
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }

                var from = this.pagination.current_page - this.offset;
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2);
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;

            },
        },
        mounted() {
            this.verificarCodigo();
        }
    }
</script>

<style scoped>
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
    .mostrar1{
        display: list-item !important;
        opacity: 1 !important;
        position: fixed !important;
        padding-top: 100px !important; /* Location of the box */
        left: 0 !important;
        top: 0 !important;
        width: 100% !important; /* Full width */
        margin: auto;
        background-color: #3c29297a !important;
    }
</style>
