<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>EDITAR INSTALACIÓN</h5>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="col-xs-12">
                                    <div v-if="errorPersona" class="alert alert-danger" role="alert">
                                        <h4 class="alert-heading">Por favor Corrige los Errores</h4>
                                        <div v-for="(v,k) in errorPersona" :key="k">
                                            <p v-for="error in v" :key="error" class="mb-0">
                                                {{error}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6 col-md-4">
                                                <label for="area">Área Monitoreada</label>
                                                <textarea class="form-control"  v-model="formulario.area" id="area" type="text" ></textarea>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label for="instalacion">Instalación</label>
                                                <textarea class="form-control"  v-model="formulario.instalacion" id="instalacion" type="text"></textarea>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label for="descripcion">Descripción Instalación</label>
                                                <textarea class="form-control"  v-model="formulario.descripcion" id="descripcion" type="text"></textarea>
                                            </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-6 col-md-4">
                                                <label for="calle">Calle y Número</label>
                                                <textarea class="form-control"  v-model="formulario.calle" id="calle" type="text"></textarea>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label for="distrito">Distrito</label>
                                                <textarea class="form-control"  v-model="formulario.distrito" id="distrito" type="text"></textarea>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <label for="geografica">Área Geográfica</label>
                                                <textarea class="form-control"  v-model="formulario.geografica" id="geografica" type="text"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <label for="region">Región Geográfica</label>
                                                <textarea class="form-control"  v-model="formulario.region" id="region" type="text"></textarea>
                                            </div>
                                        </div>
                                    </div><br>
                                    <button class="btn btn-success nextBtn pull-right" type="button" @click="guardar" >Guardar</button>
                                    <router-link :to="{name:'trabajador.ver',params:{id:idproyecto,estado:estado}}" class="btn btn-danger nextBtn pull-left" type="button" v-loading.fullscreen.lock="fullscreenLoading">Atras</router-link>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import Swal from 'sweetalert2';
export default {
    data(){
        return{
            formulario:{
                area:'',
                instalacion:'',
                descripcion:'',
                calle:'',
                distrito:'',
                geografica:'',
                region:''
            },
            fullscreenLoading:false,
            errorPersona:'',
            id:this.$attrs.id,
            estado:this.$attrs.estado,
            idproyecto:this.$attrs.idproyecto,
        }
    },
    methods:{
        guardar(){
            let me = this;
            var idproyecto = this.idproyecto;
            var estado = this.estado;
            var id=this.id;
            axios.post('/monitoreo/trabajador/instalacion/agregarInstalacion',{
                'formulario':this.formulario,
                'idproyecto':this.idproyecto,
                'estado':this.estado,
                'id':id
            }).then(function (response) {
                if (response.data.success == true){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Se Agrego Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    me.$router.push({name:'trabajador.ver',params:{id:idproyecto,estado:estado}});
                }else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Codigo de error 500'
                    });
                }
            }).catch(error => {
                me.errorPersona = error.response.data.errors;
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        },
        getdata(){
            this.fullscreenLoading = true;
            axios.post('/monitoreo/trabajador/instalacion/getInstalacion',{
                'id':this.id,'estado':this.estado,'idproyecto':this.idproyecto}).then(response =>{
                this.formulario.area = response.data[0].area_monitoreada;
                this.formulario.instalacion = response.data[0].instalacion;
                this.formulario.descripcion = response.data[0].descripcion_instalacion;
                this.formulario.calle = response.data[0].calle_numero;
                this.formulario.distrito = response.data[0].distrito;
                this.formulario.geografica = response.data[0].area_geografica;
                this.formulario.region = response.data[0].region_geografica;
                this.fullscreenLoading = false;
            }).catch(error =>{
                this.fullscreenLoading = false;
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Codigo de error 500'
                });
                if (error.response.status == 401) {
                    this.$router.push({name: 'login'})
                    location.reload();
                    sessionStorage.clear();
                    this.fullscreenLoading = false;
                }
            })
        }
    },
    mounted() {
        this.getdata();
    }
}

</script>

<style scoped>
legend {
    font-size: medium;
    color:#00f;
}
.el-select{
    width: 340px;
}
</style>
