<template>
	<div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="alert alert-success dark" role="alert">
                                <p style="text-align:center;">
                                    <font size="6">Indicadores Empresa</font>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-primary b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-tachometer fa-3x"></i></div>
                                            <div class="media-body"><span class="m-0">Total Empresas</span>
                                                <h4 class="mb-0 counter">{{total}}</h4><i class="empresa fa fa-tachometer" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-6 col-lg-6">
                                <div class="card o-hidden">
                                    <div class="bg-secondary b-r-4 card-body">
                                        <div class="media static-top-widget">
                                            <div class="text-center"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i></div>
                                            <div class="media-body"><span class="m-0">Empresas Agregadas en {{nombreMes}}</span>
                                                <h4 class="mb-0 counter">{{mesActual}}</h4><i class="empresa fa fa-user-plus" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col">

                                    </div>
                                    <div class="col-8">
                                        <canvas id="myChart" height="100vw" width="100vw"  v-loading.fullscreen.look="fullscreenLoading"></canvas>
                                    </div>
                                    <div class="col">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';
    export default {
        name: "index",
        data(){
            return{
                meses:[],
                datameses:[],
                total:'',
                mesActual:'',
                nombreMes:'',
                fullscreenLoading:false,
        }
        },
        methods:{
            getGrafico(){
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Enero','Febero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Setiembre','Octubre','Noviembre','Diciembre'],
                        datasets: [{
                            label: 'Empresas por Mes',
                            data: this.datameses,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    stepSize: 1
                                },
                                scaleLabel:{
                                    display:true,
                                    labelString:'Cantidad'
                                }
                            }],
                            xAxes:[{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Meses'
                                }
                            }]
                        }
                    }
                });
            },
            getData(){
                this.fullscreenLoading = true;
                axios.get('/monitoreo/empresa/dashboard').then(response =>{
                    this.total = response.data.total;
                    this.mesActual = response.data.mesActual;
                    this.datameses = response.data[0];
                    this.nombreMes=response.data.mes;
                    this.getGrafico();
                    this.fullscreenLoading = false;
                }).catch(error =>{
                    if (error.response.status == 401) {
                        this.$router.push({name: 'login'})
                        location.reload();
                        sessionStorage.clear();
                    }
                })
            }
        },
        mounted() {
            this.getData();
        }
    }
</script>

<style scoped>
.empresa{
    position: absolute;
    right: -0px;
    top: 0px;
    width: 100px;
    height: 100px;
    opacity: 0.3;
    font-size: 7em;
}
</style>
