<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>HOMOLOGACIÓN DE PROVEEDORES</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="u-steps u-steps-vertical" >
                                        <div class="u-step current" style="width: 350px;margin: 0 auto;">
                                            <span class="u-step-number">1</span>
                                            <div class="u-step-desc"><span class="u-step-title">Fecha de Finalización</span>
                                                <!--<p>Pay for the bill</p>-->
                                            </div>
                                        </div><br>
                                        <div class="row" style="width: 350px;margin: 0 auto;">
                                            <div class="col">
                                                <label for="fecha">Fecha</label>
                                                <input class="form-control" id="fecha" v-model="fecha" type="text" />
                                            </div>
                                            <div class="col">
                                                <label for="hora">Hora</label>
                                                <input class="form-control" id="hora" v-model="hora"  type="text" />
                                            </div>
                                        </div><br>
                                        <div class="u-step current" style="width: 350px;margin: 0 auto;">
                                            <span class="u-step-number">2</span>
                                            <div class="u-step-desc"><span class="u-step-title">Información de Empresa</span>
                                                <!-- <p>Choose what you want</p>-->
                                            </div>
                                        </div><br>
                                        <div align="center">
                                            <button @click="encuesta()" class="btn btn-success" type="button" v-loading.fullscreen.lock="fullscreenLoading">AGREGAR</button>
                                        </div>
                                        <br>
                                        <div class="u-step current" style="width: 350px;margin: 0 auto;">
                                            <span class="u-step-number">3</span>
                                            <div class="u-step-desc"><span class="u-step-title">Resultados</span>
                                                <!--<p>Waiting for the goods</p>-->
                                            </div>
                                        </div><br>
                                        <div align="center">
                                            <button @click="dahboard()" class="btn btn-success" type="button" v-loading.fullscreen.lock="fullscreenLoading">VER</button>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        data(){
            return{
                moment:moment,
                fecha:'',
                hora:'',
                interval:'',
                estado:'',
                fullscreenLoading:false
            }
        },
        methods :{
            encuesta(){
                this.$router.push({name: 'homologacion.contratista.encuesta'})
            },
            dahboard(){
                this.$router.push({name: 'homologacion.contratista.resultado'})
            },
            gethora(){
                this.interval = setInterval(  ()=>{
                    this.hora=moment().format('LTS');
                },1000);
                this.fecha=moment().format('L');
            },
            getinfo(){
                axios.get('/monitoreo/homologacion/getinfo').then(res =>{
                    if (res.data.success == true){
                        this.estado = 1;
                    }else {
                        this.estado = 0;
                    }
                })
            }
        },
        mounted() {
            this.gethora();
        }
    }
</script>

<style scoped>
.box{
    position:absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width:200px;
}
</style>
